<div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">

	<div style="width:100%" fxLayout="column" class="column-content border-component">
		<mat-expansion-panel [expanded]="true" class="expansion-content">
			<mat-expansion-panel-header class="component-title">
				<mat-panel-title>
					<div fxLayout="row" fxLayoutAlign="start center">
						<h2>Kategori</h2>
						<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>-->
					</div>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<div fxLayout="row" class="component first-component">
				<mat-form-field>
					<input data-cy="selectedcategory-input" autocomplete="off" type="text" matInput readonly
								 [formControl]="selectedCategoryForm"
								 (click)="openSelectCategoryDialog()">
					<button data-cy="clearcat-btn"
									*ngIf="selectedCategoryForm.value"
									matSuffix
									mat-mini-fab
									aria-label="Clear"
									(click)="clearCategory()">
						<mat-icon>close</mat-icon>
					</button>
					<mat-label>Kategori</mat-label>
					<mat-error data-cy="caterror" *ngIf="categoryError">{{categoryError}}</mat-error>
				</mat-form-field>
				<mat-hint *ngIf="categoryHasProductsOrArticles" style="color:red">Observera att ändringar/borttagande av
					kategori(artikel)specifika egenskaper kommer att påverka befintliga artiklar och dess egenskaper.
				</mat-hint>
			</div>
		</mat-expansion-panel>
	</div>
</div>

<div *ngIf="this.selectedCategory != null" fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}"
		 fxLayoutGap="10px">
	<div style="width:60%" fxLayout="column" class="column-content border-component">
		<mat-expansion-panel [expanded]="true" class="expansion-content">
			<mat-expansion-panel-header class="component-title">
				<mat-panel-title>
					<div fxLayout="row" fxLayoutAlign="start center">
						<h2>Egenskaper</h2>
						<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>-->
					</div>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<!--###########################-->

			<div style="margin-top:20px">

				<div cdkDropList (cdkDropListDropped)="drop($event)">
					<div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px"
							 *ngFor="let property of categoryProperties" cdkDrag cdkDragLockAxis="y">
						<div style="width:100%" fxLayout="column" class="column-content border-component">
							<mat-expansion-panel class="expansion-content">
								<mat-expansion-panel-header class="component-title">
									<mat-panel-title>
										<div fxLayout="row" fxLayoutAlign="start center">
											<h2>{{property.name}}</h2>
											<mat-chip style="float:right;">{{this.visualTypes[property.type]}}</mat-chip>
											<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
																	matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
																	[matTooltipShowDelay]="500">info_outline
												</mat-icon>-->


										</div>
									</mat-panel-title>
								</mat-expansion-panel-header>
								<div fxLayout="row" fxLayoutGap="10px">
									<mat-panel-description style="width:50%; padding:10px;">
										<mat-form-field>
											<textarea rows="3" autocomplete="off" matInput disabled [(ngModel)]="property.name"></textarea>
											<mat-label>Namn</mat-label>
										</mat-form-field>

										<mat-form-field>
                      <textarea rows="3" autocomplete="off" matInput disabled
																[(ngModel)]="property.description"></textarea>
											<mat-label>Beskrivning</mat-label>
										</mat-form-field>


									</mat-panel-description>

								</div>
								<div *ngIf="property.values" fxLayout="row" fxLayoutGap="10px">
									<mat-card style="width:100%; padding:10px;">

										<mat-card-content>
											Alternativ
											<Br>
											<mat-chip-set>
												<div *ngFor="let item of property.values">
													<mat-chip *ngIf="item.value.length > 0">
														{{item.value}}
													</mat-chip>
												</div>

											</mat-chip-set>
										</mat-card-content>
									</mat-card>
								</div>

								<mat-action-row>
									<button data-cy="deleteprop-btn"
													mat-mini-fab
													(click)="deleteProperty(property.id)"
													style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;">
										<mat-icon>delete</mat-icon>
									</button>
									<button data-cy="editprop-btn" (click)="EditProperty(property)"
													style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;"
													mat-button>Ändra
									</button>
								</mat-action-row>
							</mat-expansion-panel>
						</div>
					</div>
				</div>
				<button data-cy="saveorder-btn" *ngIf="categoryProperties.length != 0" (click)="savePropertyOrder()">Spara
					egenskaper i den här ordningen
				</button>
			</div>

		</mat-expansion-panel>

	</div>
	<div style="width:40%" fxLayout="column" class="column-content border-component">
		<mat-expansion-panel [expanded]="true" class="expansion-content">
			<mat-expansion-panel-header class="component-title">
				<mat-panel-title>
					<div fxLayout="row" fxLayoutAlign="start center">
						<h2>Lägg till ny egenskap</h2>
						<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>-->
					</div>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<!--###########################-->

			<div style="margin-top:20px">
				<div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
					<div style="width:50%" fxLayout="column" class="column-content">
						<mat-form-field floatLabel="always">
							<mat-select data-cy="csptype-dropdown" [ngModel]="selectedFormType"
													(ngModelChange)="onChangeType($event)">
								<mat-option *ngFor="let item of this.Types" [value]="item.type">
									{{item.name}}
								</mat-option>
							</mat-select>
							<mat-label class="icon-label">Välj typ
								<!--          <mat-icon  class="tooltip">info_outline
													</mat-icon>-->
								<mat-icon class="tooltip"
													matTooltip="Välj typ av fält där den nya egenskapen ska visas"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
							<mat-error data-cy="errorwithoutname"></mat-error>
						</mat-form-field>

					</div>

				</div>
				<div *ngIf="selectedFormType" fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}"
						 fxLayoutGap="10px">
					<app-create-category-property
						[categoryId]=this.selectedCategory.id
						[selectedFormType]=this.selectedFormType
						[categoryProperties]=this.categoryProperties
						[CleanUpParent]="CleanUpParent"
					></app-create-category-property>
				</div>

			</div>

			<!--#####################-->


		</mat-expansion-panel>

	</div>
</div>


<!--<mat-panel >
  <mat-card-title>Egenskaper</mat-card-title>
  <mat-card-content>
    <mat-expansion-panel class="expansion-content">
      <mat-expansion-panel-header class="component-title">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center">
            <h2>Kategori</h2>

          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="row" class="component first-component">

      </div>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-panel>-->





