<section class="content border-component" fxLayout="column" fxLayoutGap="10px">
	<div class="component-title" style="padding: 10px;">
		<h2>{{title}}</h2>
	</div>

	<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 20px;">

		<ng-container matColumnDef="ändringsdatum">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">Ändrad</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.dateChanged | date:'yyyy-MM-dd HH:mm:ss'}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="artikelnummer">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Artikelnummer</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.articleNumber}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="leverantör">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">Leverantör</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">{{item.supplierName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="artikelnamn">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Artikelbenämning <br> Ny/Gammal</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.newArticleName}}<br> {{item.oldArticleName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="beställningsenhet">
			<mat-header-cell *matHeaderCellDef fxFlex="10%">Beställningsenhet <br> Ny/Gammal</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%">
				<div *ngIf="item.newOrderUnit != item.oldOrderUnit">{{item.newOrderUnit}}<br> {{item.oldOrderUnit}}</div>
			</mat-cell>
		</ng-container>


		<ng-container matColumnDef="ce-märkning">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">CE-märkning <br> Ny/Gammal</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">
				<div *ngIf="item.newCEmarked != item.oldCEmarked">{{item.newCEmarked == "true" ? "Ja" : "Nej"}}
					<br>{{item.oldCEmarked == "true" ? "Ja" : "Nej"}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="ce-direktiv">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">CE-direktiv <br> Nytt/Gammalt</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">
				<div
					*ngIf="item.newCVCEdirective != item.oldCVCEdirective">{{item.newCVCEdirective == null ? "-" : item.newCVCEdirective}}
					<br>{{item.oldCVCEdirective == null ? "-" : item.oldCVCEdirective}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="ce-standard">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">CE-standard <br> Ny/Gammal</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">
				<div
					*ngIf="item.newCVCEstandard != item.oldCVCEstandard">{{item.newCVCEstandard == null ? "-" : item.newCVCEstandard}}
					<br> {{item.oldCVCEstandard == null ? "-" : item.oldCVCEstandard}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="utgångsdatum">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">Utgångsdatum <br> Nytt/Gammalt</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">
				<div
					*ngIf="item.newReplacementDate != null && item.newReplacementDate != item.oldReplacementDate">{{item.newReplacementDate | date:'yyyy-MM-dd'}}
					<br>{{item.oldReplacementDate == null ? "-" : item.oldReplacementDate | date:'yyyy-MM-dd'}}</div>
				<div *ngIf="item.newReplacementDate == null && item.oldReplacementDate != null">Återaktiverad</div>

			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="ersättningsartikel">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">Ersättningsartikel</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">
				<div *ngIf="item.newReplacementDate != null && item.replacementArticles != null">
					<div *ngFor="let rpArt of item.replacementArticles">{{rpArt}}</div>
				</div>
				<div *ngIf="item.newReplacementDate != null && item.replacementArticles == null">{{"-"}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="baseradpå">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">Baserad på produkt <br> Nytt/Gammalt produktnummer
			</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.newBasedOnProductNumber}}
				<br>{{item.oldBasedOnProductNumber}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="iso">
			<mat-header-cell *matHeaderCellDef fxFlex="14%">Kategori <br> Ny/Gammal</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="14%"> {{item.newIsoCode}}<br>{{item.oldIsoCode}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="articleMenu">
			<mat-header-cell *matHeaderCellDef fxFlex="4%"></mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="4%">

				<button data-cy="article-notice-menu-btn" mat-icon-button [matMenuTriggerFor]="articleMenu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #articleMenu="matMenu">


					<button data-cy="goto-article-btn" mat-menu-item
									routerLink="/organization/{{item.supplierId}}/article/{{item.articleId}}/handle">
						<mat-icon>open_in_browser</mat-icon>
						<span>Gå till artikel</span>
					</button>

					<button data-cy="removenotice-btn" mat-menu-item
									(click)="removeArticleNotice(item.supplierId, item.uniqueId, false)">
						<mat-icon color="warn">block</mat-icon>
						<span>Ta bort notis</span>
					</button>

					<button data-cy="remove-all-notice-btn" mat-menu-item
									(click)="removeArticleNotice(item.supplierId, item.uniqueId, true)">
						<mat-icon color="warn">delete</mat-icon>
						<span>Ta bort alla notiser</span>
					</button>

				</mat-menu>


			</mat-cell>
		</ng-container>

		<!--PELLE-->
		<!--    <ng-container matColumnDef="anchor">-->
		<!--      <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
		<!--      <mat-cell *matCellDef="let item">-->
		<!--        <a href="/organization/{{item.supplierId}}/article/{{item.articleId}}/handle" (click)="removeArticleNotice(item.supplierId, item.uniqueId)"></a>-->
		<!--      </mat-cell>-->
		<!--    </ng-container>-->

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>

</section>

