/* pt-sans-regular - latin */
$pt-sans-font-path: './pt-sans/' !default;
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url('#{$pt-sans-font-path}/pt-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
	font-display: swap;
	src: local('PT Sans Regular'), local('PTSans-Regular'),
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url('#{$pt-sans-font-path}/pt-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
	font-display: swap;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('#{$pt-sans-font-path}/pt-sans-v16-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}
