<mat-dialog-content>


	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div class="container">

				<div class="column-content">
					<div fxLayout="row" fxLayoutAlign="center center">

						<form [formGroup]="EditCategoryPropertyForm">
							<mat-form-field style="width:100%">
								<input data-cy="cspname-input" autocomplete="off" matInput [formControl]="nameFormControl">
								<mat-label>Namn *</mat-label>
							</mat-form-field>

							<mat-form-field style="width:100%">
                <textarea data-cy="cspdescription-input" autocomplete="off" rows="5" matInput type="text"
													[formControl]="descriptionFormControl"></textarea>
								<mat-label>Beskrivning/hjälptext *</mat-label>
							</mat-form-field>

							<div>
								<mat-form-field style="width:100%"
																*ngIf="this.currentProperty.type == propertyType.VALUELIST_MULTIPLE ||this.currentProperty.type == propertyType.VALUELIST_SINGLE">
									<input data-cy="cspalternatives-input" [(ngModel)]="propertyItemInput" required autocomplete="off"
												 matInput type="text" formControlName="items">
									<mat-label>Lägg till alternativ</mat-label>
									<mat-hint style="color:#ff0000">
										OBS! Hantering av alternativ sker direkt oberoende av övriga attribut. Raderar du ett alternativ så
										går åtgärden ej att ångra och samtliga värden kopplade till alternativet raderas. "SPARA" knappen
										avser attributen "Namn" och "Beskrivning".
									</mat-hint>
									<button data-cy="additem-btn" (click)="addItem()" *ngIf="propertyItemInput" matSuffix mat-icon-button
													aria-label="Clear">
										<mat-icon>arrow_forward</mat-icon>
									</button>

								</mat-form-field>
							</div>
							<br>
							<br>
							<br>
							<br>
							<br>
						</form>


						<!--    <mat-chip-list >
									<mat-chip *ngFor="let propertyItem of property.values">
										{{propertyItem.value}}
									</mat-chip>
								</mat-chip-list>-->


					</div>
					<div fxLayout="row" fxLayoutAlign="center center">
						<mat-chip-set
							*ngIf="this.currentProperty.type == propertyType.VALUELIST_MULTIPLE ||this.currentProperty.type == propertyType.VALUELIST_SINGLE">
							<div *ngFor="let item of this.currentProperty.values">
								<mat-chip *ngIf="item.id != null">
									{{ item.value }}
									<button data-cy="deletefromlist-btn" mat-icon-button (click)="deleteFromList(item)">
										<mat-icon>clear</mat-icon>
									</button>
								</mat-chip>
							</div>
						</mat-chip-set>
					</div>
				</div>
			</div>
		</div>
	</div>
	<mat-card-actions>
		<button data-cy="saveproperty-btn" *ngIf="descriptionFormControl.value && nameFormControl.value else extButton;"
						(click)="SaveProperty()" [disabled]="!descriptionFormControl.value || !nameFormControl.value"
						[mat-dialog-close]="true" mat-button style="background-color: #118582;float:right;color: white;">
			<span>Spara</span>
		</button>
		<button data-cy="cancel-btn" [mat-dialog-close]="true" mat-button style="float:right;"><span>Avbryt</span>
		</button>
		<ng-template #extButton>
			<button [disabled]="true" mat-button style="background-color: gray;float:right;color: white;">
				<span>Spara</span>
			</button>
		</ng-template>

	</mat-card-actions>
</mat-dialog-content>


<!--*ngIf="this.selectedFormType == propertyType.TEXTFIELD"-->
