<div class="login-wrapper">
	<div fxLayout="row">
		<h1>Logga in i Hjälpmedelstjänsten</h1>
	</div>

	<div fxLayout="column" class="login-component">
		<div class="component first-component">
			<mat-form-field>
				<input data-cy="loginusername-input" autocomplete="off" matInput type="text" [(ngModel)]="login.username"
							 (keyup.enter)="loginUser()" autofocus>
				<mat-label>Användarnamn</mat-label>
			</mat-form-field>
		</div>

		<div class="component last-component">
			<mat-form-field>
				<input data-cy="loginpw-input" autocomplete="off" matInput type="password" [(ngModel)]="login.password"
							 (keyup.enter)="loginUser()">
				<mat-label>Lösenord</mat-label>
			</mat-form-field>
		</div>
	</div>

	<div class="login-component">
		<div fxLayout="row" fxLayoutGap="10px">
			<button data-cy="forgotpw-btn" routerLink="/login/password/recover" mat-button class="request-password-button">
				Glömt lösenord?
			</button>
			<button data-cy="login-btn" [disabled]="!login.username || !login.password" mat-raised-button color="primary"
							(click)="loginUser()">
				LOGGA IN
			</button>
		</div>
	</div>

</div>
