<div class="title"><h2 mat-dialog-title>{{this.category.name}}</h2>
	<button data-cy="close-btn" mat-dialog-close class="close-button">X</button>
</div>
<h3 mat-dialog-title>{{this.category.description}}</h3>
<div *ngIf="!loaded" class="content">Laddar...</div>
<div *ngIf="loaded">
	<button data-cy="export-btn" (click)="exportCategory(this.category.id)">Exportera till Excel</button>
	<mat-dialog-content>
		<mat-tab-group>
			<mat-tab label="Produkter ({{this.productsByCategory == null ? 0 : this.productsByCategory.length}})">
				<mat-table [dataSource]="dataSourceProducts" class="mat-elevation-z8">

					<ng-container matColumnDef="productName">
						<mat-header-cell *matHeaderCellDef> Namn</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="productNumber">
						<mat-header-cell *matHeaderCellDef> Prod. nr</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.productNumber}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="created">
						<mat-header-cell *matHeaderCellDef> Skapad</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="replacementDate">
						<mat-header-cell *matHeaderCellDef> Utgången/ersatt</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.replacementDate}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="organizationName">
						<mat-header-cell *matHeaderCellDef> Leverantör</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.organizationName}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span *ngIf="element.status == 'PUBLISHED'">Aktiv</span>
							<span *ngIf="element.status == 'DISCONTINUED'">Utgått</span></mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsProductsByCategory"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsProductsByCategory;"
									 (click)="routeToProduct(row)" [title]="row.productName" appMatRowKeyboardEvent
									 (enterPressed)="routeToProduct(row)" tabindex=0></mat-row>
				</mat-table>
			</mat-tab>


			<mat-tab label="Artiklar ({{this.articlesByCategory == null ? 0 : this.articlesByCategory.length}})">
				<mat-table [dataSource]="dataSourceArticles" class="mat-elevation-z8">

					<ng-container matColumnDef="articleName">
						<mat-header-cell *matHeaderCellDef> Namn</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.articleName}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="articleNumber">
						<mat-header-cell *matHeaderCellDef> Art. nr</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.articleNumber}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="created">
						<mat-header-cell *matHeaderCellDef> Skapad</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="replacementDate">
						<mat-header-cell *matHeaderCellDef> Utgången/ersatt</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.replacementDate}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="organizationName">
						<mat-header-cell *matHeaderCellDef> Leverantör</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.organizationName}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span *ngIf="element.status == 'PUBLISHED'">Aktiv</span>
							<span *ngIf="element.status == 'DISCONTINUED'">Utgått</span>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsArticlesByCategory"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsArticlesByCategory;"
									 (click)="routeToArticle(row)" [title]="row.articleName" appMatRowKeyboardEvent
									 (enterPressed)="routeToProduct(row)" tabindex=0></mat-row>
				</mat-table>
			</mat-tab>


			<mat-tab
				label="Kategorispecifika egenskaper ({{this.categorySpecificProperties == null ? 0 : this.categorySpecificProperties.length}})">
				<mat-table [dataSource]="dataSourceProperties" class="mat-elevation-z8">

					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef> Namn</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
					</ng-container>

					<ng-container matColumnDef="description">
						<mat-header-cell *matHeaderCellDef> Beskrivning</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
					</ng-container>


					<mat-header-row *matHeaderRowDef="displayedColumnsCategorySpecificProperties"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsCategorySpecificProperties;"></mat-row>
				</mat-table>
			</mat-tab>
		</mat-tab-group>
	</mat-dialog-content>
</div>

