<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>

<ng-container *ngIf="loaded && helpTextsLoaded">

	<main class="profile">

		<header class="main-header">
			<h2>Min profil</h2>
			<button mat-icon-button class="edit-mode-toggle"
							[ngClass]="this.editMode ? 'disabled' : 'enabled'"
							[disabled]="this.editMode"
							(click)="this.toggleEditMode()">

				<mat-icon>edit</mat-icon>
			</button>
		</header>

		<app-profile-info class="info" #infoObject
											[infoObject]="info"
											(emitSave)="handleFormSubmit($event, info.header)">

		</app-profile-info>

		<app-profile-contact class="contact" #contactObject
												 [contactObject]="contact"
												 (emitSave)="handleFormSubmit($event, contact.header)">

		</app-profile-contact>

		<aside>

			<app-profile-checkbox class="notification" #notificationObject *ngIf="isAgreementManager"
														[checkboxObject]="notification"
														(emitSave)="handleCheckSubmit($event, notification.header)">

			</app-profile-checkbox>

			<app-profile-checkbox class="permission" #permissionObject
														[checkboxObject]="permission"
														(emitSave)="handleCheckSubmit($event, permission.header)">

			</app-profile-checkbox>

		</aside>


		<div class="control">

			<ng-container *ngIf="this.editMode">

				<button mat-raised-button color="primary" type="submit"
								(click)="save()"
								data-cy="btn-save">
					SPARA
				</button>
				<button mat-button color="primary" type="reset"
								(click)="cancel()"
								data-cy="btn-cancel">
					AVBRYT
				</button>

				<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>

			</ng-container>

		</div>

	</main>

</ng-container>
