@import "../../styles";

app-profile {
	display: unset;
}

main.profile {

	margin-top: 64px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 0 1rem 0 1rem;

	header.main-header {
		position: relative;

		h2 {
			margin: 1rem 0 1rem 0;
			font-size: 24px;
			color: $primary-color;
		}

		.edit-mode-toggle {
			position: absolute;
			top: 10px;
			right: 0;

			&.enabled {
				mat-icon {
					color: $primary-color;
				}
			}

			&.disabled {
				mat-icon {
					color: #757575;
				}
			}
		}
	}
}

main.profile {

	display: grid;

	max-width: 599px;

	justify-content: space-between;
	align-content: space-between;

	gap: 1rem;

	grid-template-rows: auto minmax(250px, 1fr) auto auto minmax(50px, 60px);
	grid-template-columns: 1fr;
	grid-template-areas:
    "header"
    "info"
    "contact"
    "aside"
    "control";

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {
		max-width: 767px;
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {
		max-width: 991px;
	}

	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
		max-width: 1199px;
		grid-template-rows: auto auto auto minmax(50px, 60px);
		grid-template-columns: 1fr 45%;
		grid-template-areas:
      "header header"
      "info aside"
      "contact aside"
      "control control"
	}
	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {
		max-width: 1920px;
	}


	.main-header {
		margin-bottom: -1rem; // To offset the bottom 'gap'-property on the header.
		grid-area: header;

	}

	.info {
		grid-area: info;
	}

	.contact {
		grid-area: contact;
	}

	.notification {
		//grid-area: notification;
		@media only screen and (min-width: 992px) {
			display: unset;
			grid-area: unset;
		}
	}

	.permission {
		flex-grow: 1;
		@media only screen and (min-width: 992px) {
			display: unset;
			grid-area: unset;
		}
	}

	aside {
		grid-area: aside;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		@media only screen and (min-width: 992px) {

		}
	}

	.control {
		grid-area: control;
		justify-self: center;
	}
}


mat-card {

	padding: 0;
	margin: 0;
	height: 100%;
	border: 1px solid #000;
	border-radius: 0 !important;
	box-shadow: none !important;


	* {
		margin: 0;
		padding: 0;
	}

	header {
		position: relative;
		background-color: rgba(17, 133, 130, 0.3);
		//border-top-left-radius: 5px;
		//border-top-right-radius: 5px;

		h2 {
			display: inline-block;
			font-size: 1rem;
			margin: 0.5rem 0 0.5rem 1rem;
			color: #255453;
		}

		.tooltip {
			color: #255453;
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
		}
	}

	article {
		padding: 1.5rem 1rem 1rem 1rem;

		ul {
			list-style-type: none;
			margin-bottom: 1.5rem;
		}

		> p {
			margin-bottom: 1.5rem;

			&.gray-text {
				color: #b0b0b0;
			}
		}

		.control {
			padding: 1rem;
			background-color: red;
		}
	}
}
