
.page-wrapper {
	margin-top: 100px;
	margin-left: 40px;
	//height: 100vh;
}

.content {
	// margin-bottom: 65px;
	margin-left: 20px;
	margin-bottom: 40px;

	.mat-form-field {
		width: 50%;
	}
}

.container {
	padding: 20px;
}

.table-label {
	margin-left: 20px;
}
