<div class="page-wrapper">

	<div fxLayout="row" class="navigation-header">
		<h1>Administration</h1>
	</div>
	<div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
		<div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">

			<div fxLayout="column" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>ÄNDRA AKTUELL INFORMATION PÅ STARTSIDAN</h2>
				</div>

				<div *ngIf="!dynamicTextLoaded" class="content">Laddar...</div>

				<div *ngIf="dynamicTextLoaded" fxLayout="row" class="component first-component">

					<mat-form-field class="full-width">
            <textarea data-cy="dynamictext-input" maxlength="10000" autocomplete="off" cdkAutosizeMinRows="1"
											cdkTextareaAutosize matInput type="text" [(ngModel)]="dynamicText.dynamicText"></textarea>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component last-component">
					<button data-cy="save-btn" mat-raised-button color="primary" (click)="saveInfoTextToDatabase()">
						SPARA
					</button>
				</div>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>ÄNDRA VÄLKOMSTTEXT PÅ STARTSIDAN</h2>
				</div>

				<div *ngIf="!welcomeTextLoaded" class="content">Laddar...</div>
				<div *ngIf="welcomeTextLoaded" fxLayout="row" class="component first-component">
					<mat-form-field class="full-width">
            <textarea data-cy="dynamictext-input" maxlength="10000" autocomplete="off" cdkAutosizeMinRows="1"
											cdkTextareaAutosize matInput type="text" [(ngModel)]="welcomeText.dynamicText"></textarea>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component last-component">
					<button data-cy="save-btn" mat-raised-button color="primary" (click)="saveWelcomeTextToDatabase()">
						SPARA
					</button>
				</div>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>ÄNDRA AKTUELLA LÄNKAR PÅ STARTSIDAN</h2>
				</div>

				<div *ngIf="!linksTextLoaded" class="content">Laddar...</div>
				<div *ngIf="linksTextLoaded" fxLayout="row" class="component first-component">
					<mat-form-field class="full-width">
            <textarea data-cy="dynamictext-input" maxlength="10000" autocomplete="off" cdkAutosizeMinRows="1"
											cdkTextareaAutosize matInput type="text" [(ngModel)]="linksText.dynamicText"></textarea>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component last-component">
					<button data-cy="save-btn" mat-raised-button color="primary" (click)="saveLinksTextToDatabase()">
						SPARA
					</button>
				</div>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>MAILA INLOGGNINGSUPPGIFTER TILL NYA ANVÄNDARE</h2>
				</div>
				<div fxLayout="row" class="component first-component last-component">
					<button data-cy="sendwelcome-btn" mat-raised-button color="primary" (click)="openSendWelcomeMailDialog()">
						SKICKA INLOGGNINGSUPPGIFTER
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
