<mat-dialog-content>
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container mat-elevation-z1">
				<mat-form-field>
					<input data-cy="searchproductexport-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-label>Sök produkter</mat-label>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="products.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="products.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%" fxLayoutGap="10px">

			<!--
			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<h2>STATUS</h2>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-checkbox [(ngModel)]="filterPublished" (change)="onFilterChange()">Aktiv
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component last-component">
						<mat-checkbox [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>
-->

			<div *ngIf="loading">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>

			<div *ngIf="products.length && !loading" fxFlex="100%" class="container mat-elevation-z1">
				<mat-table #table [dataSource]="dataSource">
					<ng-container matColumnDef="checkbox">
						<mat-header-cell *matHeaderCellDef fxFlex="6%">
							<mat-checkbox (change)="$event ? masterToggle() : null"
														[checked]="selection.hasValue() && isAllSelected()"
														[indeterminate]="selection.hasValue() && !isAllSelected()">
							</mat-checkbox>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="6%">
							<mat-checkbox (click)="$event.stopPropagation()"
														(change)="$event ? selection.toggle(element) : null"
														[checked]="selection.isSelected(element)"
							></mat-checkbox>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="typ">
						<mat-header-cell *matHeaderCellDef fxFlex="5%"> Typ</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="5%"><span> P</span>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="benämning">
						<mat-header-cell *matHeaderCellDef fxFlex="39%"> Benämning</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="39%"> {{element.name}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="produktnummer">
						<mat-header-cell *matHeaderCellDef fxFlex="30%"> Produktnummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="30%"> {{element.number}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="kategori">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;">
					</mat-row>

				</mat-table>
				<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
					<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
					<div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
					</div>
					<span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<button data-cy="addselected-btn" [disabled]="!selection.selected.length" mat-button (click)="done()">
			LÄGG TILL MARKERADE PRODUKTER ({{this.selection.selected.length}})
		</button>
		<button data-cy="cancel-btn" mat-button mat-dialog-close>AVBRYT</button>
	</mat-dialog-actions>
</div>
