<mat-dialog-content>
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container">
				<mat-form-field>
					<input data-cy="businesslvlnameupdate-input" autocomplete="off" matInput [(ngModel)]="businessLevelName">
					<mat-label>Namn</mat-label>
				</mat-form-field>
			</div>
		</div>
	</div>
</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<button data-cy="save-btn" mat-button (click)="done()" [disabled]="!businessLevelName">
			SPARA
		</button>
		<button data-cy="cancel-btn" mat-button mat-dialog-close>AVBRYT</button>
	</mat-dialog-actions>
</div>
