<div class="content">
	<div class="border-component">
		<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
			<h2>Verksamhetsområden</h2>
		</div>

		<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
		<div *ngIf="!loading && !businessLevels || !businessLevels.length"
				 class="component first-component>">
			<p>Saknas</p>
		</div>
		<div *ngIf="!loading && businessLevels && businessLevels.length" class="dynamic-component">
			<div *ngFor="let level of businessLevels" fxLayout="row">
				<div fxLayout="column" fxLayoutAlign="center start" fxFlex="20%" class="dynamnic-content"
						 [ngClass]="{'inactivated': level.status === 'INACTIVE'}">
					{{level.name}}
				</div>
				<div *ngIf="hasPermissionToInactivateBusinessLevel && level.status === 'ACTIVE'" fxLayout="column" fxFlex="10%">
					<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button data-cy="updatebl-btn" (click)="openUpdateBusinessLevelDialog(level.id, level.name)" mat-menu-item>
							<mat-icon color="warn">edit</mat-icon>
							<span>Redigera</span>
						</button>
						<button data-cy="deletebl-btn" mat-menu-item (click)="deleteBusinessLevel(level.id, level.name)">
							<mat-icon color="warn">delete</mat-icon>
							<span>Ta bort</span>
						</button>
						<button data-cy="inactivatebl-btn" mat-menu-item (click)="inactivateBusinessLevel(level.id)">
							<mat-icon color="warn">block</mat-icon>
							<span>Inaktivera</span>
						</button>
					</mat-menu>
				</div>
			</div>
		</div>

		<div *ngIf="!loading && hasPermissionToCreateBusinessLevel" fxLayout="row" class="component">
			<div fxFlex="40%" fxLayoutAlign="start center">
				<button data-cy="addbl-btn" mat-button (click)="openAddBusinessLevelDialog()" class="open-add-dialog">
					LÄGG TILL
				</button>
			</div>
		</div>
	</div>
</div>
