<div class="page-wrapper">
	<div fxLayout="row" class="navigation-header">
		<div fxFlex="95%" class="content">
			<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
				<h1>Administrera kategorier</h1>
			</div>
		</div>
		<div fxFlex="3%">
			<button data-cy="menu-btn" mat-icon-button *ngIf="showMenu" [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">MENY</span>
				</div>
			</button>

			<mat-menu #menu="matMenu">
				<button data-cy="exportcategories-btn" mat-menu-item (click)="exportCategories()"
								[disabled]="this.child?.selected == null">
					<mat-icon color="primary">save_alt</mat-icon>
					<span>Exportera till excel</span>
				</button>


			</mat-menu>
		</div>
	</div>
	<mat-tab-group class="tab-group" (selectedTabChange)="tabChange($event)">
		<mat-tab label="Kategorier">
			<div class="tab-content">
				<div style="padding: 20px">
					<app-category-list></app-category-list>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Kategorispecifika egenskaper">
			<div class="tab-content">
				<app-category-specific-properties></app-category-specific-properties>
			</div>
		</mat-tab>
		<mat-tab label="Flytta produkter">
			<div class="tab-content">
				<app-article-move-search></app-article-move-search>
			</div>
		</mat-tab>

    <mat-tab label="Kategorier överblick">
      <div class="tab-content">
        <app-export-category-specific-properties #categorySpecificProperties ></app-export-category-specific-properties>
      </div>
    </mat-tab>
    <mat-tab label="Menyträd 1177">
      <div class="tab-content">
        <!-- Menyträdskomponent -->
        <app-external-api-menutree></app-external-api-menutree>
      </div>
    </mat-tab>
          </mat-tab-group>
  </div>

