<div *ngIf="!loaded" class="content">Laddar...</div>
<div *ngIf="loaded">
	<div class="page-wrapper">

		<div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
			<div fxFlex="95%">
				<h1>{{pricelist.agreement.agreementName}}</h1>
			</div>
			<div
				*ngIf="!editMode && (!isCustomer || (isCustomer && isPricelistApprover)) && pricelist.status !== 'PAST' && (hasPermissionToUpdatePricelistRow || hasPermissionToSendForCustomerApproval
         || hasPermissionToActivatePricelistRow || hasPermissionToDeclinePricelistRow) && !approvementId"
				fxFlex="2%" fxLayoutAlign="center">
				<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
			</div>
			<div *ngIf="!editMode && hasPermissionToViewPricelistRow && !approvementId" fxFlex="3%">
				<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
					<div class="menu-container">
						<mat-icon>more_vert</mat-icon>
						<span class="menu-label">MENY</span>
					</div>
				</button>
				<mat-menu #menu="matMenu" class="wide-mat-menu">
					<button data-cy="exportrows-btn" mat-menu-item (click)="exportPricelistRows()">
						<mat-icon color="primary">save_alt</mat-icon>
						<span>Exportera sökresultat till Excel-fil</span>
					</button>
					<button data-cy="exportpricelist-btn" *ngIf="hasPermissionToExportPricelistRows" mat-menu-item
									(click)="exportPricelist()">
						<mat-icon color="primary">save_alt</mat-icon>
						<span>Läs ut prislista för hantering via Excel</span>
					</button>
					<button data-cy="importpricelist-btn"
									*ngIf="hasPermissionToImportPricelistRows && pricelist.status !== 'PAST'" mat-menu-item
									(click)="openImportPricelistDialog()">
						<mat-icon color="primary">unarchive</mat-icon>
						<span>Läs in prislista via Excel-fil</span>
					</button>
					<button data-cy="approveall-btn" *ngIf="hasPermissionToSendForCustomerApproval && pricelist.status !== 'PAST'"
									mat-menu-item
									(click)="openAttachMessageDialog('supplier', 'all')">
						<mat-icon color="primary">sync</mat-icon>
						<span>Skicka samtliga rader (max 10 000) som har pris angivet och har status Ny och Ändrad för godkännande</span>
					</button>
					<button data-cy="approveall-btn" *ngIf="hasPermissionToActivatePricelistRow && pricelist.status !== 'PAST'"
									mat-menu-item
									(click)="openAttachMessageDialog('customer', 'all')">
						<mat-icon color="primary">done</mat-icon>
						<span>Godkänn samtliga rader (max 10 000) med status Ny och Ändrad i prislistan</span>
					</button>
				</mat-menu>
			</div>
		</div>
		<div fxLayout="row" class="navigation">
			<span routerLink="/organization/{{organizationId}}/agreement">Inköpsavtal</span><span> > </span><span
			routerLink="../../../handle">Hantera inköpsavtal</span><span> > </span><span class="navigation-last">Hantera prislista</span>
		</div>

		<div fxLayout="row" class="content">
			<div fxFlex="80%" class="border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>PRISLISTA</h2>
					<mat-icon class="tooltip"
										matTooltip="{{helpTexts.values.PRICELIST_INFO}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
				<div fxLayout="row" fxLayout.lt-md="{{flexDirection}}">
					<div fxFlex="30%">
						<div class="component first-component last-component">
							<mat-form-field>
								<input autocomplete="off" type="text" matInput [ngModel]="pricelist.agreement.agreementNumber" disabled>
								<mat-label class="icon-label">Avtalsnummer
									<mat-icon class="tooltip"
														matTooltip="{{helpTexts.values.AGREEMENT_AGREEMENTNUMBER}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
						</div>
					</div>
					<div fxFlex="30%">
						<div class="component first-component last-component">
							<mat-form-field>
								<input autocomplete="off" type="text" matInput [ngModel]="pricelist.number" disabled>
								<mat-label class="icon-label">Prislistenummer
									<mat-icon class="tooltip"
														matTooltip="{{helpTexts.values.PRICELIST_NUMBER}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
						</div>
					</div>
					<div fxFlex="30%">
						<div class="component first-component last-component">
							<mat-form-field>
								<input autocomplete="off" matInput [ngModel]="pricelistValidFrom | date: 'yyyy-MM-dd'" disabled>
								<mat-label class="icon-label">Gäller från
									<mat-icon class="tooltip"
														matTooltip="{{helpTexts.values.PRICELIST_VALID_FROM}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div *ngIf="!approvementId" fxLayout="row" fxLayoutGap="20px" class="content">
			<div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
				<div class="container mat-elevation-z1">
					<mat-form-field>
						<input data-cy="searchinpricelist-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
									 (ngModelChange)="onQueryChanged($event)">
						<mat-label>Sök i prislistan</mat-label>
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
				</div>
				<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">

					<div fxFlex="25%" class="border-component">
						<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
							<h2>ARTIKELTYPER</h2>
							<mat-icon class="tooltip"
												matTooltip="{{helpTexts.values.PRICELIST_ARTICLE_TYPES}}"
												[matTooltipClass]="{'long-tooltip': true}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</div>
						<div class="component first-component">
							<mat-checkbox data-cy="filterH-checkbox" [(ngModel)]="filterH" (change)="onFilterChange()">
								Huvudhjälpmedel
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filterT-checkbox" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
							</mat-checkbox>

						</div>
						<div class="component">
							<mat-checkbox data-cy="filterR-checkbox" [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filterTJ-checkbox" [(ngModel)]="filterTJ" (change)="onFilterChange()">Tjänst
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filterI-checkbox" [(ngModel)]="filterI" (change)="onFilterChange()">Inställning
							</mat-checkbox>
						</div>
					</div>

					<div fxFlex="25%" class="border-component">
						<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
							<h2>STATUS FÖR ARTIKEL</h2>
							<mat-icon class="tooltip"
												matTooltip="{{helpTexts.values.PRICELIST_ARTICLE_TYPES}}"
												[matTooltipClass]="{'long-tooltip': true}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</div>
						<div class="component first-component">
							<mat-checkbox data-cy="filterarticle-published-checkbox" [(ngModel)]="filterArticlePublished"
														(change)="onFilterChange()">Aktiv
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filterarticle-discontinued-checkbox" [(ngModel)]="filterArticleDiscontinued"
														(change)="onFilterChange()">Utgått
							</mat-checkbox>
						</div>
					</div>

					<div *ngIf="!isCustomer" fxFlex="25%" class="border-component">
						<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
							<h2>PRISER</h2>
						</div>
						<div class="component first-component">
							<mat-checkbox data-cy="filtershowrowswithprices-checkbox" [(ngModel)]="filterShowRowsWithPrices"
														(change)="onFilterChange()">Visa artiklar med pris
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filtershowrowswithoutprices-checkbox" [(ngModel)]="filterShowRowsWithoutPrices"
														(change)="onFilterChange()">Visa artiklar som
								saknar pris
							</mat-checkbox>
						</div>
					</div>

					<div fxFlex="25%" class="border-component">
						<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
							<h2>STATUS FÖR PRISLISTERADER</h2>
						</div>
						<div class="component first-component">
							<mat-checkbox data-cy="filter-active-row-checkbox" [(ngModel)]="filterActive" (change)="onFilterChange()">
								Aktiv
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filter-pendingapproval-row-checkbox" [(ngModel)]="filterPendingApproval"
														(change)="onFilterChange()">Skickad för godkännande
							</mat-checkbox>
							<div *ngIf="filterPendingApproval && isCustomer" class="component">
								<mat-checkbox data-cy="filterpendingapproval-showmore-checkbox"
															[(ngModel)]="filterPendingApprovalShowMore" (change)="onShowMoreFilterChange()">Visa även
									tidigare godkända värden
								</mat-checkbox>
							</div>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filter-declined-row-checkbox" [(ngModel)]="filterDeclined"
														(change)="onFilterChange()">Avböjd
							</mat-checkbox>
						</div>
						<div *ngIf="!isCustomer" class="component">
							<mat-checkbox data-cy="filter-created-checkbox" [(ngModel)]="filterCreated" (change)="onFilterChange()">
								Ny
							</mat-checkbox>
						</div>
						<!--div *ngIf="!isCustomer" class="component"-->
						<div class="component">
							<mat-checkbox data-cy="filter-changed-row-checkbox" [(ngModel)]="filterChanged"
														(change)="onFilterChange()">Ändrad
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filter-inactive-row-checkbox" [(ngModel)]="filterInactive"
														(change)="onFilterChange()">Inaktiv
							</mat-checkbox>
						</div>
						<div class="component last-component">
							<mat-checkbox data-cy="filter-pending-inactivation-row-checkbox" [(ngModel)]="filterPendingInactivation"
														(change)="onFilterChange()">Begärd inaktivering
							</mat-checkbox>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div fxLayout="row" class="content">
			<div fxFlex="80%">
				<div *ngIf="!approvementId" fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="pricelistRows.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="pricelistRows.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
				</div>
				<div *ngIf="approvementId" fxLayoutAlign="start">
          <span *ngIf="pricelistRows.length !== 1">Godkända prislisterader
            <span *ngIf="!loading"> ({{searchTotal}} st.)</span>
          </span>
					<span *ngIf="pricelistRows.length === 1">Godkänd prislisterad
            <span *ngIf="!loading"> ({{searchTotal}} st.)</span>
          </span>
				</div>
			</div>
		</div>

		<div fxLayout="row" class="content">
			<div fxFlex="100%">
				<div *ngIf="loading">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>
				<div *ngIf="pricelistRows.length && !loading" class="container mat-elevation-z1 table-lg">

					<mat-table #table [dataSource]="dataSource" [ngClass]="filterPendingApprovalShowMore ? 'pinkrows':''" class="container-table">


						<ng-container *ngIf="!hasPermissionToActivatePricelistRow && !hasPermissionToDeclinePricelistRow"
													matColumnDef="checkbox">
							<mat-header-cell *matHeaderCellDef fxFlex="0%">
								<mat-checkbox *ngIf="editMode" (change)="$event ? masterToggle() : null"
															[checked]="selection.hasValue() && isAllSelected()"
															[indeterminate]="selection.hasValue() && !isAllSelected()">
								</mat-checkbox>
								<mat-icon *ngIf="editMode" class="tooltip"
													matTooltip="{{helpTexts.values.PRICELIST_CHECK_ALL}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="0%">
								<mat-checkbox
									*ngIf="editMode && (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')"
									(click)="$event.stopPropagation()"
									(change)="$event ? selection.toggle(element) : null"
									[checked]="selection.isSelected(element)">
								</mat-checkbox>
							</mat-cell>
						</ng-container>

						<ng-container *ngIf="hasPermissionToActivatePricelistRow" matColumnDef="activate">
							<mat-header-cell *matHeaderCellDef fxFlex="4%">
								<mat-icon *ngIf="editMode" (click)="masterToggleApprovals('activation')">done</mat-icon>
							</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4%">
								<mat-checkbox
									*ngIf="editMode && (element.status === 'PENDING_APPROVAL' || element.status === 'PENDING_INACTIVATION')"
									(click)="$event.stopPropagation()"
									(change)="$event ? onCheckActivation($event, element) : null"
									[checked]="activationSelection.isSelected(element)">
								</mat-checkbox>
							</mat-cell>
						</ng-container>

						<ng-container *ngIf="hasPermissionToDeclinePricelistRow" matColumnDef="decline">
							<mat-header-cell *matHeaderCellDef fxFlex="4.5%">
								<mat-icon *ngIf="editMode" (click)="masterToggleApprovals('decline')">clear</mat-icon>
								<mat-icon *ngIf="editMode" class="tooltip"
													matTooltip="{{helpTexts.values.PRICELIST_APPROVE_ALL}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4.5%">
								<mat-checkbox
									*ngIf="editMode && (element.status === 'PENDING_APPROVAL' || element.status === 'PENDING_INACTIVATION')"
									(click)="$event.stopPropagation()"
									(change)="$event ? onCheckDecline($event, element) : null"
									[checked]="declineSelection.isSelected(element)"
									color="warn">
								</mat-checkbox>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="typ">
							<mat-header-cell *matHeaderCellDef fxFlex="3.2%"> Typ</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="3.2%"> {{element.article.category.articleType}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="artnr">
							<mat-header-cell *matHeaderCellDef fxFlex="5.5%"> Artnr</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="5.5%">
                <span [matTooltip]="element.article.articleNumber.length > 100 ? element.article.articleNumber : ''">
                  {{element.article.articleNumber | slice: 0:100}}{{element.article.articleNumber.length > 100 ? '&hellip;' : ''}}</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="benämning">
							<mat-header-cell *matHeaderCellDef fxFlex="9%"> Benämning</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="9%">
                <span [matTooltip]="element.article.articleName.length > 100 ? element.article.articleName : ''">
                  {{element.article.articleName | slice: 0:100}}{{element.article.articleName.length > 100 ? '&hellip;' : ''}}</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="kategori">
							<mat-header-cell *matHeaderCellDef fxFlex="6.2%"> Kategori</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="6.2%">
								<span *ngIf="element.article.category.code != null">{{element.article.category.code}}</span>
								<span
									*ngIf="element.article.category.code == null"> ({{this.getCategoryCodeForCodelessArticle(element.article)}})</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="beställningsenhet">
							<mat-header-cell *matHeaderCellDef fxFlex="7.5%"> Beställningsenhet</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="7.5%"><span
								*ngIf="element.article.orderUnit">{{element.article.orderUnit.name}}</span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="utgått">
							<mat-header-cell *matHeaderCellDef fxFlex="5%"> Status Artikel</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="5%"><span *ngIf="element.article.status === 'DISCONTINUED'">Utgått</span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="pris">
							<mat-header-cell *matHeaderCellDef fxFlex="5%"> Pris* (SEK)</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="5%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<input autocomplete="off" tabindex="1" type="number" matInput class="input-cell" [(ngModel)]="element.price"
												 (change)="updatePricelistRow(element)">
								</mat-form-field>
								<span
									*ngIf="!editMode || !hasPermissionToUpdatePricelistRow ||
                  (element.status !=='CREATED' && element.status !== 'DECLINED' && element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED')">
                  {{element.price | number:'':'sv-SE'}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="gäller från">
							<mat-header-cell *matHeaderCellDef fxFlex="8%"> Gäller från</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="8%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<input autocomplete="off" readonly matInput class="input-cell"
												 [matDatepicker]="$any(pickerFrom)"
												 [(ngModel)]="element.validFrom"
												 [min]="pricelistValidFrom"
												 (ngModelChange)="updatePricelistRow(element)">
									<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
									<mat-datepicker #pickerFrom></mat-datepicker>
								</mat-form-field>
								<span
									*ngIf="!editMode || !hasPermissionToUpdatePricelistRow || (element.status !=='CREATED' && element.status !== 'DECLINED' &&
                  element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED')">{{element.validFrom | date: 'yyyy-MM-dd'}}</span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="min best">
							<mat-header-cell *matHeaderCellDef fxFlex="3.5%"> Min best*</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="3.5%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<input autocomplete="off" type="number" matInput class="input-cell" [(ngModel)]="element.leastOrderQuantity"
												 (change)="updatePricelistRow(element)">
								</mat-form-field>
								<span
									*ngIf="!editMode || !hasPermissionToUpdatePricelistRow || (element.status !=='CREATED' && element.status !== 'DECLINED' &&
                  element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED')">{{element.leastOrderQuantity}}</span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="levtid">
							<mat-header-cell *matHeaderCellDef fxFlex="4%"> Levtid (dagar)</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<input autocomplete="off" type="number" matInput class="input-cell" [(ngModel)]="element.deliveryTime"
												 (change)="updatePricelistRow(element)">
								</mat-form-field>
								<span
									*ngIf="!editMode || !hasPermissionToUpdatePricelistRow ||
                  (element.status !=='CREATED' && element.status !== 'ACTIVE_EDIT' && element.status !== 'DECLINED' && element.status !== 'CHANGED')">
                  {{element.deliveryTime}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="garanti(antal)">
							<mat-header-cell *matHeaderCellDef fxFlex="4.5%"> Garanti (antal)</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4.5%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow && (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<input autocomplete="off" type="number" matInput class="input-cell" [(ngModel)]="element.warrantyQuantity"
												 (change)="updatePricelistRow(element)">
								</mat-form-field>
								<span
									*ngIf="!editMode || !hasPermissionToUpdatePricelistRow ||
                  (element.status !=='CREATED' && element.status !== 'DECLINED' && element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED')">
                  {{element.warrantyQuantity}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="(enhet)">
							<mat-header-cell *matHeaderCellDef fxFlex="5%"> (enhet)</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="5%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<mat-select [(value)]="element.warrantyQuantityUnit" (selectionChange)="updatePricelistRow(element)">
										<mat-option *ngFor="let unit of units" [value]="unit">
											{{ unit.name }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<span
									*ngIf="element.warrantyQuantityUnit && !editMode || !hasPermissionToUpdatePricelistRow ||
                  (element.status !=='CREATED' && element.status !== 'DECLINED' && element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED')">
                  {{element.warrantyQuantityUnit.name}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="(gäller från)">
							<mat-header-cell *matHeaderCellDef fxFlex="8%"> (gäller från)</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="8%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<mat-select [(value)]="element.warrantyValidFrom" (selectionChange)="updatePricelistRow(element)">
										<mat-option *ngFor="let item of warrantyValidFrom" [value]="item">
											{{ item.name }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<span
									*ngIf="element.warrantyValidFrom && (!editMode || !hasPermissionToUpdatePricelistRow ||
                  (element.status !=='CREATED' && element.status !== 'DECLINED' && element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED'))">
                  {{element.warrantyValidFrom.name}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="(villkor)">
							<mat-header-cell *matHeaderCellDef fxFlex="5%"> (villkor)</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="5%">
								<mat-form-field
									*ngIf="editMode && hasPermissionToUpdatePricelistRow &&
                  (element.status === 'CREATED' || element.status === 'DECLINED' || element.status === 'ACTIVE_EDIT' || element.status === 'CHANGED')">
									<input autocomplete="off" matInput class="input-cell" [(ngModel)]="element.warrantyTerms"
												 (change)="updatePricelistRow(element)">
								</mat-form-field>
								<span
									*ngIf="element.warrantyTerms && !editMode || !hasPermissionToUpdatePricelistRow ||
                  (element.status !=='CREATED' && element.status !== 'DECLINED' && element.status !== 'ACTIVE_EDIT' && element.status !== 'CHANGED')"
									[matTooltip]="element.warrantyTerms && element.warrantyTerms.length > 8 ? element.warrantyTerms : ''">
                  {{element.warrantyTerms | slice: 0:8}}{{element.warrantyTerms.length > 8 ? '&hellip;' : ''}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef fxFlex="5.5%"> Status Prislisterad</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="5.5%"> {{element.status | formatPricelistRowStatus}}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="inactivate">
							<mat-header-cell *matHeaderCellDef fxFlex="4%"></mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4%">
								<button class="remove-btn" data-cy="inactivationmenu-btn"
												*ngIf="editMode && hasPermissionToUpdatePricelistRow && (element.status === 'ACTIVE' || element.status === 'ACTIVE_EDIT')"
												mat-icon-button [matMenuTriggerFor]="inactivationMenu">
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #inactivationMenu="matMenu">
									<button data-cy="inactivate-btn" mat-menu-item (click)="requestInactivation(element)">
										<mat-icon color="warn">block</mat-icon>
										<span>Begär inaktivering</span>
									</button>
									<button data-cy="editpricelistrow-btn" mat-menu-item (click)="editPricelistRow(element)">
										<mat-icon>edit</mat-icon>
										<span>Ändra rad</span>
									</button>
								</mat-menu>

								<button data-cy="menu2-btn"
												*ngIf="editMode && hasPermissionToUpdatePricelistRow && (element.status === 'CREATED' || element.status === 'DECLINED')"
												mat-icon-button [matMenuTriggerFor]="deleteMenu">
									<mat-icon>more_vert</mat-icon>
								</button>

								<mat-menu #deleteMenu="matMenu">
									<button data-cy="deleterow-btn" mat-menu-item (click)="deletePricelistRow(element)">
										<mat-icon color="warn">block</mat-icon>
										<span>Ta bort rad</span>
									</button>
								</mat-menu>

								<button data-cy="menu3-btn"
												*ngIf="editMode && (hasPermissionToReopenInactivatedPricelistRow) && element.status === 'INACTIVE' && element.article.status === 'PUBLISHED'"
												mat-icon-button [matMenuTriggerFor]="reopenMenuCustomer">
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #reopenMenuCustomer="matMenu">
									<button data-cy="reopenInactivated-btn" mat-menu-item (click)="reopenInactivated(element)">
										<mat-icon color="primary">undo</mat-icon>
										<span>Återöppna</span>
									</button>
								</mat-menu>
							</mat-cell>
						</ng-container>

						<ng-container *ngIf="!isCustomer" matColumnDef="comment">
							<mat-header-cell *matHeaderCellDef fxFlex="4.5%"> Kommentar från kund</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4.5%">
                <span
									*ngIf="element.comment && !isCustomer && element.status === 'DECLINED'"
									[matTooltip]="element.comment && element.comment.length > 8 ? $any(element.comment) : ''">
                  {{element.comment | slice: 0:8}}{{element.comment.length > 8 ? '&hellip;' : ''}}
                </span>
							</mat-cell>
						</ng-container>
						<ng-container *ngIf="isCustomer" matColumnDef="comment">
							<mat-header-cell *matHeaderCellDef fxFlex="4.5%"> Kommentar</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="4.5%">
                <span
									*ngIf="element.comment && isCustomer && (element.status === 'PENDING_APPROVAL' || element.status === 'ACTIVE' || element.status === 'CREATED')"
									[matTooltip]="element.comment && element.comment.length > 8 ? $any(element.comment) : ''">
                  {{element.comment | slice: 0:8}}{{element.comment.length > 8 ? '&hellip;' : ''}}
                </span>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
						<mat-row *matRowDef="let row; columns: getDisplayedColumns();"
										 [class.noEdit]="!editMode"
										 [title]="row.article.articleName" appMatRowKeyboardEvent (enterPressed)="routeTo(row)" tabindex=0
										 (click)="routeTo(row)"
										 [matTooltip]="((isCustomer && (row.status === 'PENDING_APPROVAL' || row.status === 'ACTIVE' || row.status === 'CREATED')) || (!isCustomer && row.status === 'DECLINED'))
										 && row.comment && row.comment.length > 8 ? $any(row.comment) : ''"></mat-row>
					</mat-table>
					<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
						<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
						<div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
						</div>
						<span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
			 class="savebar-container">
		<div fxFlex="50%"></div>
		<div fxFlex="50%">
			<button data-cy="addarticles-btn" *ngIf="!saving && editMode && hasPermissionToUpdatePricelistRow"
							mat-raised-button
							color="primary" (click)="openAddPricelistRowDialog()">LÄGG TILL ARTIKLAR
			</button>
			<button data-cy="sendforapproval-btn" *ngIf="!saving && editMode && hasPermissionToSendForCustomerApproval"
							mat-raised-button
							color="primary"
							[disabled]="!selection.selected.length"
							(click)="openAttachMessageDialog('supplier', 'marked')">SKICKA MARKERADE RADER FÖR GODKÄNNANDE
				({{selection.selected.length}})
			</button>
			<button data-cy="approve-decline-btn"
							*ngIf="!saving && editMode && (hasPermissionToActivatePricelistRow || hasPermissionToDeclinePricelistRow)"
							mat-raised-button
							color="primary"
							[disabled]="hasFaultySelection() || (!activationSelection.selected.length && !declineSelection.selected.length)"
							(click)="openAttachMessageDialog('customer', 'marked')">GODKÄNN/AVBÖJ MARKERADE RADER
				({{activationSelection.selected.length + declineSelection.selected.length}})
			</button>
			<a data-cy="close-btn" *ngIf="!saving" mat-button (click)="toggleEditMode()">STÄNG</a>
			<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
		</div>
	</div>
</div>
