<div class="page-wrapper">
	<div fxLayout="row" class="navigation-header">
		<div fxFlex="95%">
			<h1>Lägg till artiklar i utbudet {{assortment.name}}</h1>
		</div>
	</div>
	<div fxLayout="row" class="navigation">
		<span routerLink="/organization/{{organizationId}}/assortment">Utbud</span>
		<span> > </span>
		<span routerLink="/organization/{{organizationId}}/assortment/{{assortment.id}}/handle">Hantera utbud</span>
		<span> > </span>
		<span class="navigation-last">Lägg till artiklar</span>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container mat-elevation-z1">
				<mat-form-field>
					<input data-cy="searchassortment-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-label>Sök artiklar</mat-label>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</div>
		</div>
	</div>

  <div fxLayout="row" fxLayoutGap="10px" class="content">

    <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">

			<div fxFlex="50%" class="border-component">
				<div class="component first-component">
					<mat-form-field floatLabel="always">
						<mat-select data-cy="selectedassortments-dropdown" [(ngModel)]="selectedAssortment"
												 (selectionChange)="onAssortmentSelection()">
							<mat-option [value]="undefined"></mat-option>
							<mat-option *ngFor="let assortment of assortments" [value]="assortment.id">
								{{assortment.name}}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">Utbud
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ASSORTMENT_ASSORTMENT}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>
			</div>

      <div fxFlex="50%" class="border-component">
        <div class="component first-component">
          <mat-form-field floatLabel="always">
            <mat-select  data-cy="selectedagreements-dropdown" [(ngModel)]="selectedAgreement"
                        (selectionChange)="onAgreementSelection()">
              <mat-option [value]="undefined"></mat-option>
              <mat-option *ngFor="let agreement of agreements" [value]="agreement.id">
                {{agreement.agreementNumber}} <span *ngIf="agreement.agreementName"> - {{agreement.agreementName}}</span>
              </mat-option>
            </mat-select>
            <mat-label class="icon-label">Inköpsavtal
              <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                        matTooltip="{{helpTexts.values.ASSORTMENT_AGREEMENT}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-label>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-select  data-cy="selectedpricelist-dropdown" [(ngModel)]="selectedPricelist" [disabled]="!selectedAgreement"
                        (selectionChange)="onFilterChange()">
              <mat-option *ngFor="let pricelist of pricelists" [value]="pricelist.id">
                {{pricelist.number}}&nbsp;{{pricelist.status | formatPricelistStatus}}
              </mat-option>
            </mat-select>
            <mat-label *ngIf="selectedAgreement">Prislista</mat-label>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="50%" class="border-component">
        <div class="component first-component">
          <mat-form-field floatLabel="always">
            <mat-select  data-cy="selectedGP-dropdown" [(ngModel)]="selectedGP"
                         (selectionChange)="onGPSelection()">
              <mat-option [value]="undefined"></mat-option>
              <mat-option *ngFor="let GP of GPs" [value]="GP.ownerOrganization.id">
                {{GP.ownerOrganization.organizationName}}
<!--                {{GP.generalPricelistNumber}} <span *ngIf="GP.generalPricelistName"> - {{GP.generalPricelistName}}</span> - {{GP.ownerOrganization.organizationName}} - {{GP.validFrom | date: 'yyyy-MM-dd'}} - {{GP.validTo | date: 'yyyy-MM-dd'}}-->
              </mat-option>
            </mat-select>
            <mat-label class="icon-label">Generell prislista
              <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                        matTooltip="{{helpTexts.values.ASSORTMENT_GP}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-label>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-select  data-cy="selectedGPpricelist-dropdown" [(ngModel)]="selectedGPPricelist" [disabled]="!selectedGP"
                         (selectionChange)="onFilterChange()">
              <mat-option *ngFor="let GPPricelist of GPPricelists" [value]="GPPricelist.id">
                {{GPPricelist.number}}&nbsp;{{GPPricelist.status | formatPricelistStatus}} {{GPPricelist.validFrom | date: 'yyyy-MM-dd'}}
              </mat-option>
            </mat-select>
            <mat-label *ngIf="selectedGP">Prislista</mat-label>
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="(allArticles.length !== 1 && pricelistArticles.length !== 1) && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="(allArticles.length === 1 || pricelistArticles.length === 1) && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
		<div fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>ARTIKELTYPER</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ASSORTMENT_FILTER_ARTICLETYPE}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-checkbox data-cy="filterH-checkbox" [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component last-component">
						<mat-checkbox data-cy="filterT-checkbox" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>

			<div *ngIf="assortmentId && !loading" fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>STATUS FÖR ARTIKEL</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_FILTER_STATUS}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-checkbox data-cy="filterpublished-checkbox"  [(ngModel)]="filterPublished" (change)="onFilterChange()">Aktiv
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component last-component">
						<mat-checkbox data-cy="filterdiscontinued-checkbox"  [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>

			<div *ngIf="assortmentId && !loading" fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>ARTIKELKATEGORI</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ASSORTMENT_FILTER_CATEGORY}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always">
							<input data-cy="category-input"  autocomplete="off" type="text" matInput readonly
										 [formControl]="categoryFormControl"
										 (click)="openCategoryDialog()">
							<button data-cy="clearcategory-btn" *ngIf="categoryFormControl.value" matSuffix mat-icon-button
											aria-label="Clear"
											(click)="clearCategory()">
								<mat-icon>close</mat-icon>
							</button>
							<mat-label>Kategori</mat-label>
							<mat-error data-cy="caterror" *ngIf="categoryError">{{categoryError}}</mat-error>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</div>
		</div>

		<div *ngIf="loading">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
		<div *ngIf="(allArticles.length || pricelistArticles.length) && !loading" fxFlex="100%"
				 class="container mat-elevation-z1">

			<app-product-table [dataSource]="dataSource" matSort matSortDirection="{{sortOrder}}" matSortActive="{{sortType}}"
									(matSortChange)="sortData($any($event))">
				<ng-container matColumnDef="checkbox">
					<mat-header-cell *matHeaderCellDef fxFlex="5%">
						<mat-checkbox (change)="$event ? masterToggle() : null"
													[checked]="selection.hasValue() && isAllSelected()"
													[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="5%">
						<mat-checkbox (click)="$event.stopPropagation()"
													(change)="$event ? selection.toggle(element) : null"
													[checked]="selection.isSelected(element)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="basedOnProduct">
					<mat-header-cell *matHeaderCellDef fxFlex="25%" mat-sort-header> Baseras på produkt</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="25%"> {{element.basedOnProduct.productNumber}} - {{element.basedOnProduct.productName}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header> Status</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</app-product-table>

      <app-pagination [searchTotal]="searchTotal" [offset]="offset" [currentPage]="currentPage" [pages]="allPages" [goToPage]="goToPage.bind(this)" [totalPages]="totalPages"></app-pagination>
		</div>
	</div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
		 class="savebar-container">
	<div fxFlex="50%"></div>
	<div fxFlex="50%">
		<button data-cy="addmarkedarticles-btn" *ngIf="!saving" mat-raised-button
						color="primary"
						[disabled]="!selection.selected.length"
						(click)="addArticlesToAssortment()">LÄGG TILL MARKERADE ARTIKLAR
			({{selection.selected.length}})
		</button>
		<button data-cy="addallarticles-btn" *ngIf="!saving && (selectedPricelist || selectedAssortment)" mat-raised-button
            color="primary"
            [disabled]="pricelistArticles.length == 0"
            (click)="addAllArticlesToAssortment()">LÄGG TILL ALLA ARTIKLAR I SÖKRESULTATET
      ({{searchTotal}})
    </button>
    <a data-cy="close-btn" *ngIf="!saving" mat-button routerLink="../handle">STÄNG</a>
		<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
	</div>
</div>
