<!--<mat-form-field>
  <mat-select name="countryVaraible" [(value)]="selectedCountry" placeholder="Country">
    <mat-option *ngFor="let country of countries" [value]="country.short">
      {{country.full}}
    </mat-option>
  </mat-select>
</mat-form-field>

&nbsp;&nbsp;
Selected = {{selectedCountry}}-->


<!--<div class="column-content">
  <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelOneCategories">
    <mat-card class="select">
      <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>-->
<div style="margin-bottom: 10px">Skapa ny kategori - öppna upp funktionen med knappen "Skapa kategori"<br>
	Ändra eller ta bort kategori - markera aktuell kategori och redigera
</div>
<div *ngIf="!query" fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">

	<div fxLayout="column" fxFlex="25%"
			 class="border-component">
		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2>NIVÅ 1</h2>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelOneCategories">
				<mat-card id="{{category.id}}" class="select" (click)="onCategorySelection(category, 1)"
									[ngClass]="{'selected': category.id === selectedLevelOne}">
					<mat-card-subtitle>
              <span matTooltip="{{category.description}}"
										[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
					</mat-card-subtitle>
				</mat-card>

			</div>
			<br>


		</div>

	</div>


	<div *ngIf="selectedCategoryOne.id" fxLayout="column" fxFlex="25%"
			 class="border-component">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2>NIVÅ 2</h2>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelTwoCategories">
				<mat-card class="select" (click)="onCategorySelection(category, 2)"
									[ngClass]="{'selected': category.id === selectedLevelTwo}">
					<mat-card-subtitle>
              <span matTooltip="{{category.description}}"
										[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
					</mat-card-subtitle>
				</mat-card>
			</div>
		</div>
	</div>

	<div *ngIf="selectedCategoryTwo.id" fxLayout="column" fxFlex="25%"
			 class="border-component">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2>NIVÅ 3</h2>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelThreeCategories">
				<mat-card class="select" (click)="onCategorySelection(category, 3)"
									[ngClass]="{'selected': category.id === selectedLevelThree}">
					<mat-card-subtitle>
              <span matTooltip="{{category.description}}"
										[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
					</mat-card-subtitle>
				</mat-card>
			</div>


		</div>
	</div>

	<div *ngIf="selectedCategoryThree.id" fxLayout="column" fxFlex="25%"
			 class="border-component">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2>NIVÅ 4</h2>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelFourCategories">
				<mat-card class="select" (click)="onCategorySelection(category, 4)"
									[ngClass]="{'selected': category.id === selectedLevelFour}">
					<mat-card-subtitle>
              <span matTooltip="{{category.description}}"
										[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
					</mat-card-subtitle>
				</mat-card>
			</div>
		</div>
	</div>
</div>

<br>
<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">


	<div fxLayout="column" fxFlex="25%"
			 class="border-component" style="border:0px">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2 *ngIf="selectedCategoryOne.name; else levelonechoosed" style="width:100%">{{selectedCategoryOne.name}}</h2>
			<ng-template #levelonechoosed>
				<h2>Nivå 1 - Välj ovan eller fyll i nedan</h2>
			</ng-template>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-card>
					<form [formGroup]="lvl1categoryForm">
						<div>
							<mat-form-field style="width:100%">
								<input data-cy="lvl1categorycode-input" autofocus autocomplete="off" readonly matInput
											 [(ngModel)]="selectedCategoryOne.code" formControlName="code">
								<mat-label>Kod</mat-label>
							</mat-form-field>

							<!--            <mat-form-field style="padding-left:5px">
															<input autofocus autocomplete="off" readonly matInput [(ngModel)]="selectedCategoryOne.id"  formControlName="id">
															<mat-label>Id</mat-label>
														</mat-form-field>-->
						</div>

						<div>
							<mat-form-field style="width:100%">
                <textarea data-cy="lvl1categoryname-input" autofocus autocomplete="off" rows="2" readonly matInput
													[(ngModel)]="selectedCategoryOne.name" formControlName="name"></textarea>
								<mat-label>Namn</mat-label>
							</mat-form-field>
						</div>

						<!--  <div>
								<mat-form-field>
									<input autofocus autocomplete="off" readonly matInput  [(ngModel)]="selectedCategoryOne.code"  formControlName="code">
									<mat-label>Kod</mat-label>
								</mat-form-field>
							</div>-->

						<div style="width:100%">
							<mat-form-field style="width:100%">
                <textarea data-cy="lvl1categorydescription-input" autofocus autocomplete="off" rows="5" readonly
													matInput type="text" [(ngModel)]="selectedCategoryOne.description"
													formControlName="description"></textarea>
								<mat-label>Beskrivning</mat-label>
							</mat-form-field>
						</div>

						<div>

						</div>

					</form>
					<button data-cy="btn1" mat-mini-fab *ngIf="selectedCategoryOne.id && !levelTwoCategories"
									(click)="confirm(1)"
									style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;">
						<mat-icon>delete</mat-icon>
					</button>

					<button data-cy="btn2" (click)="OpenCreateUpdateDialog(1)" mat-button
									style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
                         <span *ngIf="selectedCategoryOne.id; else changeText1">Ändra
              </span>
					</button>

					<ng-template #changeText1>
						<span>Skapa ny kategori</span>
					</ng-template>

					<mat-card-subtitle>
						<!--<span matTooltip="{{category.description}}"
									[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>-->
					</mat-card-subtitle>

				</mat-card>

			</div>

		</div>
	</div>

	<div *ngIf="selectedCategoryOne.id" fxLayout="column" fxFlex="25%"
			 class="border-component" style="border:0px">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2 *ngIf="selectedCategoryTwo.name; else leveltwochoosed">{{selectedCategoryTwo.name}}</h2>
			<ng-template #leveltwochoosed>
				<h2>Nivå 2 - Välj ovan eller fyll i nedan</h2>
			</ng-template>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-card>
					<form [formGroup]="lvl2categoryForm">
						<div>
							<mat-form-field style="width:100%">
								<input data-cy="lvl2categorycode-input" autofocus autocomplete="off" readonly matInput
											 [(ngModel)]="selectedCategoryTwo.code" formControlName="code">
								<mat-label>Kod</mat-label>
							</mat-form-field>


							<!--        <mat-form-field style="padding-left:5px">
												<input autofocus autocomplete="off" readonly matInput [(ngModel)]="selectedCategoryTwo.id"  formControlName="id">
												<mat-label>Id</mat-label>
											</mat-form-field>-->

						</div>
						<div>
							<mat-form-field style="width:100%">
                <textarea data-cy="lvl2categoryname-input" autofocus autocomplete="off" rows="2" readonly matInput
													[(ngModel)]="selectedCategoryTwo.name" formControlName="name"></textarea>
								<mat-label>Namn</mat-label>
							</mat-form-field>
						</div>


						<div style="width:100%">
							<mat-form-field style="width:100%">
                <textarea data-cy="lvl2categorydescription-input" autofocus autocomplete="off" readonly rows="5"
													matInput type="text" [(ngModel)]="selectedCategoryTwo.description"
													formControlName="description"></textarea>
								<mat-label>Beskrivning</mat-label>
							</mat-form-field>
						</div>

						<div>
						</div>

					</form>
					<button data-cy="btn3" mat-mini-fab *ngIf="selectedCategoryTwo.id && !levelThreeCategories"
									(click)="confirm(2)"
									style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;">
						<mat-icon>delete</mat-icon>
					</button>
					<button data-cy="btn4" (click)="OpenCreateUpdateDialog(2)" mat-button
									style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
						<span *ngIf="selectedCategoryTwo.id; else changeText2">Ändra</span>
					</button>
					<mat-card-subtitle>
						<!--<span matTooltip="{{category.description}}"
									[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>-->
					</mat-card-subtitle>
					<ng-template #changeText2>
						<span>Skapa ny kategori</span>
					</ng-template>
				</mat-card>
			</div>
		</div>
	</div>


	<div *ngIf="selectedCategoryTwo.id" fxLayout="column" fxFlex="25%"
			 class="border-component" style="border:0px">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2 *ngIf="selectedCategoryThree.name; else levelthreechoosed">{{selectedCategoryThree.name}}</h2>
			<ng-template #levelthreechoosed>
				<h2>Nivå 3 - Välj ovan eller fyll i nedan</h2>
			</ng-template>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-card>
					<form [formGroup]="lvl3categoryForm">
						<div>
							<mat-form-field>
								<input data-cy="lvl3categorycode-input" autofocus autocomplete="off" readonly matInput
											 [(ngModel)]="selectedCategoryThree.code" formControlName="code">
								<mat-label>Kod</mat-label>
							</mat-form-field>
							<mat-form-field style="padding-left:5px">
								<input data-cy="lvl3categoryarticletype-input" autofocus autocomplete="off" matInput readonly
											 [(ngModel)]="selectedCategoryThree.articleType" formControlName="articleType">
								<mat-label>Artikeltyp</mat-label>

							</mat-form-field>


							<!--              <mat-form-field style="padding-left:5px">
															<input autofocus autocomplete="off" readonly matInput [(ngModel)]="selectedCategoryThree.id"  formControlName="id">
															<mat-label>Id</mat-label>
														</mat-form-field>-->

						</div>

						<div>


							<mat-form-field style="width:100%">
                <textarea data-cy="lvl3categoryname-input" autofocus autocomplete="off" rows="2" readonly matInput
													[(ngModel)]="selectedCategoryThree.name" formControlName="name"></textarea>
								<mat-label>Namn</mat-label>
							</mat-form-field>
						</div>

						<div style="width:100%">
							<mat-form-field style="width:100%">
                <textarea data-cy="lvl3categorydescription-input" autofocus autocomplete="off" rows="5" readonly
													matInput type="text" [(ngModel)]="selectedCategoryThree.description"
													formControlName="description"></textarea>
								<mat-label>Beskrivning</mat-label>
							</mat-form-field>
						</div>

						<div>

						</div>

					</form>
					<button data-cy="btn5" mat-mini-fab *ngIf="selectedCategoryThree.id && !levelFourCategories"
									(click)="confirm(3)"
									style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;">
						<mat-icon>delete</mat-icon>
					</button>
					<button data-cy="btn6" (click)="OpenCreateUpdateDialog(3)" mat-button
									style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
            <span *ngIf="selectedCategoryThree.id; else changeText3">Ändra
              </span>
					</button>
					<ng-template #changeText3>
						<span>Skapa ny kategori</span>
					</ng-template>
					<mat-card-subtitle>
						<!--<span matTooltip="{{category.description}}"
									[matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>-->
					</mat-card-subtitle>
				</mat-card>
			</div>
		</div>
	</div>

	<!-- <div fxLayout="column" fxFlex="25%"
				class="border-component" style="border:0px">

		 <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			 <h2 *ngIf="selectedCategoryThree.name; else levelthreechoosed">{{selectedCategoryThree.name}}</h2>
			 <ng-template #levelthreechoosed>
				 <h2>Nivå 3 - Välj ovan eller fyll i nedan</h2>
			 </ng-template>
		 </div>
		 <div class="column-content">
			 <div fxLayout="row" fxLayoutAlign="center center">
				 <mat-card>
					 <p>Namn: {{selectedCategoryThree.name}}</p>
					 <p>Beskrivning: {{selectedCategoryThree.description}}</p>
					 <p>Id: {{selectedCategoryThree.id}}</p>
					 <p>Kod: {{selectedCategoryThree.code}}</p>
					 <p>Artikeltyp: {{selectedCategoryThree.articleType}}</p>
					 <mat-card-subtitle>
						 &lt;!&ndash;<span matTooltip="{{category.description}}"
									 [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>&ndash;&gt;
					 </mat-card-subtitle>
				 </mat-card>
			 </div>
		 </div>
	 </div>-->

	<div *ngIf="selectedCategoryThree.id" fxLayout="column" fxFlex="25%"
			 class="border-component" style="border:0px">

		<div fxLayout="row" fxLayoutAlign="center center" class="component-title">
			<h2 *ngIf="selectedCategoryFour.name; else levelfourchoosed">{{selectedCategoryFour.name}}</h2>
			<ng-template #levelfourchoosed>
				<h2>Nivå 4 - Välj ovan eller fyll i nedan</h2>
			</ng-template>
		</div>
		<div class="column-content">
			<div fxLayout="row" fxLayoutAlign="center center">
				<mat-card>

					<form [formGroup]="lvl4categoryForm">
						<div>
							<mat-form-field>
								<input data-cy="lvl4categorycode-input" autofocus autocomplete="off" matInput readonly
											 [(ngModel)]="selectedCategoryFour.code" formControlName="code">
								<mat-label>Kod</mat-label>
							</mat-form-field>
							<mat-form-field style="padding-left:5px">
								<input data-cy="lvl4categoryarticletype-input" autofocus autocomplete="off" matInput readonly
											 [(ngModel)]="selectedCategoryFour.articleType" formControlName="articleType">
								<mat-label>Artikeltyp</mat-label>

							</mat-form-field>


							<!--              <mat-form-field style="padding-left:5px">
															<input autofocus autocomplete="off" readonly matInput [(ngModel)]="selectedCategoryFour.id"  formControlName="id">
															<mat-label>Id</mat-label>
														</mat-form-field>-->

						</div>

						<div>

							<mat-form-field style="width:100%">
                <textarea data-cy="lvl4categoryname-input" autofocus autocomplete="off" rows="2" matInput readonly
													[(ngModel)]="selectedCategoryFour.name" formControlName="name"></textarea>
								<mat-label>Namn</mat-label>
							</mat-form-field>
						</div>

						<div style="width:100%">
							<mat-form-field style="width:100%">
                <textarea data-cy="lvl4categorydescription-input" autofocus autocomplete="off" rows="5" readonly
													matInput type="text" [(ngModel)]="selectedCategoryFour.description"
													formControlName="description"></textarea>
								<mat-label>Beskrivning</mat-label>
							</mat-form-field>
						</div>

						<div>
						</div>

					</form>
					<button data-cy="btn7" mat-mini-fab *ngIf="selectedCategoryFour.id"
									(click)="confirm(4)"
									style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;">
						<mat-icon>delete</mat-icon>
					</button>
					<button data-cy="btn8" (click)="OpenCreateUpdateDialog(4)" mat-button
									style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
                        <span *ngIf="selectedCategoryFour.id; else changeText4">Ändra
              </span>

					</button>
					<ng-template #changeText4>
						<span>Skapa ny kategori</span>
					</ng-template>
				</mat-card>
			</div>
		</div>
	</div>
</div>
<div>

	<button data-cy="btn9" mat-button style="background-color: #e0e0e0;  color: black; margin-top:10px;"
					(click)="CleanUpForms()">Rensa
	</button>

</div>


<!--
<div class="column-content">
  <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelOneCategories">
    <mat-card class="select" (click)="onCategorySelection(category, 1)"
              [ngClass]="{'selected': category.id === selectedLevelOne}">
      <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>-->
