<mat-table #table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="{{sortOrder}}" matSortActive="{{sortType}}" (matSortChange)="sortData($event)">

  <ng-container matColumnDef="generalPricelistNumber">
    <mat-header-cell *matHeaderCellDef fxFlex="30%"> Avtalsnummer</mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.generalPricelistNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="generalPricelistName">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%"> Avtalsnamn</mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.generalPricelistName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ownerOrganization.organizationName">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%"> Leverantör</mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.ownerOrganization.organizationName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="validFrom">
    <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt from</mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="validTo">
    <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt tom</mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="anchor">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a
        href="organization/{{element.ownerOrganization.id}}/generalpricelist/{{element.id}}"></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeTo(row)"
					 [title]="row.generalPricelistName" appMatRowKeyboardEvent (enterPressed)="routeTo(row)"
					 tabindex=0></mat-row>

</mat-table>
