@import '../../../../theme.scss';

.search {
	width: 25%;
	min-width: 280px;
}

.border-component {
	min-width: 280px;
}

.column-content {
	padding: 0;
}

.selected {
	background: $primary-color;

	mat-card-subtitle {
		color: #FFFFFF;
	}
}

.select {
	cursor: pointer;
	width: 100%;
	padding: 5px 7px;

	* {
		font-size: 16px;
	}
}

.column-select {
	font-size: 30px !important;
}

.category-container {
	margin: 20px 0;
}

.mat-dialog-actions {
	.mat-button {
		color: cornflowerblue;
	}
}

