<mat-table [dataSource]="dataSource">
	<ng-content></ng-content>

	<ng-container matColumnDef="articleType">
		<mat-header-cell  *matHeaderCellDef >Typ</mat-header-cell>
		<mat-cell  *matCellDef="let element" >
			<span *ngIf="element.type === 'PRODUCT'">P</span>
			<span *ngIf="element.type === 'ARTICLE'">{{element.articleType}}</span>
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef  mat-sort-header>Benämning</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.name}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="number">
		<mat-header-cell *matHeaderCellDef  mat-sort-header>Produkt/artnr</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="organizationName">
		<mat-header-cell *matHeaderCellDef  mat-sort-header>Leverantör</mat-header-cell>
		<mat-cell *matCellDef="let element">{{element.organizationName}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="code">
		<mat-header-cell *matHeaderCellDef >Kategori</mat-header-cell>
		<mat-cell *matCellDef="let element">
			{{element.code}}
		</mat-cell>
	</ng-container>
</mat-table>
