<div fxLayout="row" class="component first-component">
	<h1>Ta bort artikel</h1>
</div>

<mat-dialog-content>
	<div class="component">
		<p>Är du säker på att du vill ta bort artikeln?</p>
	</div>
</mat-dialog-content>

<mat-dialog-actions>

	<button data-cy="remove-btn" mat-button [disabled]="loading" (click)="done()">
		TA BORT
	</button>

	<button data-cy="cancel-btn" mat-button mat-dialog-close>
		AVBRYT
	</button>

</mat-dialog-actions>

<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
