@import '../../../theme.scss';

.page-footer {
	background-color: #FFFFFF;
	margin-left: 20px;
	margin-right: 20px;
	border-top: 1px solid gray;
	color: gray;
	font-size: 18px;
	padding: 40px;

	.footer-logotype {
		width: 100px;
		height: 100%;
	}

	.footer-header {
		color: $primary-color;
		font-size: 20px;
	}

	.footer-order-component {
		max-width: 160px;
	}
}
