<div class="page-footer" fxLayout.lt-md="{{flexDirection}}" fxLayoutAlign="space-around center"
		 fxLayoutAlign.lt-md="space-around start" fxLayoutGap.lt-md="20px">
	<div class="footer-component">
		<img class="footer-logotype" src="assets/Inera-Logo.svg">
	</div>
	<div class="footer-component">
		<div class="footer-header">BESÖKSADRESS</div>
		<div>Tjärhovsgatan 21B</div>
		<div>Stockholm</div>
	</div>
	<div class="footer-component">
		<div class="footer-header">POSTADRESS</div>
		<div>Box 17703,</div>
		<div>118 93 Stockholm</div>
	</div>
	<div class="footer-component">
		<div class="footer-header">SUPPORT</div>
		<div>Support&#64;inera.se</div>
		<div>0771-25 10 10</div>
	</div>
	<div class="footer-order-component">
		<div class="footer-header">BESTÄLLNINGAR</div>
		<a>Begär upplägg av ny lokal</a>
		<a>administratör</a>
	</div>
</div>
