<section class="content border-component" fxLayout="column" fxLayoutGap="10px">
	<div class="component-title" style="padding: 10px;">
		<h2>{{title}}</h2>
	</div>

	<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 20px;">



		<ng-container matColumnDef="artikelnummer">
			<mat-header-cell *matHeaderCellDef fxFlex="16%"> Artikelnummer</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="16%"> {{item.articleNumber}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="leverantör">
			<mat-header-cell *matHeaderCellDef fxFlex="20%">Leverantör</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="20%">{{item.organizationName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="artikelnamn">
			<mat-header-cell *matHeaderCellDef fxFlex="20%"> Artikelbenämning</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="20%"> {{item.articleName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="utgångsdatum">
			<mat-header-cell *matHeaderCellDef fxFlex="20%"> Utgångsdatum</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="20%"> {{item.replacementDate | date:'yyyy-MM-dd'}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="utbudsnamn">
			<mat-header-cell *matHeaderCellDef fxFlex="20%"> Utbud</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="20%"> {{item.assortmentName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="articleMenu">
			<mat-header-cell *matHeaderCellDef fxFlex="4%"></mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="4%">

				<button data-cy="article-notice-menu-btn" mat-icon-button [matMenuTriggerFor]="articleMenu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #articleMenu="matMenu">


					<button data-cy="goto-article-btn" mat-menu-item
									routerLink="/organization/{{item.articleOrganizationId}}/article/{{item.articleId}}/handle">
						<mat-icon>open_in_browser</mat-icon>
						<span>Gå till artikel</span>
					</button>

					<button data-cy="goto-assortment-btn" mat-menu-item
									routerLink="/organization/{{item.assortmentOrganizationId}}/assortment/{{item.assortmentId}}/handle">
						<mat-icon>open_in_browser</mat-icon>
						<span>Gå till utbud</span>
					</button>

					<button data-cy="removenotice-btn" mat-menu-item
									(click)="removeArticlesDiscontinuedNotice(item.articleOrganizationId, item.articleId, item.assortmentId,'one')">
						<mat-icon color="warn">block</mat-icon>
						<span>Ta bort notis</span>
					</button>

					<button data-cy="removenotice-art-btn" mat-menu-item
									(click)="removeArticlesDiscontinuedNotice(item.articleOrganizationId, item.articleId, item.assortmentId,'art')">
						<mat-icon color="warn">block</mat-icon>
						<span>Ta bort notiser för denna artikel</span>
					</button>

					<button data-cy="removenotice-ass-btn" mat-menu-item
									(click)="removeArticlesDiscontinuedNotice(item.articleOrganizationId, item.articleId, item.assortmentId, 'ass')">
						<mat-icon color="warn">block</mat-icon>
						<span>Ta bort notiser för detta utbud</span>
					</button>

					<button data-cy="remove-all-notice-btn" mat-menu-item
									(click)="removeArticlesDiscontinuedNotice(item.articleOrganizationId, item.articleId, item.assortmentId,'all')">
						<mat-icon color="warn">delete</mat-icon>
						<span>Ta bort alla notiser</span>
					</button>

				</mat-menu>


			</mat-cell>
		</ng-container>


		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


	</mat-table>


</section>

