
.validity-dates {
	margin-left: -0.50em;
	padding: 0 20px 20px 20px;

	.mat-form-field {
		width: 95%;
	}
}

.dynamic-component {
	padding: 20px 20px 20px 20px;

	.remove {
		cursor: pointer;
	}

	.edit-gp-btn {
		margin-top: -0.50em;
	}
}

.open-add-dialog {
	color: cornflowerblue;
}

.not-last {
	border-right: none;
}

.warranty-component {
	padding: 0 20px 0 20px;

	mat-form-field {
		margin-bottom: -1.25em;
	}

	warranty-terms {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 100%;
	}
}

.first-warranty-component {
	padding: 71px 20px 38px 20px;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	mat-form-field {
		margin-bottom: -1.25em;
	}
}

.last-warranty-component {
	padding: 0 20px 20px 20px;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	mat-form-field {
		margin-bottom: -1.25em;
	}

	warranty-terms {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 100%;
	}
}

.warranty-component-type {
	padding: 0 20px 38px 20px;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.last-content {
	padding-bottom: 75px;
}

.pricelist-row {
	cursor: pointer;

	.mat-icon-button {
		margin: -10px;
	}
}

.tooltip-small {
	.mat-icon {
		padding-top: 10px;
		font-size: 16px;
	}
}

.warranty-header {
	padding-top: 30px;
}
