<div class="page-wrapper">
	<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
	<div *ngIf="loaded && helpTextsLoaded">
		<div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
			<div fxFlex="95%">
				<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
					<h1 *ngIf="generalPricelistId">{{generalPricelist.generalPricelistNumber}}</h1>
					<h1 *ngIf="!generalPricelistId">Ny generell prislista</h1>
					<mat-icon class="tooltip"
										matTooltip="{{helpTexts.values.GENERAL_PRICELIST_INFO}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
			</div>
			<div
				*ngIf="!tabIndex && generalPricelistId && !editMode && showSaveBar && (hasPermissionToUpdateGeneralPricelist)"
				fxFlex="2%"
				fxLayoutAlign="center">
				<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
			</div>
		</div>

		<mat-tab-group class="tab-group" (selectedTabChange)="onTabSelection($event)">
			<mat-tab label="Generell prislista">
				<div class="tab-content">
					<div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
						<div fxLayout="column" fxFlex="50%" class="column-content border-component">
							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>GENERELL PRISLISTA</h2>
							</div>

							<div fxLayout="row" class="component first-component">
								<mat-form-field floatLabel="always">
									<input data-cy="gpnumber-input" autocomplete="off" matInput required autofocus
												 [formControl]="numberFormControl">
									<mat-label class="icon-label">Avtalsnummer
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.GENERAL_PRICELIST_NUMBER}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</mat-label>
									<mat-error data-cy="numbererror" *ngIf="numberError">{{numberError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="gpname-input" autocomplete="off" matInput [formControl]="nameFormControl">
									<mat-label>Avtalsnamn</mat-label>
									<mat-error data-cy="nameerror" *ngIf="nameError">{{nameError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="gpsupplier-input" autocomplete="off" matInput [(ngModel)]="supplier" disabled>
									<mat-label class="icon-label">Leverantör
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.GENERAL_PRICELIST_SUPPLIER}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</mat-label>
								</mat-form-field>
							</div>

							<div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
								<div fxFlex="50%">
									<mat-form-field floatLabel="always">
										<input data-cy="gpvalidfrom-picker" autocomplete="off" matInput [matDatepicker]="pickerFrom"
													 required
													 [formControl]="validFromFormControl">
										<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
										<mat-datepicker #pickerFrom></mat-datepicker>
										<mat-label class="icon-label">Giltig from
											<mat-icon class="tooltip"
																matTooltip="{{helpTexts.values.GENERAL_PRICELIST_VALID_FROM}}"
																[matTooltipShowDelay]="500">info_outline
											</mat-icon>
										</mat-label>
										<mat-error data-cy="validfromerror" *ngIf="validFromError">{{validFromError}}</mat-error>
									</mat-form-field>
								</div>

								<div fxFlex="50%">
									<mat-form-field floatLabel="always">
										<input data-cy="gpvalidto-input" autocomplete="off" matInput [matDatepicker]="pickerTo" required
													 [formControl]="validToFormControl">
										<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
										<mat-datepicker #pickerTo></mat-datepicker>
										<mat-label class="icon-label">Giltig tom
											<mat-icon class="tooltip"
																matTooltip="{{helpTexts.values.GENERAL_PRICELIST_VALID_TO}}"
																[matTooltipShowDelay]="500">info_outline
											</mat-icon>
										</mat-label>
										<mat-error data-cy="validtoerror" *ngIf="validToError">{{validToError}}</mat-error>
									</mat-form-field>
								</div>
							</div>

						</div>

						<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px" class="column-content">

							<div class="border-component">
								<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
									<h2>AVTALSKONTAKT LEVERANTÖR</h2>
									<mat-icon class="tooltip"
														matTooltip="{{helpTexts.values.GENERAL_PRICELIST_SUPPLIER_CONTACT}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</div>

								<div *ngIf="!supplierContacts || !supplierContacts.length" class="component first-component>">
									<p>Vald leverantör saknar avtalskontakter</p>
								</div>
								<div *ngFor="let contact of supplierContacts" fxLayout="row" class="dynamic-component">
									<div fxLayout="column" fxFlex="50%">
										{{contact.firstName}} {{contact.lastName}}
									</div>
									<div fxLayout="column" fxFlex="50%">
										<div>{{contact.electronicAddress.email}}</div>
										<div>{{contact.electronicAddress.telephone}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}">
						<div fxLayout="column" fxFlex="15%" class="column-content border-component not-last">
							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>ARTIKELTYP</h2>
							</div>

							<div class="first-warranty-component">
								<div fxLayout="column" fxFlex="20%">
									H
								</div>
								<div fxLayout="column" fxFlex="80%">
									Huvudhjälpmedel
								</div>
							</div>
							<div class="warranty-component-type">
								<div fxLayout="column" fxFlex="20%">
									T
								</div>
								<div fxLayout="column" fxFlex="80%">
									Tillbehör
								</div>
							</div>
							<div class="warranty-component-type">
								<div fxLayout="column" fxFlex="20%">
									R
								</div>
								<div fxLayout="column" fxFlex="80%">
									Reservdel
								</div>
							</div>
							<div class="warranty-component-type">
								<div fxLayout="column" fxFlex="20%">
									I
								</div>
								<div fxLayout="column" fxFlex="80%">
									Inställning
								</div>
							</div>
							<div class="warranty-component-type last-warranty-component">
								<div fxLayout="column" fxFlex="20%">
									Tj
								</div>
								<div fxLayout="column" fxFlex="80%">
									Tjänst
								</div>
							</div>
						</div>

						<div fxLayout="column" fxFlex="20%" class="column-content border-component not-last">
							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>LEVERANSTID *</h2>
							</div>
							<div class="component first-component tooltip-small">
								Arbetsdagar
								<mat-icon class="tooltip"
													matTooltip="{{helpTexts.values.GENERAL_PRICELIST_DELIVERY_TIME}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
							<div class="warranty-component">
								<mat-form-field>
									<input data-cy="gpdeliverutimeH-input" autocomplete="off" matInput type="number"
												 [(ngModel)]="generalPricelist.deliveryTimeH"
												 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
								</mat-form-field>
							</div>
							<div class="warranty-component">
								<mat-form-field>
									<input data-cy="gpdeliverytimeT-input" autocomplete="off" matInput type="number"
												 [(ngModel)]="generalPricelist.deliveryTimeT"
												 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
								</mat-form-field>
							</div>
							<div class="warranty-component">
								<mat-form-field>
									<input data-cy="gpdeliverytimeR-input" autocomplete="off" matInput type="number"
												 [(ngModel)]="generalPricelist.deliveryTimeR"
												 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
								</mat-form-field>
							</div>
							<div class="warranty-component">
								<mat-form-field>
									<input data-cy="gpdeliverytimeI-input" autocomplete="off" matInput type="number"
												 [(ngModel)]="generalPricelist.deliveryTimeI"
												 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
								</mat-form-field>
							</div>
							<div class="warranty-component">
								<mat-form-field>
									<input data-cy="gpdeliverytimeTJ-input" autocomplete="off" matInput type="number"
												 [(ngModel)]="generalPricelist.deliveryTimeTJ"
												 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
								</mat-form-field>
							</div>
						</div>

						<div fxLayout="column" fxFlex="65%" class="column-content border-component">
							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>GARANTI</h2>
							</div>
							<div fxLayout="row" class="component">
								<div fxLayout="column" fxFlex="15%">
									<div class="component first-component tooltip-small warranty-header">
										Antal
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_AMOUNT}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<input data-cy="gpwarrantyH-input" autocomplete="off" matInput type="number"
														 [(ngModel)]="generalPricelist.warrantyQuantityH"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<input data-cy="gpwarrantyT-input" autocomplete="off" matInput type="number"
														 [(ngModel)]="generalPricelist.warrantyQuantityT"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<input data-cy="gpwarrantyR-input" autocomplete="off" matInput type="number"
														 [(ngModel)]="generalPricelist.warrantyQuantityR"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<input data-cy="gpwarrantyI-input" autocomplete="off" matInput type="number"
														 [(ngModel)]="generalPricelist.warrantyQuantityI"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<input data-cy="gpwarrantyTJ-input" autocomplete="off" matInput type="number"
														 [(ngModel)]="generalPricelist.warrantyQuantityTJ"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
										</mat-form-field>
									</div>
								</div>

								<div fxLayout="column" fxFlex="25%">
									<div class="component first-component tooltip-small warranty-header">
										Enhet
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_UNIT}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyunitH-dropdown" [(ngModel)]="selectedWarrantyQuantityHUnit"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let unit of units" [value]="unit">
													{{ unit.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyunitT-dropdown" [(ngModel)]="selectedWarrantyQuantityTUnit"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let unit of units" [value]="unit">
													{{ unit.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyunitR-dropdown" [(ngModel)]="selectedWarrantyQuantityRUnit"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let unit of units" [value]="unit">
													{{ unit.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyunitI-dropdown" [(ngModel)]="selectedWarrantyQuantityIUnit"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let unit of units" [value]="unit">
													{{ unit.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyunitTJ-dropdown" [(ngModel)]="selectedWarrantyQuantityTJUnit"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let unit of units" [value]="unit">
													{{ unit.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>

								<div fxLayout="column" fxFlex="25%">
									<div class="component first-component tooltip-small warranty-header">
										Gäller från
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_VALID_FROM}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyvalidfromH-dropdown" [(ngModel)]="selectedWarrantyValidFromH"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
													{{ validFrom.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyvalidfromT-dropdown" [(ngModel)]="selectedWarrantyValidFromT"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
													{{ validFrom.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyvalidfromR-dropdown" [(ngModel)]="selectedWarrantyValidFromR"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
													{{ validFrom.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyvalidfromI-dropdown" [(ngModel)]="selectedWarrantyValidFromI"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
													{{ validFrom.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field>
											<mat-select data-cy="gpwarrantyvalidfromTJ-dropdown" [(ngModel)]="selectedWarrantyValidFromTJ"
																	[disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
												<mat-option [value]="undefined"></mat-option>
												<mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
													{{ validFrom.name }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>

								<div fxLayout="column" fxFlex="35%">
									<div class="component first-component tooltip-small warranty-header">
										Garantivillkor
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_TERMS}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</div>
									<div class="warranty-component">
										<mat-form-field
											[matTooltip]="!editMode && generalPricelist.warrantyTermsH && generalPricelist.warrantyTermsH.length > 8 ? generalPricelist.warrantyTermsH : ''">
											<input data-cy="gpwarrantytermsH-input" autocomplete="off" matInput
														 [(ngModel)]="generalPricelist.warrantyTermsH"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
														 class="warranty-terms">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field
											[matTooltip]="!editMode && generalPricelist.warrantyTermsT && generalPricelist.warrantyTermsT.length > 8 ? generalPricelist.warrantyTermsT : ''">
											<input data-cy="gpwarrantytermsT-input" autocomplete="off" matInput
														 [(ngModel)]="generalPricelist.warrantyTermsT"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
														 class="warranty-terms">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field
											[matTooltip]="!editMode && generalPricelist.warrantyTermsR && generalPricelist.warrantyTermsR.length > 8 ? generalPricelist.warrantyTermsR : ''">
											<input data-cy="gpwarrantytermsR-input" autocomplete="off" matInput
														 [(ngModel)]="generalPricelist.warrantyTermsR"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
														 class="warranty-terms">
										</mat-form-field>
									</div>
									<div class="warranty-component">
										<mat-form-field
											[matTooltip]="!editMode && generalPricelist.warrantyTermsI && generalPricelist.warrantyTermsI.length > 8 ? generalPricelist.warrantyTermsI : ''">
											<input data-cy="gpwarrantytermsI-input" autocomplete="off" matInput
														 [(ngModel)]="generalPricelist.warrantyTermsI"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
														 class="warranty-terms">
										</mat-form-field>
									</div>
									<div class="last-warranty-component">
										<mat-form-field
											[matTooltip]="!editMode && generalPricelist.warrantyTermsTJ && generalPricelist.warrantyTermsTJ.length > 8 ? generalPricelist.warrantyTermsTJ : ''">
											<input data-cy="gpwarrantytermsTJ-input" autocomplete="off" matInput
														 [(ngModel)]="generalPricelist.warrantyTermsTJ"
														 [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
														 class="warranty-terms">
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Prislistor" *ngIf="generalPricelistId" [disabled]="editMode">
				<div class="tab-content">
					<div fxLayout="row" class="content">
						<div fxLayout="column" fxFlex="100%" class="column-content border-component">
							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>PRISLISTOR</h2>
							</div>
							<div fxLayout="row" class="component">
								<div fxLayout="column" fxFlex="20%">
									<div class="first-component">
										<h3>Prislistenummer *</h3>
									</div>
								</div>
								<div fxLayout="column" fxFlex="20%">
									<div class="first-component">
										<h3>Gäller från *</h3>
									</div>
								</div>
								<div fxLayout="column" fxFlex="20%">
									<div class="first-component">
										<h3>Status Prislista</h3>
									</div>
								</div>
							</div>
							<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
							<div *ngIf="!loading" class="dynamic-component">
								<div class="pricelist-row" fxLayout="row" *ngFor="let pricelist of generalPricelistPricelists"
										 routerLink="/organization/{{organizationId}}/generalpricelist/{{generalPricelistId}}/pricelist/{{pricelist.id}}">
									<div fxLayout="column" fxFlex="20%">
										{{pricelist.number}}
									</div>
									<div fxLayout="column" fxFlex="20%">
										{{pricelist.validFrom | date: 'yyyy-MM-dd'}}
									</div>
									<div fxLayout="column" fxFlex="5%">
										{{pricelist.status | formatPricelistStatus}}
									</div>
									<div fxLayout="column" fxFlex="5%">
										<button class="edit-gp-btn" data-cy="menu"
														*ngIf="hasPermissionToUpdateGeneralPricelistPricelist &&
                      (pricelist.status === 'FUTURE' ||
                      (pricelist.status === 'CURRENT' && !pricelist.hasPricelistRows))"
														mat-icon-button [matMenuTriggerFor]="inactivationMenu"
														(click)="$event.preventDefault();$event.stopPropagation()">
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu #inactivationMenu="matMenu">
											<button data-cy="updategp-btn" (click)="openUpdatePricelistDialog(pricelist)" mat-menu-item>
												<mat-icon color="warn">edit</mat-icon>
												<span>Editera</span>
											</button>
										</mat-menu>
									</div>
								</div>
							</div>
							<div *ngIf="hasPermissionToCreateGeneralPricelistPricelist" fxLayout="row" class="component">
								<div fxFlex="40%" fxLayoutAlign="end center">
									<button data-cy="addgp-btn" mat-button class="open-add-dialog" (click)="openCreatePricelistDialog()">
										LÄGG TILL
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>

		<div *ngIf="showSaveBar && editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
				 class="savebar-container">
			<div fxFlex="50%"></div>
			<div fxFlex="50%">
				<button data-cy="savegp-btn"
								*ngIf="!saving && editMode && (hasPermissionToCreateGeneralPricelist || hasPermissionToUpdateGeneralPricelist)"
								mat-raised-button
								color="primary" (click)="saveGeneralPricelist()">SPARA
					<mat-icon
						class="tooltip"
						matTooltip="{{helpTexts.values.GENERAL_PRICELIST_SAVE}}"
						[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</button>
				<a data-cy="cancel-btn" *ngIf="!saving &&generalPricelistId" mat-button (click)="cancel()">AVBRYT</a>
				<a data-cy="cancel-btn" *ngIf="!saving && !generalPricelistId" mat-button (click)="goBack()">AVBRYT</a>
				<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
			</div>
		</div>

	</div>
</div>
