<mat-dialog-content>
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<h1>Hantera prislista</h1>
		</div>
	</div>

	<div fxLayout="row" fxLayoutGap="10px" class="content">
		<div fxFlex="100%" class="component first-component">
			<mat-form-field *ngIf="!loadingAgreements" floatLabel="always">
				<mat-label>Avtal</mat-label>
				<mat-select data-cy="agreementselection-dropdown" [(ngModel)]="selectedAgreement"
										(selectionChange)="onAgreementSelection()">
					<mat-option *ngFor="let agreement of agreements" [value]="agreement.id">
						{{agreement.agreementNumber}} <span *ngIf="agreement.agreementName"> - {{agreement.agreementName}}</span>
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-progress-spinner *ngIf="loadingAgreements || (selectedAgreement && loadingPricelists)"
														mode="indeterminate"></mat-progress-spinner>
			<mat-form-field *ngIf="selectedAgreement && !loadingPricelists" floatLabel="always">
				<mat-label>Prislista</mat-label>
				<mat-select data-cy="pricelistselection-dropdown" [(ngModel)]="selectedPricelist">
					<mat-option *ngFor="let pricelist of pricelists" [value]="pricelist.id">
						{{pricelist.number}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<button data-cy="addarticle-btn" *ngIf="!saving" mat-button (click)="done()" [disabled]="!selectedPricelist">
			LÄGG TILL ARTIKEL I PRISLISTA
		</button>
		<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
		<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
	</mat-dialog-actions>
</div>
