@import 'fonts';
@import 'theme';

//* { margin:0; padding:0; }

html, body {
	height: 100%;
	margin: 0;
	font-family: "PT Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

.mdc-tab__text-label{
	font-size: large;
	//font-weight: bold;
}

.menu-label {
	margin-left: -5px;
}

.page-wrapper {
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 40px;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

	mat-form-field {
		width: 80%;
	}

	breadcrumb {
		cursor: pointer;
	}
}

.navigation-header {
	margin: 0 20px 0 20px;

	h1 {
		margin-bottom: 0;
	}
}

.navigation {
	margin: 0 20px 0 20px;

	h1 {
		margin-bottom: 0;
	}

	span {
		cursor: pointer;
		color: cornflowerblue;
		margin-bottom: 20px;
		white-space: pre;
	}

	.navigation-last {
		cursor: auto;
	}
}

mat-dialog-container {
	h1 {
		margin-inline: 16px;
	}
}

.border-component {
	border: 1px solid;

	.component {
		margin: -10px -10px -10px -10px;
		padding: 0 20px 0 20px;
		margin-bottom: 5px;
		-ms-word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}

	.first-component {
		padding-top: 20px;
	}

	.last-component {
		padding-bottom: 20px;
	}

	.article-type-component {
		padding-left: 40px;
	}

	mat-expansion-panel {
		box-shadow: none !important;

		mat-expansion-panel-header {
			padding-left: 0;
			background: rgba(17, 133, 130, 0.3) !important;
		}

		mat-expansion-panel-body {
			padding: 0;
		}

		.component {
			padding: 0 0 0 0;
			margin: -10px -10px -10px -10px;
		}

		.article-type-component {
			padding-left: 20px;
		}

		.first-component {
			padding-top: 25px;
		}

		.last-component {
			padding-bottom: 10px;
		}
	}
}

.component-title {
	background-color: rgba(17, 133, 130, 0.3);

	h2 {
		margin: 10px;
	}
}

button[mat-raised-button] {
	border-radius: 40px !important;
	font-weight: 700;
}

.menu-container {
	display: inline-flex;
	align-items: center;
	font-size: 20px;
}

//button[mat-icon-button] {
//	font-size: 16px;
//}


// Hide spin button from inputs of type 'number'
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

mat-checkbox-layout {
	white-space: normal !important;
}

.button-container {
	height: 60%;

	button {
		margin-right: 15px;
	}
}

.table-lg {
	min-width: 1440px;
}

.table-md {
	min-width: 960px;
}

mat-table {
	mat-header-row,
 .mat-mdc-row {
		border: 0;
		min-height: 34px;
		text-decoration: none;
	}

	&.pinkrows .mat-mdc-row:nth-child(even) {
		background-color: #ffebee;
	}

	.mat-mdc-row:nth-child(even) {
		background-color: rgba(17, 133, 130, 0.07);
	}

	mat-cell {
		font-size: 14px;
		overflow-wrap: break-word !important;
		white-space: normal !important;
		word-break: break-word !important;

		mat-form-field {
			margin: -1.25em 0;
		}
	}
}

.category-specific-placeholder {
	color: rgba(0, 0, 0, 0.44);
}

.paginator {
	margin-top: 20px;

	.paginator-nav {
		margin: 10px;
		cursor: pointer;
	}

	.current-page {
		font-weight: bold;
	}
}

.tab-group {
	border: 1px solid rgba(0, 0, 0, 0.12);
	margin-bottom: 100px;

	mat-tab-label-active {
		background-color: rgba(17, 133, 130, 0.3);
		outline: 0;
		opacity: 1;
	}

	.tab-content {
		padding: 20px 0;
	}
}

.savebar-container {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	width: 100%;
	padding: 10px 20px 10px 20px;
	background-color: #FFFFFF;
	border-top: 1px solid;

	a {
		width: 10%;
	}
}

.edit-mode-toggle {
	cursor: pointer;
}

.tooltip {
	cursor: default;
}

.long-tooltip {
	max-width: 800px !important;
}

.icon-label {
	pointer-events: auto;
}

mat-label {
	white-space: nowrap;
	font-size: 16px;
}

.mat-mdc-form-field-infix {
	a {
		pointer-events: auto;
	}
}

.mat-mdc-text-field-wrapper {
	background-color: white !important;
}

.mat-form-field-disabled {

	.mdc-line-ripple {
		opacity: 0;
	}

	.mat-mdc-select-arrow-wrapper {
		opacity: 0;
	}

	.mat-mdc-select-value-text {
		color: rgba(0, 0, 0, 0.87) !important;
		cursor: text;
	}

	mat-select {
		color: rgba(0, 0, 0, 0.87) !important;
		cursor: text;
	}

	textarea:disabled {
		color: rgba(0, 0, 0, 0.87) !important;
		cursor: text;
		resize: none;
		height: auto;
	}

	input:disabled {
		color: rgba(0, 0, 0, 0.87) !important;
		cursor: text;
	}
}

.mat-form-field-disabled .mat-select-value {
	color: rgba(0, 0, 0, 0.87) !important;
}

cdk-overlay-pane {
	// IE 11 fix
	mat-select-panel {
		flex: 1 0 auto;
	}
}

mat-menu-panel wide-mat-menu {
	max-width: none !important;
}
