@use '@angular/material' as mat;

@include mat.core();

$primary-color: #118582;
$secondary-color: #ED8B00;

$custom-typography: mat.define-typography-config(
	$font-family: '"PT Sans", sans-serif',
	$headline-1: mat.define-typography-level(32px, 48px, 700),
	$body-1: mat.define-typography-level(16px, 24px, 500)
);


h1 {
	font-size: 24px;
	color: #255453;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 16px;
	color: #255453;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
}

h3 {
	font-size: 16px;
	color: #255453;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

h4 {
	font-size: 12px;
	color: #255453;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

$hjmtj-palette: (
	50: $primary-color,
	100: $primary-color,
	200: $primary-color,
	300: $primary-color,
	400: $primary-color,
	500: $primary-color,
	600: $primary-color,
	700: $primary-color,
	800: $primary-color,
	900: $primary-color,
	A100: $primary-color,
	A200: $primary-color,
	A400: $primary-color,
	A700: $primary-color,
	contrast: (
		50: white,
		100: white,
		200: white,
		300: white,
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
		A100: white,
		A200: white,
		A400: white,
		A700: white,
	)
);

$hjmtj-primary: mat.define-palette($hjmtj-palette);
$hjmtj-accent: mat.define-palette($hjmtj-palette, A100, A200, A400);
$hjmtj-warn: mat.define-palette(mat.$red-palette);

//$hjmtj-theme: mat.define-light-theme($hjmtj-primary, $hjmtj-accent, $hjmtj-warn, $custom-typography);
$hjmtj-theme: mat.define-light-theme(
		(
			color: (
				primary: $hjmtj-primary,
				accent: $hjmtj-accent,
				warn: $hjmtj-warn,
			),
			typography: $custom-typography,
		)
);

@include mat.all-component-themes($hjmtj-theme);
