<div fxLayout="row" class="component first-component">
	<h1>Ta bort mediafil</h1>
</div>
<mat-dialog-content>
	<div class="component">
		<p *ngIf="data.media.fileName">Är du säker på att du vill ta bort {{data.media.fileName}}?</p>
		<p *ngIf="!data.media.fileName">Är du säker på att du vill ta bort mediat?</p>
	</div>
</mat-dialog-content>


<mat-dialog-actions>

	<button data-cy="deletemedia-btn" mat-button [disabled]="loading" (click)="done()">
		TA BORT
	</button>

	<button data-cy="cancel-btn" mat-button mat-dialog-close>AVBRYT</button>
</mat-dialog-actions>

<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
