@import '../../styles';

article.content {

	ul {

		> li {

			display: flex;
			gap: 1rem;
			align-content: space-between;

			mat-form-field {
				flex: 1;

				input {
					line-height: 1.5rem;
				}

				mat-label {
					font-size: 1rem;
					line-height: 1rem;
					position: relative;
					padding-right: 1.5rem;

					mat-icon.tooltip {
						font-size: 15px;
					}
				}
			}
		}
	}
}
