<div *ngIf="!loaded" class="content">Laddar...</div>
<div *ngIf="loaded" fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">

	<div style="width:100%" fxLayout="column" class="column-content border-component">
		<mat-expansion-panel [expanded]="true" class="expansion-content">
			<mat-expansion-panel-header class="component-title">
				<mat-panel-title>
					<div fxLayout="row" fxLayoutAlign="start center">
						<h2>Välj</h2>
						<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>-->
					</div>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<div fxLayout="row" class="component first-component">
				<mat-form-field>
					<mat-select data-cy="codes-sorting-dropdown">
						<mat-option (click)="select('all')">ISO-koder och Nationella tillägg med tillhörande information
						</mat-option>
						<mat-option (click)="select('ISO')">ISO-koder med tillhörande information</mat-option>
						<mat-option (click)="select('additions')">Nationella tillägg med tillhörande information</mat-option>
						<mat-option (click)="select('withCategorySpecificProperties')">ISO-koder och Nationella tillägg med
							kategorispecifika egenskaper
						</mat-option>
					</mat-select>
					<mat-label>Välj information som ska visas</mat-label>
				</mat-form-field>
			</div>
		</mat-expansion-panel>
	</div>
</div>


<div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
	<div style="width:100%" fxLayout="column" class="column-content border-component">
		<mat-expansion-panel [expanded]="true" class="expansion-content">
			<mat-expansion-panel-header class="component-title">
				<mat-panel-title>
					<div fxLayout="row" fxLayoutAlign="start center">
						<h2 *ngIf="this.dataSource === this.allCategories">ISO-koder och Nationella tillägg med tillhörande
							information</h2>
						<h2 *ngIf="this.dataSource === this.categoriesISO">ISO-koder med tillhörande information</h2>
						<h2 *ngIf="this.dataSource === this.categoriesISOAddition">Nationella tillägg med tillhörande
							information</h2>
						<h2 *ngIf="this.dataSource === this.categoriesWithCategorySpecificProperties">ISO-koder och Nationella
							tillägg med kategorispecifika egenskaper </h2>
					</div>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

				<ng-container matColumnDef="code">
					<mat-header-cell *matHeaderCellDef> Kod</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> Namn</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef> Beskrivning</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="articleType">
					<mat-header-cell *matHeaderCellDef> Artikeltyp</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.articleType}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="anchor">
					<mat-header-cell *matHeaderCellDef></mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button data-cy="more-info-btn" (click)="openDialog(element)">Mer info</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>

		</mat-expansion-panel>

	</div>


</div>












