<mat-dialog-content>
	<div fxLayout="row" class="component first-component">
		<p>När artikeln byter produkt den baseras på kommer artikeln ändra status till skickad på eventuella avtal.<br>Media
			(bilder, dokument och videor) kommer att tas bort och ersättas av de från den nya produkten.</p>

	</div>
	<div fxLayout="row" class="component">
		<mat-form-field floatLabel="always">
			<mat-label class="icon-label">Baseras på produkt</mat-label>
			<mat-select data-cy="selectbasedon-dropdown" [(ngModel)]="selectedBasedOnProduct"
									required>
				<mat-option *ngFor="let product of data.products" [value]="product">
					{{product.productNumber}} - {{product.productName}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<button data-cy="save-btn" *ngIf="!saving" mat-raised-button color="primary"
						(click)="done()"
						[disabled]="!selectedBasedOnProduct">
			SPARA
		</button>
		<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
		<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
	</mat-dialog-actions>
</div>
