<div fxLayout="row" class="component first-component">
	<h1>Ta bort GP från exportfil</h1>
</div>
<mat-dialog-content>
	<div class="component">
		<p *ngIf="data.gp.generalPricelistName">Är du säker på att du vill ta bort {{data.gp.generalPricelistName}}?</p>
		<p *ngIf="!data.gp.generalPricelistName">Är du säker på att du vill ta bort GP?</p>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<button data-cy="save-btn" *ngIf="!saving" mat-button (click)="done()">
		TA BORT
	</button>
	<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
	<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
