<section class="border-component mat-elevation-z8 dashboard-alerts-wrapper">
	<div class="dashboard-alerts-box">
		<div class="dashboard-icon-wrapper">
			<div class="dashboard-icon"
								[ngStyle]="(pricelistsPA == null || pricelistsPA.length == 0) && (pricelistsPI == null || pricelistsPI.length == 0) && newOrChangedPricelists == null && emptyPricelists == null && agreementsToExtend == null && pricelistsWithDeclinedRows == null ?
              	{'color': 'gray'} :
                {'color': 'darkgoldenrod'}">
				<span class="material-icons">{{eventsiconName}}</span>
			</div>
		</div>
	</div>

	<div class="dashboard-alerts-box">
		<h4>Ärenden att hantera</h4>
		<div>

			<!-- Kund -->
			<a *ngIf="pricelistsPA != null" class="dashboard-link" [routerLink]="['/dashboard']"
				 [queryParams]="{tab: 'events'}">
				<h5 style="color:#255453">{{pricelistsPAtext}}</h5>
			</a>
			<a *ngIf="pricelistsPI != null" class="dashboard-link" [routerLink]="['/dashboard']"
				 [queryParams]="{tab: 'events'}">
				<h5 style="color:#255453">{{pricelistsPItext}}</h5>
			</a>
			<a *ngIf="agreementsToExtend != null && userRole == 'CustomerAgreementManager'" class="dashboard-link"
				 [routerLink]="['/dashboard']" [queryParams]="{tab: 'events'}">
				<h5 style="color: #255453">{{agreementsToExtendText}}</h5>
			</a>

			<!-- Leverantör -->
			<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'events'}">
				<h5 *ngIf="newOrChangedPricelists != null && userRole == 'SupplierAgreementManager'"
						[ngStyle]="{'color': '#255453'}">{{newOrChangedPricelistsText}}</h5>
			</a>

			<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'events'}">
				<h5 *ngIf="pricelistsWithDeclinedRows != null && userRole == 'SupplierAgreementManager'"
						[ngStyle]="{'color': '#255453'}">{{declinedRowsText}}</h5>
			</a>

			<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'events'}">
				<h5 *ngIf="emptyPricelists != null && userRole == 'SupplierAgreementManager'"
						[ngStyle]="{'color': '#255453'}">{{emptyPricelistsText}}</h5>
			</a>

			<!-- Kund & Leverantör -->

			<h5
				*ngIf="(pricelistsPA == null || pricelistsPA.length == 0) && (pricelistsPI == null || pricelistsPI.length == 0) && newOrChangedPricelists == null && emptyPricelists == null && agreementsToExtend == null && pricelistsWithDeclinedRows == null"
				style="color: rgb(128,128,128)">{{noEventsText}}</h5>

		</div>
	</div>

</section>
