<div class="page-wrapper">
	<div fxLayout="row" class="navigation-header">
		<div *ngIf="!loading" fxFlex="95%">
			<h1>{{exportSetting.filename}}</h1>
		</div>

		<div fxFlex="3%">
			<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">

					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">
					<div class="menu-container">MENY
						<mat-icon matSuffix *ngIf="helpTextsLoaded"
											class="tooltip"
											matTooltip="{{helpTexts.values.SEARCH_MENU}}"
											[matTooltipShowDelay]="500">info_outline
        </mat-icon></div></span>
				</div>
			</button>
			<mat-menu #menu="matMenu" class="wide-mat-menu">
				<button data-cy="exportgp-btn" mat-menu-item (click)="exportGeneralPricelists()">
					<mat-icon color="primary">save_alt</mat-icon>
					<span>Exportera sökresultat till Excel-fil</span>
				</button>
			</mat-menu>
		</div>

	</div>
	<div fxLayout="row" class="navigation">
		<span routerLink="../">Exportfil</span><span> > </span><span
		class="navigation-last">Hantera exportfil</span>
	</div>

	<div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
		<div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
			<div fxLayout="column" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>GENERELLA PRISLISTOR SOM INKLUDERAS I EXPORTFILEN</h2>
				</div>

				<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

				<div *ngIf="!loading && (!GPs || !GPs.length)"
						 class="component first-component>">
					<p>Saknas</p>
				</div>
				<div *ngIf="!loading && GPs && GPs.length" fxFlex="100%" class="container mat-elevation-z1 first-component">

					<app-handle-exportfile-table (removeGP)="removeGP($event)"
																			 [generalPricelists]="GPs"></app-handle-exportfile-table>
				</div>
				<div *ngIf="!loading" fxLayout="row" class="component first-component">
					<div fxFlex="40%" fxLayoutAlign="end center">
						<button data-cy="addgp-btn" mat-button (click)="openAddGPDialog()" class="open-add-dialog">
							LÄGG TILL
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
