<div class="page-wrapper">
	<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
	<div *ngIf="loaded && helpTextsLoaded">
		<div fxLayout="row" fxLayoutAlign="start center" class="content">
			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="95%">
				<h1>Organisation</h1>
				<mat-icon class="tooltip"
									matTooltip="{{helpTexts.values.ORGANIZATION_HEADER}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</div>
			<div *ngIf="isServiceOwner" fxFlex="3%">

				<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
					<div class="menu-container">
						<mat-icon>more_vert</mat-icon>
						<span class="menu-label">
							<div class="menu-container"> MENY
								<mat-icon matSuffix *ngIf="helpTextsLoaded"
													class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_MENU}}"
													[matTooltipShowDelay]="500">info_outline</mat-icon>
							</div>
						</span>
					</div>
				</button>
				<mat-menu #menu="matMenu" class="wide-mat-menu">
					<button data-cy="exportresult-btn" mat-menu-item (click)="exportSearchResults()">
						<mat-icon color="primary">save_alt</mat-icon>
						<span>Exportera sökresultat till Excel-fil</span>
					</button>
				</mat-menu>
			</div>
		</div>

		<div fxLayout="row" class="content">
			<div fxFlex="80%">
				<div class="container mat-elevation-z1">
					<mat-form-field>
						<input data-cy="searchorganization-input" autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery"
									 (ngModelChange)="onQueryChanged($event)">
						<mat-label>Sök på organisationnamn eller organisationnummer</mat-label>
						<mat-icon matSuffix>search</mat-icon>
						<mat-icon matSuffix class="tooltip"
											matTooltip="{{helpTexts.values.ORGANIZATION_SEARCH}}"
											[matTooltipShowDelay]="500">info_outline
						</mat-icon>
					</mat-form-field>
				</div>
			</div>
		</div>

		<div fxLayout="row" class="content">
			<div fxFlex="80%">
				<div fxLayout="column" fxFlex="50%">
					<div fxLayoutAlign="start">
            <span>Sökresultat
              <span *ngIf="organizations.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
              <span *ngIf="organizations.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
            </span>

					</div>
					<button data-cy="clearsearch-btn" mat-button
									style="background-color: #118582; color: white; margin-top:10px; max-width: 144px;"
									(click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik
					</button>
				</div>


				<div fxLayout="column" fxFlex="50%">
					<div *ngIf="hasPermissionToCreateOrganization" fxLayoutAlign="end">
						<button data-cy="addorg-btn" mat-raised-button color="primary" routerLink="/organization/handle">LÄGG TILL
							ORGANISATION
						</button>
					</div>
				</div>

			</div>
		</div>

		<div *ngIf="loading">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
		<div *ngIf="organizations.length && !loading" fxLayout="row" class="content">
			<div fxFlex="80%">
				<div class="container mat-elevation-z1 table-md">

					<mat-table #table [dataSource]="dataSource">

						<ng-container matColumnDef="organisation">
							<mat-header-cell *matHeaderCellDef> Organisation</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.organizationName}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="orggrupp">
							<mat-header-cell *matHeaderCellDef> Org.grupp</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.organizationType | formatOrganizationType}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="orgnr">
							<mat-header-cell *matHeaderCellDef> Org.nr</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.organizationNumber}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="gln">
							<mat-header-cell *matHeaderCellDef> GLN</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.gln}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="land">
							<mat-header-cell *matHeaderCellDef> Land</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.country.name}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef> Status Organisation</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.active | formatOrganizationStatus}}
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

						<a *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/organization', row.id, 'handle']" [title]="row.name" ngClass="mat-mdc-row mdc-data-table__row cdk-row">
							<mat-row></mat-row>
						</a>
					</mat-table>
					<app-pagination [searchTotal]="searchTotal" [offset]="offset" [currentPage]="currentPage" [pages]="allPages" [goToPage]="goToPage.bind(this)" [totalPages]="totalPages"></app-pagination>
				</div>
			</div>
		</div>

	</div>
</div>
