<mat-table #table [dataSource]="dataSource" matSort #MatSort="matSort" matSortDisableClear matSortActive="leverantör">

	<ng-container matColumnDef="ownerOrganization.organizationName">
		<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="35%"> Leverantör</mat-header-cell>
		<mat-cell *matCellDef="let element" fxFlex="35%"> {{element.ownerOrganization.organizationName}}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="generalPricelistNumber">
		<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="35%"> Avtalsnummer</mat-header-cell>
		<mat-cell *matCellDef="let element" fxFlex="35%"> {{element.generalPricelistNumber}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="validFrom">
		<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Giltigt from</mat-header-cell>
		<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="validTo">
		<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Giltigt tom</mat-header-cell>
		<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="delete">
		<mat-header-cell *matHeaderCellDef fxFlex="10%"></mat-header-cell>
		<mat-cell *matCellDef="let element" fxFlex="10%">
			<mat-icon (click)="removeFromExportfile(element)">delete</mat-icon>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;" class="gp-row">
	</mat-row>

</mat-table>
