<section class="content border-component" fxLayout="column" fxLayoutGap="10px">
	<div class="component-title" style="padding: 10px;">
		<h2>{{title}}</h2>
	</div>

	<!--avtalsnamn, avtalsnummer, prislista, kund, verksamhetsområde (om det finns), kommentar, godkända rader-->


	<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 20px;">
		<ng-container matColumnDef="datum">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Datum</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.created | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="agreementName">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnamn</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.agreementName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="agreementNumber">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnummer</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.agreementNumber}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="pricelistNumber">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Prislista</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.pricelistNumber}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="customer">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kund</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.customer}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="businesslevel">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Verksamhetsområde</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.businesslevel}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="comment">
			<mat-header-cell *matHeaderCellDef fxFlex="40%"> Kommentar från kund</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="40%"> {{item.comment}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="numberofrows">
			<mat-header-cell *matHeaderCellDef fxFlex="8.5%"> Antal godkända rader</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="8.5%"> {{item.numberofrows}} </mat-cell>
		</ng-container>


		<ng-container matColumnDef="showrows">
			<mat-header-cell *matHeaderCellDef fxFlex="3.5%"></mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="3.5%">

				<button data-cy="actionmenu-btn"
								mat-icon-button [matMenuTriggerFor]="actionMenu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #actionMenu="matMenu">

					<button data-cy="show-btn" *ngIf="item.numberofrows > 1" mat-menu-item
									(click)="getPricelistRowsByApprovementId(organizationId, item.agreementId, item.pricelistId, item.approvementId)">
						<mat-icon>open_in_browser</mat-icon>
						<span>Visa de {{item.numberofrows}} godkända raderna</span>
					</button>
					<button data-cy="show-btn" *ngIf="item.numberofrows == 1" mat-menu-item
									(click)="getPricelistRowsByApprovementId(organizationId, item.agreementId, item.pricelistId, item.approvementId)">
						<mat-icon>open_in_browser</mat-icon>
						<span>Visa den godkända raden</span>
					</button>

					<button data-cy="navigate-btn" mat-menu-item
									routerLink="/organization/{{organizationId}}/agreement/{{item.agreementId}}/pricelist/{{item.pricelistId}}/handle">
						<mat-icon>open_in_browser</mat-icon>
						<span>Gå till prislistan</span>
					</button>

					<button data-cy="remove-btn" mat-menu-item
									(click)="removeApprovedPricelistRowNotice(organizationId, item.approvementId)">
						<mat-icon color="warn">block</mat-icon>
						<span>Ta bort notis</span>
					</button>

				</mat-menu>


			</mat-cell>
		</ng-container>


		<!--
				<ng-container matColumnDef="anchor">
					<mat-header-cell *matHeaderCellDef></mat-header-cell>
					<mat-cell *matCellDef="let item">
						<a href="/organization/{{organizationId}}/agreement/{{item.agreementId}}/pricelist/{{item.pricelistId}}/handle"
						 (click)="removeApprovedPricelistRowNotice(organizationId, item.uniqueId)">
						</a>
					</mat-cell>
				</ng-container> -->

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>

</section>
