<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
	<h2>AKTUELL INFORMATION</h2>
</div>

<article class="component first-component">
	<div *ngIf="!dynamicTextLoaded" class="content">Laddar...</div>
	<article *ngIf="dynamicTextLoaded" style="width: 100%; height: 100%; padding-bottom: 20px;"
					 [innerHTML]="dynamicText.dynamicText | safeHTML"></article>
</article>
