<mat-dialog-content>
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container">
				<mat-form-field>
					<input data-cy="pricelistnumber-input" autocomplete="off" matInput required [formControl]="numberFormControl">
					<mat-label class="icon-label">Prislistenummer
						<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
											matTooltip="{{helpTexts.values.PRICELIST_NUMBER}}"
											[matTooltipShowDelay]="500">info_outline
						</mat-icon>
					</mat-label>
					<mat-error data-cy="numbererror" *ngIf="numberError">{{numberError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container">
				<mat-form-field>
					<input data-cy="pricelistvalidfrom-input" autocomplete="off" matInput readonly
								 [matDatepicker]="pickerFrom"
								 [min]="agreementValidFrom" required
								 [formControl]="validFromFormControl">
					<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
					<mat-datepicker #pickerFrom></mat-datepicker>
					<mat-label class="icon-label">Gäller från
						<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
											matTooltip="{{helpTexts.values.PRICELIST_VALID_FROM}}"
											[matTooltipShowDelay]="500">info_outline
						</mat-icon>
					</mat-label>
					<mat-error data-cy="validfromerror" *ngIf="validFromError">{{validFromError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<button data-cy="save-btn" *ngIf="!saving" mat-button (click)="done()"
						[disabled]="!numberFormControl.value || !validFromFormControl.value">
			SPARA
		</button>
		<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
		<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
	</mat-dialog-actions>
</div>
