<h1 mat-dialog-title>Välj kolumner</h1>

<mat-dialog-content>
	<div fxLayout="column">
		<mat-checkbox data-cy="searchtype-checkbox" [checked]="true" [disabled]="true">Typ</mat-checkbox>
		<mat-checkbox data-cy="searchname-checkox" [checked]="true" [disabled]="true">Benämning</mat-checkbox>
		<mat-checkbox data-cy="searchnumber-checkbox" [checked]="true" [disabled]="true">Produkt/artnr</mat-checkbox>
		<mat-checkbox data-cy="searchsupplier-checkbox">Leverantör</mat-checkbox>
		<mat-checkbox data-cy="searchcategory-checkbox">Kategori</mat-checkbox>
	</div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
	<mat-dialog-actions>
		<button data-cy="done-btn" mat-button (click)="done()">
			KLAR
		</button>
		<button data-cy="cancel-btn" mat-button mat-dialog-close>AVBRYT</button>
	</mat-dialog-actions>
</div>
