<section fxLayout="column" class="column-content border-component" style="margin-top:10px">

	<div fxLayout="row" class="component-title">
		<h2>Länkar till mer information om Hjälpmedelstjänsten</h2>
	</div>

	<article class="component first-component">
		<div *ngIf="!linksTextLoaded" class="content">Laddar...</div>
		<article *ngIf="linksTextLoaded" style="width: 100%; height: 100%; padding-bottom: 20px;"
						 [innerHTML]="linksText.dynamicText | safeHTML"></article>
	</article>

</section>
