
.image-container {
	margin: 56px -20px 20px -20px;
}

@media (max-width: 1979px) {
	.responsive-hero-image {
		width: 100%;
		//height: auto;
		height: 200px;
		object-fit: none;
		object-position: bottom left;

	}
}


@media (min-width: 1980px) {
	.responsive-hero-image {
		width: 100%;
		height: auto;


	}
}

//.mat-form-field {
//  width: 100% !important;
//}


