<div class="image-container">
	<img src="../../assets/bild-hjalpmedelsjansten-1920-480.jpg" class="responsive-hero-image">
</div>

<main fxLayout="column" class="content">
	<div fxFlex="100%">

		<div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">

			<div fxLayout="column" class="content">
				<section class="column-content">
					<app-dashboard-alerts *ngIf="isSupplierAgreementManager || isCustomerAgreementManager || isAssortmentManager"
																[role]="userRole" [isAssortmentManager]="isAssortmentManager"></app-dashboard-alerts>
				</section>
			</div>

			<div fxLayout="column" fxFlex="40%" class="content">
				<section class="row-content">
					<app-welcometext fxLayout="column" fxFlex="100%" class="column-content"></app-welcometext>
				</section>
				<section class="row-content">
					<app-links fxLayout="column" fxFlex="100%" class="column-content"></app-links>
				</section>
			</div>

			<div fxLayout="column" fxFlex="40%" class="content">
				<section class="column-content border-component">
					<app-dynamic-text></app-dynamic-text>
				</section>
			</div>

		</div>

	</div>


</main>
