
.container {
	padding: 20px;
}

.mat-row, .mat-header-row {
	position: relative;
}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
	opacity: .1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// The anchor should stretch to fill the cell.
a {
	display: block;
	height: 100%;
	width: 100%;
}

// Additional UX affordance so users know they can interact with the row.
a:hover {
	background: #CCC;
}

//Margin between the checkbox for check-all and the label.
.label {
	margin-left: 5px;
}

mat-dialog-content {
	max-height: 80vh;
}

.refresh-button-container {
	display: flex;
	justify-content: flex-end;
}






