<mat-dialog-content>
	<mat-tab-group (selectedTabChange)="onTabChange($event)">
		<mat-tab label="Lägg till">

			<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
			<div class="content-container" *ngIf="loaded && helpTextsLoaded">
				<div fxLayout="row" class="content">
					<div fxFlex="100%">
						<div>

							<div>

								<h1>Lägg till prisliste-godkännare
									<mat-icon
										*ngIf="helpTextsLoaded"
										class="tooltip"
										matTooltip="{{helpTexts.values.AGREEMENT_APPROVER}}"
										[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</h1>

								<div class="content" *ngIf="someUpdated"><h3>{{savedCount.length}} avtal har sparats</h3></div>
								<div class="content" *ngIf="hasFailedUpdates">
									<h3>Dessa avtal kunde ej sparas.</h3>
									<ul>
										<li *ngFor="let item of failedCount">{{item.id}}. <span> {{item.error}}</span></li>
									</ul>
								</div>
								<div>
									<mat-form-field floatLabel="always">
										<mat-label>Sortera efter användare</mat-label>
										<mat-select data-cy="sortbyuser-dropdown">
											<mat-option (click)="onSort('All')">Visa alla avtal</mat-option>
											<mat-option
												*ngFor="let contact of customerAgreementManagers"
												[value]="contact"
												(click)="onSort(contact)">
												{{ contact.firstName }} {{contact.lastName}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div fxLayout="column" class="content">

									<mat-form-field floatLabel="always" *ngIf="sorted">
										<mat-label>Välj användare som ska läggas till på prislista.</mat-label>
										<mat-select data-cy="pickusertoadd-dropdown"
																placeholder="Välj användare som ska läggas till på prislista.">
											<mat-option
												*ngFor="let contact of availableCustomerAgreementManagers"
												(onSelectionChange)="addUserSelection.select(contact)">
												{{ contact.firstName }} {{contact.lastName}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<div *ngIf="addUserSelection.hasValue()">
										<h3>Du har valt:</h3>
										<ul>
											<li *ngFor=" let user of addUserSelection.selected">{{user.firstName}} {{user.lastName}}</li>
										</ul>
									</div>

								</div>

								<div class="refresh-button-container">
									<button data-cy="refresh-btn" class="refresh-button" mat-raised-button
													(click)="refreshAgreementsTable()">Ladda om avtalslista
									</button>
								</div>
							</div>


							<div fxLayout="row" class="content">
								<div fxFlex="100%">
									<div *ngIf="loading">
										<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
									</div>
									<div *ngIf="!loading">

										<h3>Markera avtal som ska ändras.</h3>

										<div>
											<mat-table #table [dataSource]="dataSource">
												<ng-container matColumnDef="välj">
													<mat-header-cell *matHeaderCellDef fxFlex="15%">
														<mat-checkbox
															[checked]="isAllSelected()"
															[indeterminate]="!isAllSelected()"
															(change)="$event ? masterToggle() : null">
														</mat-checkbox>
														<mat-label class="label">Markera alla</mat-label>
													</mat-header-cell>

													<mat-cell *matCellDef="let element" fxFlex="15%">
														<mat-checkbox
															(click)="$event.stopPropagation()"
															(change)="$event ? selection.toggle(element) : null"
															[checked]="selection.isSelected(element)"
														>
														</mat-checkbox>
													</mat-cell>
												</ng-container>

												<ng-container matColumnDef="avtalsnummer">
													<mat-header-cell *matHeaderCellDef fxFlex="15%"> Avtalsnummer</mat-header-cell>
													<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.agreementNumber}}</mat-cell>
												</ng-container>

												<ng-container matColumnDef="avtalsnamn">
													<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnamn</mat-header-cell>
													<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.agreementName}}</mat-cell>
												</ng-container>

												<ng-container matColumnDef="godkänner pris">
													<mat-header-cell *matHeaderCellDef fxFlex="15%"> Godkänner prislista</mat-header-cell>
													<mat-cell *matCellDef="let element" fxFlex="15%">
														<div fxLayout="column">
															<div *ngFor="let approver of element.customerPricelistApprovers">
																{{approver.firstName}} {{approver.lastName}}
															</div>
														</div>
													</mat-cell>
												</ng-container>

												<ng-container matColumnDef="leverantör">
													<mat-header-cell *matHeaderCellDef fxFlex="15%"> Leverantör</mat-header-cell>
													<mat-cell *matCellDef="let element"
																		fxFlex="15%"> {{element.supplierOrganization.organizationName}}
													</mat-cell>
												</ng-container>

												<ng-container matColumnDef="kund">
													<mat-header-cell *matHeaderCellDef fxFlex="15%"> Kund</mat-header-cell>
													<mat-cell *matCellDef="let element"
																		fxFlex="15%"> {{element.customerOrganization.organizationName}}<span
														*ngIf="element.customerBusinessLevel"> - {{element.customerBusinessLevel.name}}</span>
													</mat-cell>
												</ng-container>

												<ng-container matColumnDef="giltigt från">
													<mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt från</mat-header-cell>
													<mat-cell *matCellDef="let element"
																		fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
												</ng-container>

												<ng-container matColumnDef="giltigt till">
													<mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt till</mat-header-cell>
													<mat-cell *matCellDef="let element"
																		fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
												</ng-container>

												<ng-container matColumnDef="status">
													<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
													<mat-cell *matCellDef="let element"
																		fxFlex="10%"> {{element.status | formatAgreementStatus}}</mat-cell>
												</ng-container>

												<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
												<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

											</mat-table>

										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</mat-tab>

		<!-- Ta bort godkännare -->

		<mat-tab label="Ta bort">


			<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
			<div *ngIf="loaded && helpTextsLoaded">
				<div fxLayout="row" class="content">
					<div fxFlex="100%">
						<div>


						</div>
						<div>

							<h1>Ta bort prisliste-godkännare
								<mat-icon
									*ngIf="helpTextsLoaded"
									class="tooltip"
									matTooltip="{{helpTexts.values.AGREEMENT_APPROVER}}"
									[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</h1>
						</div>

						<div class="content" *ngIf="someUpdated"><h3>{{savedCount.length}} avtal har sparats</h3></div>
						<div class="content" *ngIf="hasFailedUpdates">
							<h3>Dessa avtal kunde ej sparas.</h3>
							<ul>
								<li *ngFor="let item of failedCount">{{item.id}}. <span> {{item.error}}</span></li>
							</ul>
						</div>

						<div fxLayout="row" class="content">
							<div fxFlex="100%">
								<div *ngIf="loading">
									<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
								</div>
								<div *ngIf="!loading">
									<div>
										<mat-form-field floatLabel="always">
											<mat-label>Sortera efter användare</mat-label>
											<mat-select>
												<mat-option (click)="onSort('All')">Visa alla avtal</mat-option>
												<mat-option
													*ngFor="let contact of customerAgreementManagers"
													[value]="contact"
													(click)="onSort(contact)">
													{{ contact.firstName }} {{contact.lastName}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div fxLayout="column" class="content">

										<mat-form-field floatLabel="always" *ngIf="sorted">
											<mat-label>Välj användare som ska tas bort från prislista.</mat-label>
											<mat-select placeholder="Välj användare som ska tas bort från prislista.">
												<mat-option
													*ngFor="let contact of customerAgreementManagers"
													(onSelectionChange)="removeUserSelection.select(contact)"
												>
													{{ contact.firstName }} {{contact.lastName}}
												</mat-option>
											</mat-select>
										</mat-form-field>
										<div *ngIf="removeUserSelection.hasValue()">
											<h3>Du har valt:</h3>
											<ul>
												<li *ngFor=" let user of removeUserSelection.selected">{{user.firstName}} {{user.lastName}}</li>
											</ul>
										</div>

									</div>
									<div class="refresh-button-container">
										<button data-cy="refresh2-btn" class="refresh-button" mat-raised-button
														(click)="refreshAgreementsTable()">Ladda om avtalslista
										</button>
									</div>
									<h3>Markera avtal som ska ändras.</h3>

									<mat-table #table [dataSource]="dataSource">
										<ng-container matColumnDef="välj">
											<mat-header-cell *matHeaderCellDef fxFlex="15%">
												<mat-checkbox
													[checked]="isAllSelected()"
													[indeterminate]="!isAllSelected()"
													(change)="$event ? masterToggle() : null">
												</mat-checkbox>
												<mat-label class="label">Markera alla</mat-label>
											</mat-header-cell>

											<mat-cell *matCellDef="let element" fxFlex="15%">
												<mat-checkbox
													(click)="$event.stopPropagation()"
													(change)="$event ? selection.toggle(element) : null"
													[checked]="selection.isSelected(element)"
												>
												</mat-checkbox>
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="avtalsnummer">
											<mat-header-cell *matHeaderCellDef fxFlex="15%"> Avtalsnummer</mat-header-cell>
											<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.agreementNumber}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="avtalsnamn">
											<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnamn</mat-header-cell>
											<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.agreementName}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="godkänner pris">
											<mat-header-cell *matHeaderCellDef fxFlex="15%"> Godkänner prislista</mat-header-cell>
											<mat-cell *matCellDef="let element" fxFlex="15%">
												<div fxLayout="column">
													<div *ngFor="let approver of element.customerPricelistApprovers">
														{{approver.firstName}} {{approver.lastName}}
													</div>
												</div>
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="leverantör">
											<mat-header-cell *matHeaderCellDef fxFlex="15%"> Leverantör</mat-header-cell>
											<mat-cell *matCellDef="let element"
																fxFlex="15%"> {{element.supplierOrganization.organizationName}}
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="kund">
											<mat-header-cell *matHeaderCellDef fxFlex="15%"> Kund</mat-header-cell>
											<mat-cell *matCellDef="let element"
																fxFlex="15%"> {{element.customerOrganization.organizationName}}<span
												*ngIf="element.customerBusinessLevel"> - {{element.customerBusinessLevel.name}}</span>
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="giltigt från">
											<mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt från</mat-header-cell>
											<mat-cell *matCellDef="let element"
																fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="giltigt till">
											<mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt till</mat-header-cell>
											<mat-cell *matCellDef="let element"
																fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="status">
											<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
											<mat-cell *matCellDef="let element"
																fxFlex="10%"> {{element.status | formatAgreementStatus}}</mat-cell>
										</ng-container>

										<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
										<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

									</mat-table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</mat-tab>
	</mat-tab-group>
	<div fxLayout="row" fxLayoutAlign="end center">


	</div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
	<button data-cy="add-btn" mat-button *ngIf="addCustomerPricelistApprover" (click)="save()"
					[disabled]="addUserSelection.isEmpty() || selection.isEmpty()">
		LÄGG TILL
	</button>
	<button data-cy="delete-btn" mat-button *ngIf="removeCustomerPricelistApprover" (click)="save()"
					[disabled]="removeUserSelection.isEmpty() || selection.isEmpty()">
		TA BORT
	</button>
	<button data-cy="close-btn" mat-button *ngIf="!saving" mat-dialog-close>STÄNG</button>
	<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>

</mat-dialog-actions>
