
.validity-dates {
	margin-left: -0.50em;
	padding: 0 20px 10px 20px;

	.mat-form-field {
		width: 95%;
	}
}

.container {
	padding: 20px;
}

.selectassortmentmanager-textarea {
	pointer-events: none;
	margin-bottom: -0.25em;
}

.mat-row, .mat-header-row {
	position: relative;
}

.component {
	padding-bottom: 0;
}

.municipality-component {
	margin-bottom: -0.75em;
}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
	opacity: .1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// Additional UX affordance so users know they can interact with the row.
a:hover {
	background: #CCC;
}

// Rows should be highlighted and have pointer cursor when you hover on it
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:focus .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}
