<div class="page-wrapper">
	<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
	<div *ngIf="loaded && helpTextsLoaded">
		<div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
			<div fxFlex="95%">
				<h1 *ngIf="assortmentId">{{assortment.name}}</h1>
				<h1 *ngIf="!assortmentId">Nytt utbud</h1>
			</div>
			<div
				*ngIf="assortmentId && !editMode && (hasPermissionToCreateAssortment || hasPermissionToUpdateAssortment || isSuperAdmin)"
				fxFlex="2%" fxLayoutAlign="center">
				<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
			</div>

      <div *ngIf="assortmentId && !editMode" fxFlex="3%">
        <button data-cy="menu" mat-icon-button [matMenuTriggerFor]="menu">
					<div class="menu-container">
						<mat-icon>more_vert</mat-icon>
						<span class="menu-label">
							<div class="menu-container">MENY
								<mat-icon matSuffix *ngIf="helpTextsLoaded"
																										class="tooltip"
																										matTooltip="{{helpTexts.values.SEARCH_MENU}}"
																										[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</span>
					</div>
        </button>
        <mat-menu #menu="matMenu" class="wide-mat-menu">
          <button data-cy="exportsearchresult-btn" mat-menu-item (click)="exportSearchResults()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Exportera sökresultat till Excel-fil</span>
          </button>
          <button data-cy="deleteassortment-btn" *ngIf="assortmentId && !isSuperAdmin &&
                (hasPermissionToDeleteAllArticles || hasPermissionToDeleteArticles)" (click)="openDeleteAssortmentDialog()" mat-menu-item>
            <mat-icon color="primary">delete</mat-icon>
            <span>Ta bort utbud</span>
          </button>
        </mat-menu>
      </div>

		</div>
		<div fxLayout="row" class="navigation">
			<span routerLink="/organization/{{organizationId}}/assortment">Utbud</span><span> > </span><span
			class="navigation-last">Hantera utbud</span>
		</div>
		<div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
			<div fxLayout="column" fxFlex="50%" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>UTBUD</h2>
				</div>

        <div fxLayout="row" class="component first-component">
          <mat-form-field floatLabel="always">
            <input  data-cy="assortmentname-input" autocomplete="off" matInput autofocus="true" maxlength="255" minlength="3" required [formControl]="nameFormControl">
            <mat-label class="icon-label">Namn
              <mat-icon *ngIf="helpTextsLoaded"
                        class="tooltip"
                        matTooltip="{{helpTexts.values.ASSORTMENT_NAME}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-label>
            <mat-error data-cy="nameerror" *ngIf="nameError">{{nameError}}</mat-error>
          </mat-form-field>
        </div>

				<div *ngIf="assortmentId" fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="assortmentorganizationname-input" autocomplete="off" matInput disabled required
									 [(ngModel)]=this.assortmentOrgName>
						<mat-label class="icon-label">Organisation
						</mat-label>
					</mat-form-field>
				</div>

				<div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
					<div fxFlex="50%">
						<mat-form-field floatLabel="always">
							<input data-cy="assortmentvalidfrom-picker" autocomplete="off" matInput [matDatepicker]="pickerFrom"
										 required
										 [formControl]="validFromFormControl">
							<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
							<mat-datepicker #pickerFrom></mat-datepicker>
							<mat-label class="icon-label">Giltigt from
								<mat-icon *ngIf="helpTextsLoaded"
													class="tooltip"
													matTooltip="{{helpTexts.values.ASSORTMENT_VALID_FROM}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
							<mat-error data-cy="validfromerror" *ngIf="validFromError">{{validFromError}}</mat-error>
						</mat-form-field>
					</div>

					<div fxFlex="50%">
						<mat-form-field floatLabel="always">
							<input data-cy="assortmentvalidto-picker" autocomplete="off" matInput [matDatepicker]="pickerTo"
										 [formControl]="validToFormControl">
							<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
							<mat-datepicker #pickerTo></mat-datepicker>
							<mat-label class="icon-label">Giltigt tom
								<mat-icon *ngIf="helpTextsLoaded"
													class="tooltip"
													matTooltip="{{helpTexts.values.ASSORTMENT_VALID_TO}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
							<mat-error data-cy="validtoerror" *ngIf="validToError">{{validToError}}</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div fxLayout="row" class="component last-component">
					<mat-form-field floatLabel="always">
						<mat-select data-cy="selectassortmentmanager-dropdown" *ngIf="editMode && !isSuperAdmin" multiple
												[(ngModel)]="selectedAssortmentManagers">
							<mat-option *ngFor="let manager of assortmentManagers" [value]="manager">
								{{manager.firstName}} {{manager.lastName}}
							</mat-option>
						</mat-select>
						<textarea class="selectassortmentmanager-textarea" *ngIf="!editMode || isSuperAdmin" type="text" matInput readonly cdkTextareaAutosize
											[(ngModel)]="selectedAssortmentManagersString">
            </textarea>
						<mat-label class="icon-label">Utbudsansvarig
							<mat-icon *ngIf="helpTextsLoaded"
												class="tooltip"
												matTooltip="{{helpTexts.values.ASSORTMENT_MANAGER}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>

			</div>

      <div *ngIf="assortmentId" fxLayout="column" fxFlex="50%" fxLayoutGap="20px" class="column-content">
        <div class="border-component">
          <mat-expansion-panel [expanded]="false" class="expansion-content">
            <mat-expansion-panel-header class="component-title">
              <mat-panel-title>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2>FÖR REGION OCH KOMMUN</h2>
                  <mat-icon *ngIf="helpTextsLoaded"
                      class="tooltip"
                      matTooltip="{{helpTexts.values.ASSORTMENT_COUNTY_AND_MUNICIPALITY_HEADER}}"
                      [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>


          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always">
              <mat-select data-cy="selectedcounty-dropdown"  [(ngModel)]="selectedCounty"
                          [disabled]="!editMode || !(isSuperAdmin || isOwnOrganization)"
                          [required]="isSuperAdmin"
                          (selectionChange)="onCountySelection()">
                <mat-option *ngFor="let county of counties" [value]="county">
                  {{ county.name }}
                </mat-option>
              </mat-select>
              <mat-label>Region</mat-label>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="component">
            <h3>Utbudet ärvs av följande kommuner</h3>
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.ASSORTMENT_MUNICIPALITY_INHERITANCE}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>
          <div *ngIf="selectedCounty" fxLayout="column" class="component last-component">
            <div *ngFor="let municipality of selectedCounty.municipalities" class="municipality-component">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? municipalitySelection.toggle(municipality) : null"
                            [checked]="municipalitySelection.isSelected(municipality)"
                            [disabled]="!editMode || !(isSuperAdmin || isOwnOrganization)">
                {{municipality.name}}
              </mat-checkbox>
            </div>
          </div>
          </mat-expansion-panel>
        </div>
				<div class="border-component">
					<mat-expansion-panel [expanded]="false" class="expansion-content">
						<mat-expansion-panel-header class="component-title">
							<mat-panel-title>
								<div fxLayout="row" fxLayoutAlign="start center">
									<h2>ISO-UNDANTAG</h2>
									<mat-icon *ngIf="helpTextsLoaded"
														class="tooltip"
														matTooltip="{{helpTexts.values.ASSORTMENT_ISO_CODES}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</div>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div *ngIf="!query" fxLayout="row" class="component first-component" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
							<div fxLayout="column" fxFlex="40%">
								<div class="column-content" >
									<mat-form-field floatLabel="always">
										<mat-select [disabled]=exceptionIsDirty  data-cy="selectedisocode-dropdown" (selectionChange)="onIsoCodeSelection()" [(ngModel)]="selectedIsoCode">
											<mat-option [value]="undefined"></mat-option>
											<mat-option *ngFor="let key of isoCodesSorted.keys()" [value]="key">
												{{this.isoCodesSorted.get(key)}}
											</mat-option>
										</mat-select>
										<mat-label *ngIf="!exceptionIsDirty">ISO-koder i utbudet</mat-label>
										<mat-label *ngIf="exceptionIsDirty">Vald ISO-kod</mat-label>
									</mat-form-field>
								</div>
							</div>

							<div *ngIf="selectedIsoCode" fxLayout="column" fxFlex="60%" >
								<div class="column-content last-component">
									<div fxLayout="row" class="component">
										<h3>Exkludera rubriker för visning på 1177</h3>
										<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
															matTooltip="{{helpTexts.values.ASSORTMENT_CATEGORY_EXCEPTIONS}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</div>
										<div *ngFor="let externalCategory of externalCategoriesForThisIsoCode" class="municipality-component">
												<mat-checkbox (click)="$event.stopPropagation()"
																	(change)="$event ? exceptionChanged(externalCategory) : null"
																	[checked]="categoryExceptionSelection.isSelected(externalCategory)"
																	[disabled]="!editMode">
											{{externalCategory.name}}
										</mat-checkbox>
									</div>
								</div>
							</div>
						</div>

						<div style="text-align: right" *ngIf="exceptionIsDirty">
							<button data-cy="reset-exceptions-btn"  mat-raised-button
											color="primary"
											(click)="resetExceptions()">
								ÅTERSTÄLL
							</button>
						</div>
					</mat-expansion-panel>
				</div>
      </div>
    </div>

		<div *ngIf="assortmentId" fxLayout="row" class="component content">
			<div fxFlex="80%" class="container mat-elevation-z1">
				<mat-form-field>
					<input data-cy="searchassortmentarticle-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-label>Sök på artikelnummer eller benämning</mat-label>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</div>
			<div *ngIf="assortmentId && !isSuperAdmin && (hasPermissionToAddAllArticles || hasPermissionToAddArticles)"
					 fxFlex="20%" fxLayoutAlign="end center">
				<button data-cy="addarticles-btn"
								routerLink="/organization/{{organizationId}}/assortment/{{assortmentId}}/add-article" mat-raised-button
								color="primary">LÄGG TILL ARTIKLAR
				</button>
			</div>
		</div>

		<div *ngIf="assortmentId && searchTotal" fxLayout="row" class="content">
			<div fxFlex="80%">
				<div fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="articles.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="articles.length === 1  && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
				</div>
			</div>
		</div>

    <div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
      <div *ngIf="assortmentId && !loading" fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="column" class="column-content border-component">
          <mat-expansion-panel [expanded]="true" class="expansion-content">
            <mat-expansion-panel-header class="component-title">
              <mat-panel-title>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2>ARTIKELTYPER</h2>
                  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.ASSORTMENT_FILTER_ARTICLETYPE}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="component first-component">
              <mat-checkbox data-cy="filterH-checkbox" [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel
              </mat-checkbox>
            </div>
            <div fxLayout="row" class="component last-component">
              <mat-checkbox data-cy="filterT-checkbox" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
              </mat-checkbox>
            </div>
          </mat-expansion-panel>
        </div>

        <div *ngIf="assortmentId && !loading" fxLayout="column" class="column-content border-component">
          <mat-expansion-panel [expanded]="true" class="expansion-content">
            <mat-expansion-panel-header class="component-title">
              <mat-panel-title>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2>STATUS FÖR ARTIKEL</h2>
                  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.SEARCH_FILTER_STATUS}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="component first-component">
              <mat-checkbox data-cy="filterpublished-checkbox"  [(ngModel)]="filterPublished" (change)="onFilterChange()">Aktiv
              </mat-checkbox>
            </div>
            <div fxLayout="row" class="component last-component">
              <mat-checkbox data-cy="filterdiscontinued-checkbox"  [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
              </mat-checkbox>
            </div>
          </mat-expansion-panel>
        </div>

        <div *ngIf="assortmentId && !loading" fxLayout="column" class="column-content border-component">
          <mat-expansion-panel [expanded]="true" class="expansion-content">
            <mat-expansion-panel-header class="component-title">
              <mat-panel-title>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h2>ARTIKELKATEGORI</h2>
                  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.ASSORTMENT_FILTER_CATEGORY}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="component first-component">
              <mat-form-field floatLabel="always">
                <input data-cy="category-input"  autocomplete="off" type="text" matInput readonly
                       [formControl]="categoryFormControl"
                       (click)="openCategoryDialog()">
								<button data-cy="clearcategory-btn" *ngIf="categoryFormControl.value" matSuffix mat-icon-button
												aria-label="Clear"
												(click)="clearCategory()">
									<mat-icon>close</mat-icon>
								</button>
                <mat-label>Kategori</mat-label>
                <mat-error data-cy="caterror" *ngIf="categoryError">{{categoryError}}</mat-error>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

      <div *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="assortmentId && !loading" fxFlex="100%" fxLayout="column" fxLayoutGap="10px" class="component content">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>ARTIKLAR I UTBUDET</h2>
          <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                    matTooltip="{{helpTexts.values.ASSORTMENT_ARTICLES_HEADER}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>
        <div *ngIf="!articles.length && !loading" class="container">
          Saknas
        </div>
        <div *ngIf="articles.length && !loading" class="container mat-elevation-z1">
          <mat-table #table [dataSource]="dataSource" matSort matSortDirection="{{sortOrder}}" matSortActive="{{sortType}}"
										 (matSortChange)="sortData($any($event))">

					<ng-container matColumnDef="articleType">
						<mat-header-cell *matHeaderCellDef fxFlex="5%" mat-sort-header> Typ</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="5%"> {{element.category.articleType}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="number">
						<mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header> Artikelnummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleNumber}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef fxFlex="25%" mat-sort-header> Artikelbenämning</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="25%"> {{element.articleName}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="basedOnProduct">
						<mat-header-cell *matHeaderCellDef fxFlex="25%" mat-sort-header> Baseras på produkt</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="25%"> {{element.basedOnProduct.productNumber}} - {{element.basedOnProduct.productName}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="code">
						<mat-header-cell *matHeaderCellDef fxFlex="11%" mat-sort-header> Kategori</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="11%"> {{element.category.code}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="organizationName">
						<mat-header-cell *matHeaderCellDef fxFlex="15%" mat-sort-header> Organisation</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.organizationName}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header> Status</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>

          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5%" fxLayoutAlign="end center"
                      (click)="$event.preventDefault();$event.stopPropagation();">
              <mat-icon
                *ngIf="assortmentId && !isSuperAdmin &&
                (hasPermissionToDeleteAllArticles || hasPermissionToDeleteArticles)"
                (click)="openDeleteAssortmentRowDialog(element.id)">delete
              </mat-icon>
            </mat-cell>
          </ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

					<a *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/organization', row.organizationId, 'article', row.id, 'handle']" [title]="row.name" ngClass="mat-mdc-row mdc-data-table__row cdk-row">
						<mat-row ></mat-row>
					</a>

          </mat-table>
					<app-pagination [searchTotal]="searchTotal" [offset]="offset" [currentPage]="currentPage" [pages]="allPages" [goToPage]="goToPage.bind(this)" [totalPages]="totalPages"></app-pagination>
        </div>
      </div>
    </div>

		<div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="savebar-container">
			<div fxFlex="50%"></div>
			<div fxFlex="50%">
				<button data-cy="save-btn" *ngIf="!saving && editMode"
								mat-raised-button
								color="primary" (click)="saveAssortment()">SPARA
				</button>
				<a data-cy="cancel-btn" *ngIf="!saving && assortmentId" mat-button (click)="cancel()">AVBRYT</a>
				<a data-cy="cancel-btn" *ngIf="!saving && !assortmentId" mat-button (click)="goBack()">AVBRYT</a>
				<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
			</div>
		</div>

	</div>
</div>
