<div class="page-wrapper">

	<div fxLayout="row" class="navigation-header">
		<div fxFlex="95%">
			<h1>Exportfil</h1>
		</div>
	</div>

	<div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
		<div *ngIf="!exportSettings || !exportSettings.length"
				 class="component first-component>">
			<p>Saknas</p>
		</div>
		<div *ngIf="exportSettings && exportSettings.length" fxFlex="100%"
				 class="container mat-elevation-z1 component first-component table-md">

			<mat-table #table [dataSource]="dataSource">

				<ng-container matColumnDef="kund">
					<mat-header-cell *matHeaderCellDef fxFlex="30%"> Kund</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="30%"> {{element.organization.organizationName}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="filnamn">
					<mat-header-cell *matHeaderCellDef fxFlex="30%"> Filnamn</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="30%"> {{element.filename}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="verksamhetsområde">
					<mat-header-cell *matHeaderCellDef fxFlex="20%"> Verksamhetsområde</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="20%"> <span *ngIf="element.businessLevel">
                {{element.businessLevel.name}}</span></mat-cell>
				</ng-container>

				<ng-container matColumnDef="senast levererad">
					<mat-header-cell *matHeaderCellDef fxFlex="20%"> Senast levererad</mat-header-cell>
					<mat-cell *matCellDef="let element"
										fxFlex="20%"> {{element.lastExported | date: 'yyyy-MM-dd'}} </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="{{row.id}}">
				</mat-row>

			</mat-table>
		</div>
	</div>

</div>
