<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
<div *ngIf="loaded && helpTextsLoaded">

	<div fxLayout="row" class="content content-container" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
		<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
			<div fxLayout="column" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>ARTIKELINFORMATION</h2>
				</div>
				<div fxLayout="row" class="component first-component">
					<mat-form-field floatLabel="always">
						<mat-label class="icon-label">Typ
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_TYPE}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
						<input autocomplete="off" matInput disabled type="text"
									 [ngModel]="article.category.articleType | formatArticleType">
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<mat-label class="icon-label">Artikelnummer
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_NUMBER}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
						<input data-cy="articlenumber-input" autocomplete="off" matInput type="text" maxlength="35" required
									 [formControl]="articleNumberFormControl">
						<mat-error data-cy="artnrerror" *ngIf="articleNumberError">{{articleNumberError}}</mat-error>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
            <textarea data-cy="articlename-input" matTextareaAutosize autocomplete="off" matInput type="text"
											maxlength="255" required
											[formControl]="articleNameFormControl">
            </textarea>
						<mat-label class="icon-label">Artikelbenämning
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_NAME}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
						<mat-error data-cy="artnameerror" *ngIf="articleNameError">{{articleNameError}}</mat-error>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input autocomplete="off" matInput disabled type="text" [(ngModel)]="supplier">
						<mat-label class="icon-label">Leverantör
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_SUPPLIER}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>
				<div *ngIf="article.category.articleType === 'H' || isTiso || selectedBasedOnProduct" fxLayout="row"
						 class="component">
					<mat-form-field floatLabel="always">
						<mat-select data-cy="basedonproduct-dropdown" [(ngModel)]="selectedBasedOnProduct"
												[disabled]="!editMode || !hasPermissionToUpdateArticle || !!articleId"
												(selectionChange)="basedOnChanged($event.value)"
												required [formControl]="basedOnProductFormControl">
							<mat-option *ngFor="let product of products" [value]="product">
								{{product.productNumber}} - {{product.productName}}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">Baseras på produkt
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_BASED_ON}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
						<mat-error data-cy="producterror" *ngIf="productError">{{productError}}</mat-error>
					</mat-form-field>
				</div>
				<div fxLayout="column" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="categorydialog-input" autocomplete="off" type="text" matInput required readonly
									 [formControl]="categoryFormControl"
									 (click)="openMainCategoryDialog()">
						<mat-label class="icon-label">Kategori
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_CATEGORY}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
					<div class="not-so-much-extra-padding"
							 *ngIf="this.articleId != null && this.article.category.code == null && !this.isTiso">
						({{this.codeForTRITJ.code + ' ' + this.codeForTRITJ.name}})
					</div>
				</div>
				<div *ngIf="article.category.articleType === 'H'" fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
            <textarea data-cy="extendedcategorydialog-input" type="text" matInput readonly matTextareaAutosize
											[(ngModel)]="extendedCategories"
											[disabled]="!editMode || !hasPermissionToUpdateArticle || !!article.basedOnProduct"
											(click)="openExtendedCategoryDialog()">
            </textarea>
						<mat-label class="icon-label">Visas även i följande kategorier
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_EXTENDED_CATEGORY}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="gtin-input" autocomplete="off" matInput type="text" [(ngModel)]="article.gtin"
									 [disabled]="!editMode || !hasPermissionToUpdateArticle">
						<mat-label>GTIN-13</mat-label>
					</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutGap="5px" class="component last-component">
					<mat-icon *ngIf="isSupplier && isCustomerUniqueOverridden && article.basedOnProduct"
										class="tooltip"
										matTooltip="Arvet är brutet"
										color="warn"
										[matTooltipShowDelay]="500">content_paste_off
					</mat-icon>
					<mat-checkbox data-cy="customerunique-checkbox"
												[disabled]="!editMode || !hasPermissionToUpdateArticle || !customerUniquenessToggleable"
												[(ngModel)]="article.customerUnique">
						Kundunik artikel
					</mat-checkbox>
					<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.ARTICLE_CUSTOMER_UNIQUE}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
			</div>

			<div fxLayout="column" class="border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>
						<mat-icon *ngIf="isSupplier && isOrderInformationOverridden && article.basedOnProduct"
											class="tooltip"
											matTooltip="Arvet är brutet"
											color="warn"
											[matTooltipShowDelay]="500">content_paste_off
						</mat-icon>
					</h2>
					<h2>
						BESTÄLLNINGSINFORMATION
					</h2>
					<mat-icon
						class="tooltip"
						matTooltip="{{helpTexts.values.ARTICLE_ORDER_INFORMATION_HEADER}}"
						[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
				<div fxLayout="row" class="component first-component">
					<mat-form-field floatLabel="always">
						<mat-select data-cy="orderunit-dropdown" required [(ngModel)]="selectedOrderUnit"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
							<mat-option *ngFor="let orderUnit of orderUnits" [value]="orderUnit">
								{{ orderUnit.name }}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">Beställningsenhet
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_ORDER_UNIT}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>

				<div fxLayout="row" class="component">
					<h3>Artikeln består av</h3>
				</div>

				<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="20px" class="component row">
					<mat-form-field floatLabel="always">
						<input data-cy="articlequantity-input" autocomplete="off" matInput type="number"
									 [(ngModel)]="article.articleQuantityInOuterPackage"
									 [disabled]="!editMode || !hasPermissionToUpdateArticle">
						<mat-label class="icon-label">Antal konsumentförpackningar
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_ORDER_AMOUNT}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
					<mat-form-field floatLabel="always">
						<mat-select data-cy="articlequantityinouterpackage-dropdown"
												[(ngModel)]="selectedArticleQuantityInOuterPackageUnit"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
							<mat-option [value]="undefined"></mat-option>
							<mat-option *ngFor="let orderUnit of orderUnits" [value]="orderUnit">
								{{ orderUnit.name }}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">Enhet
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_ORDER_AMOUNT_UNIT}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>

				<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="20px" class="component row">
					<mat-form-field floatLabel="always">
						<input data-cy="packagecontent-input" autocomplete="off" matInput type="number"
									 [(ngModel)]="article.packageContent"
									 [disabled]="!editMode || !hasPermissionToUpdateArticle">
						<mat-label class="icon-label">Varje konsumentförpackning innehåller
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_ORDER_CONTAINS}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
					<mat-form-field floatLabel="always">
						<mat-select data-cy="packageunits-dropdown" [(ngModel)]="selectedPackageContentUnit"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
							<mat-option [value]="undefined"></mat-option>
							<mat-option *ngFor="let packageUnit of packageUnits" [value]="packageUnit">
								{{ packageUnit.name }}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">Enhet
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_ORDER_CONTAINS_UNIT}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>

				<div fxLayout="row" class="component">
					<h3>Antal artiklar per förpackningstyp vid beställning</h3>
				</div>

				<div fxLayout="column" class="component last-component">
					<div fxLayout="row">
						<div fxFlex="25%" fxLayout="column" fxLayoutGap="25px">
							<span>Förpackningstyp</span>
							<span>Bas</span>
							<span>Mellan</span>
							<span>Pall</span>
						</div>
						<div fxFlex="10%" fxLayout="column" fxLayoutGap="25px" class="tooltip-small">
							<mat-icon class="tooltip first-tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_PACKAGE_LEVEL_BASE}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
							<mat-icon class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_PACKAGE_LEVEL_MIDDLE}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
							<mat-icon class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_PACKAGE_LEVEL_TOP}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</div>
						<div fxFlex="20%" fxLayout="column" class="order-information">
							<div>Antal artiklar</div>
							<mat-form-field>
								<input data-cy="packagelevelbase-input" autocomplete="off" matInput type="number"
											 [(ngModel)]="article.packageLevelBase"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</mat-form-field>
							<mat-form-field>
								<input data-cy="packagelevelmiddle-input" autocomplete="off" matInput type="number"
											 [(ngModel)]="article.packageLevelMiddle"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</mat-form-field>
							<mat-form-field>
								<input data-cy="packageleveltop-input" autocomplete="off" matInput type="number"
											 [(ngModel)]="article.packageLevelTop"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</mat-form-field>
						</div>
						<div fxFlex="45%" fxLayout="column" fxLayoutGap="25px">
							<div>Antal konsumentförpackningar</div>
							<div>{{(article.articleQuantityInOuterPackage * article.packageLevelBase) ||
							0}}
							</div>
							<div>{{(article.articleQuantityInOuterPackage * article.packageLevelMiddle) ||
							0}}
							</div>
							<div>{{(article.articleQuantityInOuterPackage * article.packageLevelTop) ||
							0}}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="!articleId || !!article.ceMarked || !!selectedCeStandard"
														 class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<h2>ARTIKELMÄRKNING</h2>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="column" fxLayoutGap="20px">
						<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="component first-component">
							<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
								<mat-icon *ngIf="isSupplier && isCeMarkedOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
							</div>
							<mat-checkbox data-cy="cemarked-checkbox" [(ngModel)]="article.ceMarked" (change)="onCEToggle()"
														[disabled]="!editMode || !hasPermissionToUpdateArticle">Artikeln har CE-märkning
							</mat-checkbox>
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_CE}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>

							<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="component" style="width: 75%">
								<mat-form-field *ngIf="article.ceMarked" floatLabel="always">
									<div fxLayoutGap="5px" fxLayout="row">
										<mat-icon *ngIf="article.ceMarked && isSupplier && isCeDirectiveOverridden && article.basedOnProduct"
															class="tooltip"
															matTooltip="Arvet är brutet"
															color="warn"
															[matTooltipShowDelay]="500">content_paste_off
										</mat-icon>
										<mat-select data-cy="selectcedirective-dropdown" [(ngModel)]="selectedCeDirective"
																[disabled]="!editMode || !hasPermissionToUpdateArticle">
											<mat-option [value]="undefined"></mat-option>
											<mat-option *ngFor="let directive of ce.directives" [value]="directive">
												{{ directive.name }}
											</mat-option>
										</mat-select>
									</div>
									<mat-label>Direktiv</mat-label>
								</mat-form-field>
							</div>
						</div>

						<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="component">
							<div>
								<mat-icon *ngIf="isSupplier && isCeStandardOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
							</div>
							<mat-form-field floatLabel="always">
								<mat-select data-cy="selectcestandard-dropdown" [(ngModel)]="selectedCeStandard"
														[disabled]="!editMode || !hasPermissionToUpdateArticle">
									<mat-option [value]="undefined"></mat-option>
									<mat-option *ngFor="let standard of ce.standards" [value]="standard">
										{{ standard.name }}
									</mat-option>
								</mat-select>
								<mat-label>Standard</mat-label>
							</mat-form-field>
						</div>
					</div>
				</mat-expansion-panel>
			</div>


			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel
					[expanded]="!articleId || !!selectedPreventiveMaintenanceValidity || !!article.preventiveMaintenanceNumberOfDays"
					class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<h2>FÖREBYGGANDE UNDERHÅLL</h2>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="5px"
							 class="component first-component row">
						<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="component">
							<div>
								<mat-icon *ngIf="isSupplier && isPreventiveMaintenanceValidFromOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
							</div>
							<mat-form-field floatLabel="always">
								<mat-select data-cy="prevmainvalidity-dropdown" [(ngModel)]="selectedPreventiveMaintenanceValidity"
														[disabled]="!editMode || !hasPermissionToUpdateArticle">
									<mat-option [value]="undefined"></mat-option>
									<mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
										{{ validFrom.name }}
									</mat-option>
								</mat-select>
								<mat-label class="icon-label">Gäller från
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_MAINTENANCE_VALID_FROM}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
						</div>
						<mat-form-field floatLabel="always">
							<div fxLayoutGap="5px" fxLayout="row">
								<mat-icon *ngIf="isSupplier && isPreventiveMaintenanceNumberOfDaysOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
								<input data-cy="prevmaindays-input" autocomplete="off" matInput type="number"
											 [(ngModel)]="article.preventiveMaintenanceNumberOfDays"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</div>
							<mat-label class="icon-label">Intervall (kalenderdagar)
								<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ARTICLE_MAINTENANCE_INTERVAL}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel
					[expanded]="!articleId || !!article.manufacturer || !!article.manufacturerArticleNumber || !!article.manufacturerElectronicAddress.web || !!article.trademark"
					class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<h2>TILLVERKARE</h2>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always">
							<div fxLayoutGap="5px" fxLayout="row">
								<mat-icon *ngIf="isSupplier && isManufacturerOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
								<input data-cy="manufacturer-input" autocomplete="off" matInput type="text"
											 [(ngModel)]="article.manufacturer"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</div>
							<mat-label>Tillverkarens namn
								<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ARTICLE_MANUFACTURER_NAME}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
						</mat-form-field>
					</div>

					<div fxLayout="row" class="component">
						<mat-form-field floatLabel="always">
							<div fxLayoutGap="5px" fxLayout="row">
								<mat-icon *ngIf="isSupplier && isManufacturerArticleNumberOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
								<input data-cy="manufacturerartnr-input" autocomplete="off" matInput type="text"
											 [(ngModel)]="article.manufacturerArticleNumber"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</div>
							<mat-label class="icon-label">Tillverkarens artikelnummer
								<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ARTICLE_MANUFACTURER_NUMBER}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
						</mat-form-field>
					</div>


					<div fxLayout="row" class="component">
						<mat-form-field floatLabel="always">
							<div fxLayoutGap="5px" fxLayout="row">
								<mat-icon *ngIf="isSupplier && isManufacturerElectronicAddressOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
								<input data-cy="manufacturerweb-onput" [hidden]="!editMode" autocomplete="off" matInput type="text"
											 [(ngModel)]="article.manufacturerElectronicAddress.web"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">

								<a *ngIf="!editMode"
									 href="{{article.manufacturerElectronicAddress.web}}"
									 target="_blank">{{article.manufacturerElectronicAddress.web}}</a>
							</div>
							<mat-label class="icon-label">Tillverkarens webbsida
								<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ARTICLE_MANUFACTURER_URL}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
						</mat-form-field>
					</div>

					<div fxLayout="row" class="component last-component">
						<mat-form-field floatLabel="always">
							<div fxLayoutGap="5px" fxLayout="row">
								<mat-icon *ngIf="isSupplier && isTrademarkOverridden && article.basedOnProduct"
													class="tooltip"
													matTooltip="Arvet är brutet"
													color="warn"
													[matTooltipShowDelay]="500">content_paste_off
								</mat-icon>
								<input data-cy="arttrademark-input" autocomplete="off" matInput type="text"
											 [(ngModel)]="article.trademark"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
							</div>
							<mat-label class="icon-label">Varumärke
								<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ARTICLE_MANUFACTURER_TRADEMARK}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>KOMPLETTERANDE ARTIKELINFORMATION</h2>
				</div>
				<div fxLayout="row" class="component first-component">
					<mat-form-field floatLabel="always">
						<div fxLayoutGap="5px" fxLayout="row">
							<mat-icon *ngIf="isSupplier && isColorOverridden && article.basedOnProduct"
												class="tooltip"
												matTooltip="Arvet är brutet"
												color="warn"
												[matTooltipShowDelay]="500">content_paste_off
							</mat-icon>
							<textarea data-cy="artcolor-input" matInput matTextareaAutosize type="text" maxlength="512"
												[(ngModel)]="article.color"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
              </textarea>
						</div>
						<mat-label>Färg</mat-label>
					</mat-form-field>
				</div>
				<div fxLayout="row" class="component last-component">
					<mat-form-field floatLabel="always">
						<div fxLayout="row" fxLayoutGap="5px">
							<mat-icon *ngIf="isSupplier && isSupplementedInformationOverridden && article.basedOnProduct"
												class="tooltip"
												matTooltip="Arvet är brutet"
												color="warn"
												[matTooltipShowDelay]="500">content_paste_off
							</mat-icon>
							<textarea data-cy="artmoreinfo-input" matInput matTextareaAutosize type="text" maxlength="512"
												[(ngModel)]="article.supplementedInformation"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
              </textarea>
						</div>
						<mat-label class="icon-label">Kompletterande information
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_SUPPLEMENTED_INFORMATION}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>
			</div>

		</div>

		<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">

			<div *ngIf="!articleId" fxLayout="column" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>BILDER, VIDEO OCH DOKUMENT</h2>
				</div>

				<div class="component first-component last-component">
					Du måste spara artikeln innan du kan lägga till bilder, video och dokument
				</div>

			</div>

			<div *ngIf="articleId" fxLayout="column" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>BILDER</h2>
				</div>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="component first-component">
					<h3>Huvudbild</h3>
					<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.ARTICLE_IMAGE_MAIN}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
				<div *ngIf="!mainImage" class="component">
					Saknas
				</div>

				<div *ngIf="mainImage" fxLayout="row" class="component">
					<div fxFlex="15%" fxLayoutAlign="start center" class="component">
						<img src="{{mainImage.url}}" class="image-thumbnail">
					</div>
					<div fxFlex fxLayout="column" class="component">
						<div fxLayout="row">
							<div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
								<div fxLayout="column">
									<span class="media-label">Länk/fil</span>
									<span *ngIf="mainImage.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
												class="media-label">Ursprunglig länk</span>
									<span class="media-label">Bildtext</span>
									<span class="media-label">Alt-text</span>
								</div>
								<div fxLayout="column" class="tooltip-small">
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_URL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="mainImage.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
														class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_ORIGINALURL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_DESCRIPTION}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_ALT}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</div>
								<div fxLayout="column">
                <span [matTooltip]="mainImage.url.length > 30 ? mainImage.url : ''"><a href="{{mainImage.url}}"
																																											 target="_blank">{{mainImage.url | slice: 0:30}}{{mainImage.url.length > 30 ? '&hellip;' : ''}}</a></span>
									<span
										*ngIf="mainImage.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia">{{mainImage.originalUrl}}</span>
									<span *ngIf="mainImage.description">{{mainImage.description}}</span>
									<span *ngIf="!mainImage.description">Saknas</span>
									<span *ngIf="mainImage.alternativeText">{{mainImage.alternativeText}}</span>
									<span *ngIf="!mainImage.alternativeText">Saknas</span>
								</div>
							</div>
							<div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex="10%" fxLayout="row"
									 fxLayoutAlign="center center">
								<mat-icon *ngIf="!mainImage.productId" class="edit-mode-toggle"
													(click)="openEditMediaDialog('mainImage', mainImage)">edit
								</mat-icon>
								<mat-icon class="delete-media" (click)="openDeleteMediaDialog(mainImage)">delete</mat-icon>
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="hasPermissionToUpdateArticle && hasPermissionToUploadMedia && !mainImage" fxLayout="row"
						 fxLayoutAlign="center center">
					<button data-cy="uploadimage-btn" mat-button class="add-button" (click)="openUploadMainImageDialog()">
						LÄGG TILL
					</button>
				</div>

				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="component first-component">
					<h3>Övriga bilder</h3>
					<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.ARTICLE_IMAGE_IMAGES}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>

				<div *ngIf="!otherImages.length" class="component last-component">
					Saknas
				</div>

				<div fxLayout="row" *ngFor="let image of otherImages"
						 class="component last-component">
					<div fxFlex="15%" fxLayoutAlign="start center" class="component">
						<img src="{{image.url}}" class="image-thumbnail">
					</div>
					<div fxFlex fxLayout="column" class="component">
						<div fxLayout="row">
							<div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
								<div fxLayout="column">
									<span class="media-label">Länk/fil</span>
									<span *ngIf="image.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
												class="media-label">Ursprunglig länk</span>
									<span class="media-label">Bildtext</span>
									<span class="media-label">Alt-text</span>
								</div>
								<div fxLayout="column" class="tooltip-small">
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_URL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="image.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
														class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_ORIGINALURL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_DESCRIPTION}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_IMAGE_ALT}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</div>
								<div fxLayout="column">
                  <span [matTooltip]="image.url.length > 30 ? image.url : ''">
                    <a href="{{image.url}}"
											 target="_blank">{{image.url | slice: 0:30}}{{image.url.length > 30 ? '&hellip;' : ''}}</a></span>
									<span
										*ngIf="image.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia">{{image.originalUrl}}</span>
									<span *ngIf="image.description">{{image.description}}</span>
									<span *ngIf="!image.description">Saknas</span>
									<span *ngIf="image.alternativeText">{{image.alternativeText}}</span>
									<span *ngIf="!image.alternativeText">Saknas</span>
								</div>
							</div>
							<div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex=10% fxLayout="row"
									 fxLayoutAlign="center center">
								<mat-icon class="edit-mode-toggle" (click)="openEditMediaDialog('image', image)">edit</mat-icon>
								<mat-icon class="delete-media" (click)="openDeleteMediaDialog(image)">delete</mat-icon>
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="hasPermissionToUpdateArticle && hasPermissionToUploadMedia" fxLayout="row"
						 fxLayoutAlign="center center">
					<button data-cy="upload-btn" mat-button class="add-button" (click)="openUploadImageDialog()">
						LÄGG TILL
					</button>
				</div>

			</div>

			<div *ngIf="articleId" fxLayout="column" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>VIDEO</h2>
				</div>

				<div *ngIf="!media.videos.length" class="component first-component last-component">
					Saknas
				</div>

				<div fxLayout="row" *ngFor="let video of media.videos; let first = first; let last = last;"
						 class="component" [ngClass]="{'first-component': first, 'last-component' : last}">
					<div fxFlex="15%" fxLayoutAlign="start center" class="component">
						<mat-icon>movie</mat-icon>
					</div>
					<div fxFlex fxLayout="column" class="component">
						<div fxLayout="row">
							<div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
								<div fxLayout="column">
									<span class="media-label">Länk</span>
									<span class="media-label">Beskrivning</span>
									<span class="media-label">Alt-text</span>
								</div>
								<div fxLayout="column" class="tooltip-small">
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_VIDEO_URL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_VIDEO_DESCRIPTION}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_VIDEO_ALT}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</div>
								<div fxLayout="column">
                  <span [matTooltip]="video.url.length > 30 ? video.url : ''"><a href="{{video.url}}"
																																								 target="_blank">{{video.url | slice: 0:30}}{{video.url.length > 30 ? '&hellip;' : ''}}</a></span>
									<span *ngIf="video.description">{{video.description}}</span>
									<span *ngIf="!video.description">Saknas</span>
									<span *ngIf="video.alternativeText">{{video.alternativeText}}</span>
									<span *ngIf="!video.alternativeText">Saknas</span>
								</div>
							</div>
							<div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex="10%" fxLayout="column"
									 fxLayoutAlign="center center">
								<mat-icon class="delete-media" (click)="openDeleteMediaDialog(video)">delete</mat-icon>
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="hasPermissionToUpdateArticle && hasPermissionToUploadMedia" fxLayout="row"
						 fxLayoutAlign="center center">
					<button data-cy="addvideo-btn" mat-button class="add-button" (click)="openUploadVideoDialog()">
						LÄGG TILL
					</button>
				</div>

			</div>

			<div *ngIf="articleId" fxLayout="column" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>DOKUMENT</h2>
				</div>

				<div *ngIf="!media.documents.length" class="component first-component last-component">
					Saknas
				</div>

				<div fxLayout="row" *ngFor="let document of media.documents; let first = first; let last = last;"
						 class="component" [ngClass]="{'first-component': first, 'last-component' : last}">
					<div fxFlex="15%" fxLayoutAlign="start center" class="component document-icon-component">
						<i *ngIf="document.fileType === 'WORD'" class="far fa-file-word"></i>
						<i *ngIf="document.fileType === 'EXCEL'" class="far fa-file-excel"></i>
						<i *ngIf="document.fileType === 'PDF'" class="far fa-file-pdf"></i>
					</div>
					<div fxFlex fxLayout="column" class="component">
						<div fxLayout="row">
							<div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
								<div fxLayout="column">
									<span class="media-label">Länk/fil</span>
									<span *ngIf="document.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
												class="media-label">Ursprunglig länk</span>
									<span class="media-label">Beskrivning</span>
									<span class="media-label">Dokumenttyp</span>
								</div>
								<div fxLayout="column" class="tooltip-small">
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_DOCUMENT_URL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="document.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
														class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_DOCUMENT_ORIGINALURL}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_DOCUMENT_DESCRIPTION}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
									<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.ARTICLE_DOCUMENT_TYPE}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</div>
								<div fxLayout="column">
                  <span [matTooltip]="document.url.length > 30 ? document.url : ''"><a href="{{document.url}}"
																																											 target="_blank">{{document.url | slice: 0:30}}{{document.url.length > 30 ? '&hellip;' : ''}}</a></span>

									<span *ngIf="document.originalUrl && hasPermissionToUpdateArticle && hasPermissionToUploadMedia"
												[matTooltip]="document.originalUrl.length > 30 ? document.originalUrl : ''">{{document.originalUrl | slice: 0:30}}{{document.originalUrl.length > 30 ? '&hellip;' : ''}}</span>

									<span *ngIf="document.description"
												[matTooltip]="document.description.length > 30 ? document.description : ''">{{document.description | slice: 0:30}}{{document.description.length > 30 ? '&hellip;' : ''}}</span>
									<span *ngIf="!document.description">Saknas</span>

									<span *ngIf="document.documentType">{{document.documentType.value}}</span>
									<span *ngIf="!document.documentType">Saknas</span>
								</div>
							</div>
							<div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex="10%" fxLayout="row"
									 fxLayoutAlign="center center">
								<mat-icon *ngIf="!document.productId" class="edit-mode-toggle"
													(click)="openEditMediaDialog('document', document)">edit
								</mat-icon>
								<mat-icon class="delete-media" (click)="openDeleteMediaDialog(document)">delete</mat-icon>
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="hasPermissionToUpdateArticle && hasPermissionToUploadMedia" fxLayout="row"
						 fxLayoutAlign="center center">
					<button data-cy="adddoc-btn" mat-button class="add-button" (click)="openUploadDocumentDialog()">
						LÄGG TILL
					</button>
				</div>

			</div>

			<div *ngIf="article.categoryPropertys && article.categoryPropertys.length" fxLayout="column"
					 class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>KATEGORISPECIFIKA EGENSKAPER</h2>
				</div>

				<div *ngFor="let property of article.categoryPropertys; let first = first; let last = last"
						 fxLayout="column" class="component" [ngClass]="{'first-component': first, 'last-component' : last}">
					<mat-form-field *ngIf="property.property.type === 'TEXTFIELD'" floatLabel="always">
						<input data-cy="propertytext-input" autocomplete="off" matInput type="text" [(ngModel)]="property.textValue"
									 [disabled]="!editMode || !hasPermissionToUpdateArticle">
						<mat-label class="icon-label">{{property.property.name}}
							<mat-icon *ngIf="property.property.description" class="tooltip"
												matTooltip="{{property.property.description}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
					<mat-form-field *ngIf="property.property.type === 'DECIMAL'" floatLabel="always">
						<input data-cy="propertydecimal-input" autocomplete="off" matInput type="number"
									 [(ngModel)]="property.decimalValue"
									 [disabled]="!editMode || !hasPermissionToUpdateArticle">
						<mat-label class="icon-label">{{property.property.name}}
							<mat-icon *ngIf="property.property.description" property.property.description class="tooltip"
												matTooltip="{{property.property.description}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
					<div *ngIf="property.property.type === 'INTERVAL'" fxLayout="row">
						<div class="property-interval">
							<mat-form-field fxLayoutGap="15px" floatLabel="always" class="first-interval-field">
								<input data-cy="propertyintervalfrom-input" autocomplete="off" matInput type="number"
											 [(ngModel)]="property.intervalFromValue"
											 placeholder="Min"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
								<mat-label class="icon-label">{{property.property.name}}
									<mat-icon *ngIf="property.property.description" class="tooltip"
														matTooltip="{{property.property.description}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
							<mat-form-field fxFlex>
								<input data-cy="propertyintervalto-input" autocomplete="off" matInput type="number"
											 [(ngModel)]="property.intervalToValue"
											 [disabled]="!editMode || !hasPermissionToUpdateArticle">
								<mat-label class="category-specific-placeholder">Max</mat-label>
							</mat-form-field>
						</div>
					</div>

					<mat-form-field *ngIf="property.property.type === 'VALUELIST_SINGLE'" floatLabel="always">
						<mat-select data-cy="propertysinglelistvalue-dropdown" [(ngModel)]="property.singleListValue"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
							<mat-option *ngFor="let value of property.property.values" [value]="value.id">
								{{ value.value }}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">{{property.property.name}}
							<mat-icon *ngIf="property.property.description" class="tooltip"
												matTooltip="{{property.property.description}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
					<mat-form-field *ngIf="property.property.type === 'VALUELIST_MULTIPLE'" floatLabel="always">
						<mat-select data-cy="propertyvaluelistmultiple-dropdown" [(ngModel)]="property.multipleListValue" multiple
												matTooltip="{{getMultiTooltip(property.multipleListValue, property.property.values)}}"
												[matTooltipShowDelay]="500"
												[disabled]="!editMode || !hasPermissionToUpdateArticle">
							<mat-option *ngFor="let value of property.property.values" [value]="value.id">
								{{ value.value }}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">{{property.property.name}}
							<mat-icon *ngIf="property.property.description" class="tooltip"
												matTooltip="{{property.property.description}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>
			</div>

			<div *ngIf="articleId" fxLayout="column" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>ARTIKEL HAR UTGÅTT</h2>
				</div>

				<div fxLayout="row" fxLayoutGap="5px" class="component first-component">
					<mat-icon *ngIf="isSupplier && isStatusOverridden && article.basedOnProduct"
										class="tooltip"
										matTooltip="Arvet är brutet"
										color="warn"
										[matTooltipShowDelay]="500">content_paste_off
					</mat-icon>
					<mat-checkbox [checked]="article.status === 'DISCONTINUED'" disabled>
						Artikeln utgår
					</mat-checkbox>
					<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.ARTICLE_DISCONTINUED}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
				<div *ngIf="article.replacementDate" fxLayout="row" class="component">
					<mat-form-field>
						<input autocomplete="off" matInput [matDatepicker]="picker" disabled [(ngModel)]="replacementDate">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-label class="icon-label">Datum
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_DISCONTINUED_DATE}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>
				<div *ngIf="article.replacementDate" fxLayout="column" class="component">
					<mat-radio-group [(ngModel)]="replaced" disabled>
						<div>
							<mat-radio-button [value]="false">
								Ersättningsartikel saknas
								<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.ARTICLE_DISCONTINUED_REPLACED}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-radio-button>
						</div>
						<div>
							<mat-radio-button [value]="true">
								Ersätts av artikel
							</mat-radio-button>
						</div>
					</mat-radio-group>
					<div *ngIf="replaced" class="selected-articles">
						<mat-label disabled>
							Artiklar
							<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
												matTooltip="{{helpTexts.values.ARTICLE_DISCONTINUED_REPLACED_BY_ARTICLE}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
						<div *ngFor="let art of article.replacedByArticles">
							<a href="/organization/{{art.organizationId}}/article/{{art.id}}/handle?search=true">{{art.articleNumber}}
								- {{art.articleName}}</a>
						</div>
					</div>
				</div>
				<div *ngIf="!reactivating && hasPermissionToUpdateArticle" fxLayout="row" class="component">
					<button data-cy="replacearticle-btn" *ngIf="editMode && article.status !== 'DISCONTINUED' && !replacementDate"
									mat-button
									class="add-button" (click)="chooseReplacementArticle()">
						INAKTIVERA
					</button>
					<button data-cy="reactivate-btn" *ngIf="article.status === 'DISCONTINUED'" mat-button class="add-button"
									(click)="reactivateArticle()">
						ÅTERAKTIVERA
					</button>
					<button data-cy="changereplacearticle-btn"
									*ngIf="(editMode || article.status === 'DISCONTINUED') && replacementDate" mat-button
									class="add-button"
									(click)="editReplacementArticles()">
						ÄNDRA
					</button>
				</div>
				<mat-progress-spinner *ngIf="reactivating" mode="indeterminate"></mat-progress-spinner>
			</div>
		</div>

	</div>

	<div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="savebar-container">
		<div fxFlex="50%"></div>
		<div fxFlex="50%">
			<button data-cy="savearticle-btn"
							*ngIf="!saving && editMode && ((hasPermissionToUpdateArticle && articleId) || (!articleId && hasPermissionToCreateArticle &&
         (article.fitsToProducts && article.fitsToProducts.length || article.fitsToArticles && article.fitsToArticles.length || article.category.articleType === 'H' || isTiso || (article.category.articleType === 'T' && article.category.code))))"
							mat-raised-button color="primary"
							(click)="saveArticle()">SPARA
			</button>
			<button data-cy="addconnections-btn"
							*ngIf="!saving && editMode && ((!articleId && hasPermissionToCreateArticle &&
         ((!article.fitsToProducts || !article.fitsToProducts.length) && (!article.fitsToArticles || !article.fitsToArticles.length) && article.category.articleType !== 'H' && !isTiso && !(article.category.articleType === 'T' && article.category.code))))"
							mat-raised-button color="primary"
							(click)="changeTab()">LÄGG TILL KOPPLINGAR
			</button>
			<a data-cy="cancel-btn" *ngIf="!saving && articleId" mat-button (click)="cancel()">AVBRYT</a>
			<a data-cy="goback-btn" *ngIf="!saving && !articleId" mat-button (click)="goBack()">AVBRYT</a>
			<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
		</div>
	</div>
</div>
