
.content-container {
	margin-bottom: 100px;
}

.row {
	width: 100%;

	mat-form-field {
		width: 95%;
	}
}

.extra-long {
	mat-form-field {
		width: 95%;
	}
}

.add {
	cursor: pointer;
}

.order-information {
	mat-form-field {
		height: 35%;
		margin-bottom: -1.25em;
	}

	.information-component {
		margin-top: 26px;
	}
}

.first-component {
	.mat-icon {
		padding-left: 10px;
		padding-right: 20px;
	}
}

.extra-padding {
	padding-bottom: 70px;
}

.not-so-much-extra-padding {
	padding-left: 16px;
	padding-bottom: 30px;
}

mat-expanded {
	.expansion-content {
		margin-bottom: 209px;
	}
}

.property-interval {
	width: 80%;

	mat-form-field {
		width: 50%;
	}

	.first-interval-field {
		margin-right: 15px;
	}
}

.category-properties-component {
	padding-bottom: 20px;
}

.add-button {
	color: cornflowerblue;
}

.image-thumbnail {
	width: 72px;
}

.tooltip-small {
	.mat-icon {
		font-size: 16px;
	}
}

.first-tooltip {
	margin-top: 40px;
}

.delete-media {
	cursor: pointer;
}

.document-icon-component {
	i {
		font-size: 42px;
	}
}

.selected-articles {
	margin-top: 20px;
}
