<div fxLayout="row" class="component first-component">
	<h1>Användare skapad</h1>
</div>
<mat-dialog-content>
	<div class="component first-component">
		<p>Detta är länken för automatisk inloggning. Spara undan denna länk säkert då det är enda gången den kommer att
			visas.</p>
	</div>
	<div class="component last-component">
		<p>{{data}}</p>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<button data-cy="ok-btn" mat-button mat-dialog-close>OK, jag har sparat länken</button>
</mat-dialog-actions>
