
.row {
	width: 100%;

	mat-form-field {
		width: 95%;
	}
}

.extra-long {
	mat-form-field {
		width: 95%;
	}
}

.add {
	cursor: pointer;
}

.order-information {
	mat-form-field {
		height: 35%;
		margin-bottom: -1.25em;
	}

	.information-component {
		margin-top: 26px;
	}
}

.mat-radio-button {
	margin: 0 10px 10px 0;
}

.property-interval {
	width: 80%;

	mat-form-field {
		width: 50%;
	}

	.first-interval-field {
		margin-right: 15px;
	}
}

.first-component {
	.mat-icon {
		padding-left: 10px;
		padding-right: 20px;
	}
}

.add-button {
	color: cornflowerblue;
}

.media-tooltip {
	.mat-icon {
		font-size: 16px;
	}
}

.tooltip-small {
	.mat-icon {
		font-size: 16px;
	}
}

.first-tooltip {
	margin-top: 40px;
}

.image-thumbnail {
	width: 72px;
}

.delete-media {
	cursor: pointer;
}

.document-icon-component {
	i {
		font-size: 42px;
	}
}

.selected-products {
	margin-top: 20px;
}

.url-form-field {
  margin-left: 14px;
}

.upload-button {
  background-color: #118582;
  color: white;
  margin-left: 15px;
}

.upload-button-disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  cursor: default !important;
  label {
    cursor: default;
  }
}
