<div class="page-wrapper">
	<div *ngIf="childProduct" fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
		<div fxFlex="95%">
			<h1 *ngIf="childProduct?.productId">{{childProduct?.product.productName}}</h1>
			<h1 *ngIf="!childProduct?.productId">Ny produkt</h1>
		</div>
		<div
			*ngIf="!tabIndex && childProduct?.productId && !childProduct?.editMode && childProduct?.hasPermissionToUpdateProduct && childProduct?.product.status !== 'DISCONTINUED'"
			fxFlex="2%"
			fxLayoutAlign="center">
			<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
		</div>
		<div
			*ngIf="!tabIndex && childProduct?.productId && !childProduct?.editMode && childProduct?.hasPermissionToUpdateProduct"
			fxFlex="2%">
			<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">MENY</span>
				</div>
			</button>
			<mat-menu #menu="matMenu">
				<button data-cy="copy-btn" mat-menu-item
								routerLink="/organization/{{organizationId}}/product/copy"
								[queryParams]="{copiedProduct: childProduct?.productId}">
					<mat-icon color="primary">file_copy</mat-icon>
					<span>Kopiera produkt</span>
				</button>
				<button *ngIf="isCheckingIfProductIsRemovable" mat-menu-item disabled>
					<mat-progress-spinner [diameter]="20" mode="indeterminate"></mat-progress-spinner>
				</button>
				<button data-cy="deleteproduct-btn" *ngIf="loaded && !hasArticleBasedOnIt && !isCheckingIfProductIsRemovable"
								(click)="childProduct?.openDeleteProductDialog()" mat-menu-item>
					<mat-icon color="primary">delete</mat-icon>
					<span>Ta bort produkt</span>
				</button>

			</mat-menu>
		</div>


		<!--  <div
				*ngIf="tabIndex == 1 && childProduct.productId && !childProduct.editMode && childProduct.hasPermissionToUpdateProduct"
				fxFlex="3%"> -->
		<div
			*ngIf="tabIndex == 1 && childProduct?.productId && !childProduct?.editMode"
			fxFlex="3%">
			<button data-cy="menu1-btn" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">
						<div class="menu-container"> MENY
							<mat-icon matSuffix *ngIf="helpTextsLoaded"
												class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_MENU}}"
												[matTooltipShowDelay]="500">info_outline</mat-icon>
						</div>
					</span>
				</div>
			</button>

			<mat-menu #menu="matMenu" class="wide-mat-menu">
				<button data-cy="exportresult-btn" mat-menu-item (click)="exportSearchResults()">
					<mat-icon color="primary">save_alt</mat-icon>
					<span>Exportera sökresultat till Excel-fil</span>
				</button>
			</mat-menu>

		</div>

	</div>

	<div *ngIf="!redirectedFromSearch" fxLayout="row" class="navigation">
		<span routerLink="/organization/{{organizationId}}/product">Produkter och artiklar</span><span> > </span><span
		class="navigation-last">Hantera produkt</span>
	</div>

	<div *ngIf="childProduct && childProduct?.productId" fxLayout="row" class="content" fxLayoutAlign="start center">
		<h3>Status: {{childProduct?.product.status | formatProductStatus}}</h3>
	</div>

	<mat-tab-group class="tab-group" (selectedTabChange)="onTabSelection($event)">
		<mat-tab label="Produkt" [disabled]="childProduct?.editMode">
			<div class="tab-content">
				<app-handle-product></app-handle-product>
			</div>
		</mat-tab>
		<mat-tab *ngIf="childProduct?.productId" label="Artiklar" [disabled]="childProduct?.editMode">
			<div class="tab-content">
				<app-connection></app-connection>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
