<section class="border-component mat-elevation-z8 dashboard-alerts-wrapper">
	<div class="dashboard-alerts-box">
		<!--    <section>-->
		<!--      <h4>Information</h4>-->
		<!--    </section>-->

		<div class="dashboard-icon-wrapper">
			<div class="dashboard-icon"
					 [ngStyle]="pricelistsWaitingForApproval == null && agreementsChangedByCustomer == null && pricelistRowsApprovedByCustomer == null && changedArticles == null && discontinuedArticles == null?
           {'color': 'gray'} :
           {'color': '#118582'}">
				<span class="material-icons">{{iconName}}</span>
			</div>
		</div>
	</div>

	<section class="dashboard-alerts-box">
		<h4>Information</h4>
		<section *ngIf="userRole == 'SupplierAgreementManager'">

			<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'information'}">
				<h5 *ngIf="pricelistsWaitingForApproval != null"
						[ngStyle]="{'color': '#255453'}">{{waitingForApprovalText}}</h5>
			</a>
			<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'information'}">
				<h5 *ngIf="agreementsChangedByCustomer != null"
						[ngStyle]="{'color': '#255453'}">{{agreementsChangedByCustomerText}}</h5>
			</a>
			<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'information'}">
				<h5 *ngIf="pricelistRowsApprovedByCustomer != null"
						[ngStyle]="{'color': '#255453'}">{{pricelistRowsApprovedByCustomerText}}</h5>
			</a>

			<h5
				*ngIf="pricelistsWaitingForApproval == null && agreementsChangedByCustomer == null && pricelistRowsApprovedByCustomer == null"
				[ngStyle]="{'color': 'gray'}">{{noNoticeText}}</h5>

		</section>

		<section *ngIf="userRole == 'CustomerAgreementManager'">
			<section>
				<a *ngIf="changedArticles != null" class="dashboard-link" [routerLink]="['/dashboard']"
					 [queryParams]="{tab: 'information'}">
					<h5 style="color: #255453">{{changedArticlesText}}</h5>
				</a>
			</section>
		</section>

		<section *ngIf="isAssortmentManager">
			<section>
				<a class="dashboard-link" [routerLink]="['/dashboard']" [queryParams]="{tab: 'information'}">
					<h5 *ngIf="discontinuedArticles != null"
							[ngStyle]="{'color': '#255453'}">{{discontinuedArticlesText}}</h5>
				</a>
			</section>
		</section>

		<section *ngIf="isAssortmentManager || userRole == 'CustomerAgreementManager'">
			<section *ngIf="discontinuedArticles == null && changedArticles == null" [ngStyle]="{'color': 'gray'}">
				<h5 [ngStyle]="{'color': 'gray'}">{{noNoticeText}}</h5>
			</section>
		</section>

	</section>

</section>

