.dashboard-alerts-wrapper {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
}

.dashboard-alerts-box {
	padding: 10px;
}

.dashboard-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.dashboard-icon {
	//display: flex;
	//justify-content: center;
	//align-items: center;
	//width: 45px;
	//height: 45px;
}

.dashboard-link {
	text-decoration: none;
}
