<section class="column-content border-component dashboardframe">
	<div class="component-title">
		<h2>Välkommen {{userName}}</h2>
	</div>

	<app-dashboard-events [role]="userRole"></app-dashboard-events>

	<app-dashboard-information [role]="userRole" 	[isAssortmentManager]="isAssortmentManager"></app-dashboard-information>

</section>


