<div class="page-wrapper">

	<!--  <div fxLayout="row" class="navigation-header">
			<div fxFlex="95%" fxLayout="row" fxLayoutAlign="start center">
				<h1>Flytta artiklar mellan kategorier/isokoder</h1>
	&lt;!&ndash;      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
									matTooltip="{{helpTexts.values.SEARCH_HEADER}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>&ndash;&gt;
			</div>

		</div>-->


	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="productsAndArticles.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="productsAndArticles.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
            <mat-form-field>
            <mat-select placeholder="{{limit}}" name="changeOffset" [(value)]="limit">
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(25)">25 </mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(50)">50</mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(100)">100</mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(200)">200</mat-option>
            </mat-select>
            </mat-form-field>

        </span>
			</div>
			<button data-cy="clearhistory-btn" mat-button style="background-color: #118582; color: white;"
							(click)="this.clearAll()">Rensa Sökhistorik
			</button>
		</div>

	</div>

	<div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">


		<!--      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.SEARCH_HEADER}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>-->


		<div fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
			<h1>Filtrera produkter</h1>
			<!--     <div fxLayout="column" class="column-content border-component">
						 <mat-expansion-panel [expanded]="true" class="expansion-content">
							 <mat-expansion-panel-header class="component-title">
								 <mat-panel-title>
									 <div fxLayout="row" fxLayoutAlign="start center">
										 <h2>PRODUKT/ARTIKEL</h2>
									&lt;!&ndash;   <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
															 matTooltip="{{helpTexts.values.SEARCH_FILTER_PRODUCTS_AND_ARTICLES}}"
															 [matTooltipShowDelay]="500">info_outline
										 </mat-icon>&ndash;&gt;
									 </div>
								 </mat-panel-title>
							 </mat-expansion-panel-header>

							 <div fxLayout="row" class="component first-component">
								 <mat-checkbox [(ngModel)]="filterProducts" (change)="onFilterChange()">Produkter
								 </mat-checkbox>
							 </div>
		 &lt;!&ndash;          <div fxLayout="row" class="component">
								 <mat-checkbox [(ngModel)]="filterArticles" (change)="onFilterChange()">Artiklar
								 </mat-checkbox>
							 </div>&ndash;&gt;
						 </mat-expansion-panel>
					 </div>-->

			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>STATUS</h2>
								<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.SEARCH_FILTER_STATUS}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>-->
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-checkbox data-cy="filterpublished-checkbox" [(ngModel)]="filterPublished" (change)="onFilterChange()">
							Aktiv
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component last-component">
						<mat-checkbox data-cy="filterdiscontinued-checkbox" [(ngModel)]="filterDiscontinued"
													(change)="onFilterChange()">Utgått
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">

					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>LEVERANTÖR</h2>
								<!-- <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													 matTooltip="{{helpTexts.values.SEARCH_FILTER_SUPPLIER}}"
													 [matTooltipShowDelay]="500">info_outline
								 </mat-icon>-->
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always" class="search">
							<mat-select data-cy="selectedsupplier-dropdown" [(ngModel)]="selectedSupplier"
													(ngModelChange)="onSupplierChange()">
								<mat-option [value]="-1"></mat-option>
								<mat-option *ngFor="let supplier of suppliers" [value]="supplier.id+':'+supplier.organizationName">
									<!--                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">-->
									{{ supplier.organizationName }}

								</mat-option>
							</mat-select>

							<mat-label>Leverantör
							</mat-label>
						</mat-form-field>
					</div>

				</mat-expansion-panel>
			</div>


			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>Kategori</h2>
								<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>-->
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always">
							<input data-cy="selectedcategory-input" autocomplete="off" type="text" matInput readonly
										 [formControl]="categoryFormControl"
										 (click)="openCategoryDialog()">
							<button data-cy="clearcategory-btn" mat-button *ngIf="categoryFormControl.value" matSuffix
											aria-label="Clear"
											(click)="clearCategory()">
								<mat-icon>close</mat-icon>
							</button>
							<mat-label>Kategori</mat-label>
							<mat-error data-cy="caterror" *ngIf="categoryError">{{categoryError}}</mat-error>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</div>

			<!--<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<h2>ÖVRIGT</h2>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-checkbox [(ngModel)]="filterCeMarked" (change)="onFilterChange()">Visa endast CE-märkta
							produkter/artiklar
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>-->
		</div>

		<div *ngIf="loading">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
		<div *ngIf="productsAndArticles.length && !loading" fxFlex="100%" class="container mat-elevation-z1 table-md">

			<mat-table [dataSource]="dataSource" matSort matSortDirection="{{sortOrder}}" matSortActive="{{sortType}}"
								 (matSortChange)="sortData($any($event))">

				<ng-container matColumnDef="checkbox">
					<mat-header-cell *matHeaderCellDef fxFlex="7%">
						<mat-checkbox (change)="masterToggle()"
													[checked]="selection.hasValue() && isAllSelected()"
													[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="7%">
						<mat-checkbox
							[checked]="selection.isSelected(element)"
							(change)="AddToMoveList(element,$event)"></mat-checkbox>
					</mat-cell>

				</ng-container>
				<ng-container matColumnDef="articleType">
					<mat-header-cell *matHeaderCellDef fxFlex="7%">Typ</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="7%"><span *ngIf="element.type === 'PRODUCT'"> P</span> <span
						*ngIf="element.type === 'ARTICLE'"> {{element.articleType}}</span></mat-cell>
				</ng-container>

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef fxFlex="45%" mat-sort-header> Benämning</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="45%"><a
						href="../organization/{{element.organizationId}}/{{element.type.toLowerCase()}}/{{element.id}}/handle?search=true">{{ element.name}}</a>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="number">
					<mat-header-cell *matHeaderCellDef fxFlex="25%" mat-sort-header> Produkt/artnr</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="25%"> {{element.number}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="organizationName">
					<mat-header-cell *matHeaderCellDef fxFlex="15%" mat-sort-header> Leverantör</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.organizationName}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="code">
					<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
				</ng-container>

				<!--        <ng-container matColumnDef="anchor">
									<mat-header-cell *matHeaderCellDef></mat-header-cell>
									<mat-cell *matCellDef="let element">
										<a
											href="../organization/{{element.organizationId}}/{{element.type.toLowerCase()}}/{{element.id}}/handle?search=true"> </a>
									</mat-cell>
								</ng-container>-->

				<
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" [title]="row.name"></mat-row>

			</mat-table>
			<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
				<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
				<div *ngFor="let pageNumber of paginatorArray">
            <span ng-attr-id='pageNumber'
									[ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
				</div>
				<span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>

			</div>


			<!--      <div *ngIf="this.moveToCategory != null && this.selection.selected.length > 0" fx-layout="row" fx-flex fx-layout-align="end" style="float:right; padding-left:5px;">
							<div >
								<button mat-button style="background-color: #118582; color: white;" (click)="confirm()">Flytta produkter</button>
								<button mat-button style="margin-left:5px;" (click)="onFilterChange()"><mat-icon class="edit-mode-toggle">refresh</mat-icon></button>
							</div>
						</div>-->

		</div>
		<div *ngIf="this.dataSource" fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
			<h1>Välj kategori att flytta till</h1>
			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>KATEGORI</h2>
								<!--  <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
														matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>-->
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always">
							<input autocomplete="off" type="text" matInput readonly
										 [formControl]="categoryFormControl2"
										 (click)="openMoveToCategoryDialog()">
							<button data-cy="clearmove-btn" mat-mini-fab *ngIf="categoryFormControl2.value" matSuffix
											aria-label="Clear"
											(click)="clearMoveToCategory()">
								<mat-icon>close</mat-icon>
							</button>
							<mat-label>Kategori</mat-label>
							<mat-error data-cy="caterror2" *ngIf="categoryError">{{categoryError}}</mat-error>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</div>
			<div *ngIf="this.moveToCategory != null && this.selection.selected.length > 0" fx-layout="row" fx-flex
					 fx-layout-align="end">
				<button data-cy="move-btn" mat-button style="background-color: #118582; float:right; color: white;"
								(click)="confirm()">Flytta produkter
				</button>
				<button data-cy="refresh-button" mat-button style="margin-left:5px;float:right;" (click)="onFilterChange()">
					<mat-icon class="edit-mode-toggle">refresh</mat-icon>
				</button>
			</div>
			<mat-hint style="color:red">Observera att flytt av produkt <br>
				- till en kategori av en annan kategorityp (H/T-ISO) innebär en omdefiniering av samtliga artiklar som baseras
				på produkten <br>
				- från en kategori med kategorispecifika egenskaper innebär att dessa egenskaper tas bort från produkten och
				artiklar som baseras på den”
			</mat-hint>
		</div>


	</div>

</div>
