<div fxLayout="row" class="component first-component">
	<h1>Maila inloggningsuppgifter</h1>
</div>
<mat-dialog-content>
	<div class="component">
		<p> Detta kommer att skicka inloggningsuppgifter till samtliga användare som har:</p>
		<ul>
			<li>En epostadress</li>
			<li>Inte har loggat in tidigare</li>
			<li>Inte redan har aktiva inloggningsuppgifter skickade till sig</li>
		</ul>
		<p>Är du helt säker på att du vill göra detta?</p>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<button data-cy="save-btn" *ngIf="!saving" mat-button (click)="done()">
		JA
	</button>
	<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
	<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
