
.container {
	padding: 20px;
}

.cancelBtn {
	position: absolute;
	top: 5px;
	right: 5px;
}

.mat-column-checkbox {
	overflow: initial;
}

.mat-dialog-actions {
	.mat-button {
		color: cornflowerblue;
	}
}

.contentDiv {
	padding: 0px !important;
	margin: 0px !important;
}

.task-header {
	background-color: transparent;
	padding: 0 5px;
	height: 20px;
}

.fx-spacer {
	flex: 1 1 auto;
}

.title {
	position: relative;
	padding: 0px;
	margin: 0px;
}


