<h4 mat-dialog-title style="position:relative; padding: 20px;">
	<mat-toolbar role="toolbar" class="task-header">
		<span>Ta bort användare</span>
		<span class="fx-spacer"></span>
		<button data-cy="close-btn" mat-icon-button mat-dialog-close="true" class="cancelBtn">
			<mat-icon mat-list-icon>close</mat-icon>
		</button>
	</mat-toolbar>
</h4>
<mat-dialog-content class="contentDiv">
	<div fxLayout="row" class="content" *ngIf="stepOne">
		Denna funktion är avsedd för att ta bort användare från systemet enligt förfrågan i ett GDPR-ärende. För att
		inaktivera en användare,
		gå till:
	</div>
	<div fxLayout="row" class="content" *ngIf="stepOne">
		<a href="organization/{{organizationId}}/user/{{userId}}/handle">Hantera användare</a>
	</div>
	<mat-progress-spinner *ngIf="stepTwo && loading == true" mode="indeterminate"></mat-progress-spinner>

	<div fxLayout="row" class="content" *ngIf="stepTwo && loading == false">
                <textarea type="text" matInput readonly matTextareaAutosize rows="5" cols="90"
													[(ngModel)]="stepTwoMessage"
													[disabled]="true"></textarea>

	</div>

	<div *ngIf="stepTwo && enableRemoval && loading == false" fxLayout="row" class="content">
		<mat-form-field floatLabel="always">
			<input data-cy="deleteusergdprmessage-input" autocomplete="off" matInput required type="text"
						 [formControl]="reasonCode" placeholder="Ange orsak att ta bort användaren.">
			<mat-label class="icon-label">Kommentar
				<mat-icon class="tooltip"
									matTooltip="Ange mer information eller ange er referens till GDPR-ärendet som ligger till grund för att användaren ska tas bort."
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
		</mat-form-field>
	</div>
</mat-dialog-content>
<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<div fxLayoutAlign="start">
			<button data-cy="cancel-btn" mat-button mat-dialog-close>AVBRYT</button>
		</div>
		<button data-cy="next-btn" *ngIf="stepOne" mat-button (click)="goToStepTwo()">
			NÄSTA
		</button>
		<button data-cy="delete-btn" *ngIf="stepTwo && enableRemoval && loading == false" mat-button
						type="submit" [disabled]="reasonCode.invalid" (click)="deleteUser()">
			TA BORT
		</button>
	</mat-dialog-actions>
</div>


