<section class="content border-component" fxLayout="column" fxLayoutGap="10px">
	<div class="component-title" style="padding: 10px;">
		<h2>{{title}}</h2>
	</div>

	<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 20px;">

		<ng-container matColumnDef="agreementNumber">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnummer</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.agreementNumber}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="whenChanged">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Ändrad</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.whenChanged | date: 'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="customer">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Kund</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.customer}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="businesslevel">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Verksamhetsområde</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.businesslevel}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="changes">
			<mat-header-cell *matHeaderCellDef fxFlex="40%"> Ändring: före > efter</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="40%">
				<div fxLayout="column">
					<div *ngFor="let change of item.changes">{{change}}</div>
				</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="agreementName">
			<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnamn</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="10%"> {{item.agreementName}}</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeTo(row)" [title]="row.agreementNumber"
						 appMatRowKeyboardEvent (enterPressed)="routeTo(row)" tabindex=0></mat-row>

	</mat-table>

</section>
