<div fxLayout="row" class="component first-component">
	<h1>Lägg till en kommentar</h1>
</div>

<div fxLayout="column" class="component first-component">
	<mat-form-field class="full-width">
    <textarea data-cy="comment-input" maxlength="255" autocomplete="off" cdkAutosizeMinRows="1"
							cdkTextareaAutosize matInput type="text" [(ngModel)]="message">
    </textarea>
	</mat-form-field>
	<div fxLayout="row">
		<div fxLayoutAlign="start" fxFlex="50">
			<p
				*ngIf="this.message.includes('{') && this.message.includes('}') && (this.message.indexOf('{') < this.message.lastIndexOf('}'))"
				style="color:red">
				Meddelandet innehåller ej tillåtna tecken: {{ '{' }} och &#125; </p>
			<p
				*ngIf="this.message.includes('/') && ((this.message.indexOf('/') > 0 && this.message.indexOf('/') != this.message.length - 1) ||  (this.message.lastIndexOf('/') > 0 && this.message.lastIndexOf('/') != this.message.length - 1))"
				style="color:red">
				Meddelandet innehåller ej tillåtna tecken: / </p>
		</div>
		<div fxLayoutAlign="end end" fxFlex="50" class="message-length"><p>{{message.length}}/255</p></div>
	</div>
</div>


<mat-dialog-actions>

	<button data-cy="continue-btn" mat-button
					[disabled]="loading || (this.message.includes('{') && this.message.includes('}') && (this.message.indexOf('{')< this.message.lastIndexOf('}'))) || this.message.includes('/') && ((this.message.indexOf('/') > 0 && this.message.indexOf('/') != this.message.length - 1) ||  (this.message.lastIndexOf('/') > 0 && this.message.lastIndexOf('/') != this.message.length - 1))"
					(click)="done()">
		FORTSÄTT
	</button>

	<button data-cy="cancel-btn" mat-button mat-dialog-close>
		AVBRYT
	</button>

</mat-dialog-actions>

<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
