@import '../../styles';

mat-card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto minmax(200px, 1fr);
}

// mat-card.contact-control.mat-card
//app-root
//  div.hjmtj-wrapper
//    div.content-container
//      app-profile
//        main.profile
//          contact-component.contact
//            mat-card.contact-control.mat-card
//              article.content form
//              article.content -----------------------------------------------------
//                form
//                  ul
//                    li.open-close-container.disabled
//                      button.mat-stroked-button
//                        span.mat-button-wrapper mat-icon.mat-icon
//                      mat-form-field.mat-form-field .mat-form-field-type-mat-input
//                        div.mat-form-field-wrapper
//                          div.mat-form-field-flex
//                            div.mat-form-field-suffix
//                              mat-icon.mat-icon .clean .mat-icon

article.contact-content {

	&, ul, form {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	ul {
		grid-template-rows: auto auto 1fr;

		> li {
			display: grid;
			justify-content: space-between;
			grid-template-columns: 1fr 1fr;
			transition: all 1s;
			gap: 1rem;

			&:last-of-type {

				align-items: end;

				button {
					padding: 0.3rem 1rem;
					transition: all 200ms;
				}

				button[data-input-type="email-toggle"] {
					background-color: rgba(255, 255, 255, 10%);
				}

				button[data-input-type="email-submit"] {
					&.disabled {
						background-color: rgba(255, 255, 255, 10%);
					}

					&.enabled {

					}
				}

				button.mat-stroked-button {
					span.mat-button-wrapper {
						&:after {

						}

						mat-icon.mat-icon {

							&::after {

							}
						}
					}
				}
			}

			mat-form-field {
				flex: 1 0 auto;

				& .mat-form-field-suffix::after {

				}

				input {
					line-height: 1.5rem;
				}

				mat-label {
					font-size: 1rem;
					line-height: 1rem;
					position: relative;
					padding-right: 1.5rem;

					&[data-input-type]::after {
						//font-family: "Material Icons";
						//position: absolute;
						//right: 0;
						//line-height: 1.1rem;
						//font-size: 1.1rem;
					}

					&[data-input-type="phone"]::after {
						//content: 'ring_volume'
					}

					&[data-input-type="mobile"]::after {
						//content: 'phonelink_ring'
					}

					&[data-input-type="email"]::after {
						//content: 'alternate_email'
					}

					&[data-input-type="email-repeat"] {
						mat-icon {
							&.clean {
								&::before {
									@extend .material-icons;
									content: '\ec0a'
								}
							}

							&.errors {
							}
						}

						//content: '\ec0a';
					}
				}
			}
		}
	}
}
