<div *ngIf="loaded">
	<div fxLayout="row" fxLayoutAlign="start center" class="header-container">
		<mat-toolbar color="primary">
			<div *ngIf="authorized" class="logotype-container link" routerLink="/start" (click)="setActiveMenuItem('')">
				<img class="logotype" src="assets/Inera-Logo.svg" alt="Inera-logotyp">
			</div>
			<div *ngIf="!authorized" class="logotype-container no-link">
				<img class="logotype" src="assets/Inera-Logo.svg" alt="Inera-logotyp">
			</div>
			<span *ngIf="authorized" class="header-title link" (click)="goHome()">Hjälpmedelstjänsten</span>
			<span *ngIf="!authorized" class="header-title no-link">Hjälpmedelstjänsten</span>
			<span class="header-spacer"></span>
			<div *ngIf="isLoggedIn | async" fxLayout="row" fxLayoutAlign="start center">
				<div fxShow="true" fxHide.lt-lg="true">

					<button mat-button routerLink="/search"
									(click)="setActiveMenuItem('search')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'search'}">SÖK
					</button>
					<button *ngIf="hasPermissionToCreateProducts" mat-button routerLink="/importstatus"
									(click)="setActiveMenuItem('importstatus')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'importstatus'}">INLÄSNINGAR
					</button>
					<button *ngIf="hasPermissionToCreateProducts" mat-button routerLink="/{{productsLink}}"
									(click)="setActiveMenuItem('products')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'products'}">PRODUKTER OCH
						ARTIKLAR
					</button>
					<button *ngIf="hasPermissionToViewGeneralPricelist && generalPricelistLink" mat-button
									routerLink="/{{generalPricelistLink}}" (click)="setActiveMenuItem('generalPricelist')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'generalPricelist'}">GENERELL
						PRISLISTA
					</button>
					<button *ngIf="hasPermissionToViewAllGeneralPricelists" mat-button
									routerLink="/generalpricelist" (click)="setActiveMenuItem('generalPricelist')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'generalPricelist'}">GENERELL
						PRISLISTA
					</button>
					<button *ngIf="hasPermissionToViewAgreements" mat-button routerLink="/{{agreementsLink}}"
									(click)="setActiveMenuItem('agreement')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'agreement'}">INKÖPSAVTAL
					</button>
					<button *ngIf="hasPermissionToViewAssortments" mat-button routerLink="/{{assortmentsLink}}"
									(click)="setActiveMenuItem('assortment')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'assortment'}">UTBUD
					</button>
					<button *ngIf="hasPermissionToViewOrganizations" mat-button routerLink="/organization"
									(click)="setActiveMenuItem('organization')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'organization'}">ORGANISATION
					</button>
					<button *ngIf="hasPermissionToViewAdministration" mat-button routerLink="/administration"
									(click)="setActiveMenuItem('administration')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'administration'}">ADMINISTRATION
					</button>
					<button *ngIf="hasPermissionToViewAdministration" mat-button routerLink="/categoryadmin"
									(click)="setActiveMenuItem('KATEGORIER')"
									[ngClass]="{'active-menu-item': activeMenuItem === 'KATEGORIER'}">KATEGORIER
					</button>
				</div>
				<div fxShow="false" fxShow.lt-lg="true">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>menu</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item routerLink="/search">
							<span>SÖK</span>
						</button>
						<button *ngIf="hasPermissionToCreateProducts" mat-menu-item routerLink="/importstatus">
							<span>INLÄSNINGAR</span>
						</button>
						<button *ngIf="hasPermissionToCreateProducts" mat-menu-item routerLink="/{{productsLink}}">
							<span>PRODUKTER OCH ARTIKLAR</span>
						</button>
						<button *ngIf="hasPermissionToViewGeneralPricelist" mat-menu-item
										routerLink="/{{generalPricelistLink}}">
							<span>GENERELL PRISLISTA</span>
						</button>
						<button *ngIf="hasPermissionToViewAllGeneralPricelists" mat-menu-item
										routerLink="/generalpricelist">
							<span>GENERELL PRISLISTA</span>
						</button>
						<button *ngIf="hasPermissionToViewAgreements" mat-menu-item routerLink="/{{agreementsLink}}">
							<span>INKÖPSAVTAL</span>
						</button>
						<button *ngIf="hasPermissionToViewAssortments" mat-menu-item routerLink="{{assortmentsLink}}">
							<span>UTBUD</span>
						</button>
						<button *ngIf="hasPermissionToViewOrganizations" mat-menu-item routerLink="/organization">
							<span>ORGANISATION</span>
						</button>
						<button *ngIf="hasPermissionToViewAdministration" mat-menu-item routerLink="/administration">
							<span>ADMINISTRATION</span>
						</button>
						<button *ngIf="hasPermissionToViewAdministration" mat-menu-item routerLink="/categoryadmin">
							<span>KATEGORIER</span>
						</button>
					</mat-menu>
				</div>
				<button mat-icon-button [matMenuTriggerFor]="profile">
					<mat-icon>person</mat-icon>
				</button>
				<mat-menu #profile="matMenu">
					<button *ngIf="hasPermissionToUpdateUserContact" mat-menu-item routerLink="/profile"
									(click)="setActiveMenuItem('')">
						<span>MIN PROFIL</span>
					</button>
					<button *ngIf="hasPermissionToViewExportsettings" mat-menu-item routerLink="/{{exportfileLink}}"
									(click)="setActiveMenuItem('')">
						<span>EXPORTFIL</span>
					</button>
					<button *ngIf="hasPermissionToCreateExportSettings" mat-menu-item routerLink="/exportsettings"
									(click)="setActiveMenuItem('')">
						<span>EXPORTINSTÄLLNINGAR</span>
					</button>
					<a href="https://inera.atlassian.net/wiki/download/attachments/328467945/handbok-hjalpmedelstjansten.pdf"
						 target="_blank" title="Ladda ner handboken" mat-menu-item>HJÄLP</a>
					<button mat-menu-item (click)="logout()">
						<span>LOGGA UT</span>
					</button>
				</mat-menu>
			</div>
		</mat-toolbar>

	</div>
</div>
