.header-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100% !important;
	//min-width: 640px;

	.mat-icon {
		height: 28px;
	}

	.mat-mdc-button{
		font-weight: 700;
	}
}

.logotype-container {
	background-color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 80px;
	height: 64px;
	margin-left: -16px;
}

.logotype {
	width: 60px;
	height: auto;
	padding-bottom: 5px;
}

.header-title {
	margin-left: 15px;
	font-weight: 700;
}

.header-spacer {
	flex: 1 1 auto;
}

.mat-button {
	font-weight: 700;
}

.active-menu-item {
	border-bottom: 8px solid;
}

.link {
	cursor: pointer;
}

.no-link {
	cursor: default;
}
