<div class="page-wrapper">
	<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
	<div *ngIf="loaded && helpTextsLoaded">
		<div fxLayout="row" class="navigation-header">
			<div fxFlex="95%">
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
					<h1>Inköpsavtal</h1>
					<mat-icon class="tooltip"
										matTooltip="{{helpTexts.values.AGREEMENT_INFO}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
			</div>
			<div fxFlex="3%">
				<button data-cy="menu" mat-icon-button [matMenuTriggerFor]="menu">
					<div class="menu-container">
						<mat-icon>more_vert</mat-icon>
						<span class="menu-label">MENY</span>
					</div>
				</button>
				<mat-menu #menu="matMenu">
					<button data-cy="exportagreements-btn" mat-menu-item (click)="exportAgreements()">
						<mat-icon color="primary">save_alt</mat-icon>
						<span>Exportera till Excel</span>
					</button>
					<button data-cy="handleagreem-contact-btn" mat-menu-item *ngIf="isCustomer && hasPermissionToCreateAgreement"
									(click)="handleAgreementsContact()">
						<span>Uppdatera Godkänner prislista</span>
					</button>
				</mat-menu>
			</div>
		</div>

		<div fxLayout="row" fxLayoutGap="20px" class="content">
			<div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
				<div class="container mat-elevation-z1">
					<mat-form-field>
						<input data-cy="searchagreements-input" autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery"
									 (ngModelChange)="onQueryChanged($event)">
						<mat-label>Sök på avtalsnamn, avtalsnummer eller avtalspart</mat-label>
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
				</div>
				<div fxLayout="row" fxLayoutGap="10px">
					<div fxFlex="50%" class="border-component">
						<div class="component first-component">
							<mat-checkbox data-cy="filterfutureagreements-checkbox" [(ngModel)]="filterFuture"
														(change)="changeFilter('FUTURE')">Framtida
							</mat-checkbox>
						</div>
						<div class="component">
							<mat-checkbox data-cy="filtercurrentagreement-checkbox" [(ngModel)]="filterCurrent"
														(change)="changeFilter('CURRENT')">Aktuellt
							</mat-checkbox>
						</div>
						<div class="component last-component">
							<mat-checkbox data-cy="filterdiscontinuedagreements-checkbox" [(ngModel)]="filterDiscontinued"
														(change)="changeFilter('DISCONTINUED')">Utgånget
							</mat-checkbox>
						</div>
					</div>
					<div *ngIf="isCustomer" fxFlex="50%" class="border-component">
						<mat-radio-group [(ngModel)]="include" (change)="onFilterChange()">
							<div class="component first-component">
								<mat-radio-button data-cy="myagreements-radiobutton" value="MINE">Mina avtal (jag är kontaktperson)
									<mat-icon class="tooltip"
														matTooltip="{{helpTexts.values.AGREEMENT_FILTER_MY_AGREEMENTS}}"
														[matTooltipShowDelay]="500">info_outline
									</mat-icon>
								</mat-radio-button>
							</div>
							<div class="component">
								<mat-radio-button data-cy="allagreements-radiobutton" value="ALL">Alla avtal</mat-radio-button>
							</div>
						</mat-radio-group>

					</div>
				</div>
			</div>
			<div *ngIf="hasPermissionToCreateAgreement" fxFlex="20%">
				<button data-cy="createagreement-btn" mat-raised-button color="primary" routerLink="handle">SKAPA NYTT
					INKÖPSAVTAL
				</button>
			</div>
		</div>

		<div fxLayout="row" class="content">
			<div fxFlex="80%">
				<div fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="agreements.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="agreements.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
				</div>
				<button data-cy="removesearchhistory-btn" mat-button
								style="background-color: #118582; color: white; margin-top:10px;"
								(click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik
				</button>
			</div>
		</div>


		<div fxLayout="row" class="content">
			<div fxFlex="100%">
				<div *ngIf="loading">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>
				<div *ngIf="agreements.length && !loading" class="container mat-elevation-z1 table-md">

					<mat-table #table [dataSource]="dataSource">

						<ng-container matColumnDef="avtalsnummer">
							<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnummer</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.agreementNumber}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="avtalsnamn">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"> Avtalsnamn</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.agreementName}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="godkänner pris">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"> Godkänner pris</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="15%">
								<div fxLayout="column">
									<div *ngFor="let approver of element.customerPricelistApprovers">{{approver.firstName}}
										{{approver.lastName}}
									</div>
								</div>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="leverantör">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"> Leverantör</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.supplierOrganization.organizationName}}
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="kund">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"> Kund</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="15%"> {{element.customerOrganization.organizationName}}<span
								*ngIf="element.customerBusinessLevel"> - {{element.customerBusinessLevel.name}}</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="giltigt från">
							<mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt från</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="giltigt till">
							<mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt till</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status Inköpsavtal</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatAgreementStatus}}</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

						<a *matRowDef="let row; columns: displayedColumns;" [routerLink]="hasPermissionToViewAgreement ? ['/organization', organizationId, 'agreement', row.id, 'handle'] : null" (click)="handleRowClick($event)" [queryParams]="{search: 'true'}" [title]="row.name" ngClass="mat-mdc-row mdc-data-table__row cdk-row">
							<mat-row></mat-row>
						</a>
					</mat-table>
					<app-pagination [searchTotal]="searchTotal" [offset]="offset" [currentPage]="currentPage" [pages]="allPages" [goToPage]="goToPage.bind(this)" [totalPages]="totalPages"></app-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
