
.container {
	padding: 20px;
}

.table-label {
	margin-left: 20px;
}

.organization-group-title {
	padding-left: 10px;
	padding-top: 10px;
}

.organization-group-container {
	width: 50%;
	min-width: 225px;
}

.validity-dates {
	padding-left: 20px;
	width: 50%;

	.mat-form-field {
		width: 95%;
	}
}

.user-component {
	padding: 0 10px;
}

.mat-row, .mat-header-row {
	position: relative;
}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
	opacity: .1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// The anchor should stretch to fill the cell.
.row-link {
	display: block;
	height: 100%;
	width: 100%;
}

// Additional UX affordance so users know they can interact with the row.
.row-link:hover {
	background: #CCC;
}

.business-level-lable {
	font-size: 0.8em;
	color: gray;
}

.inactive-level {
	color: gray;
}

.active-level {
	color: black;
}

// Rows should be highlighted and have pointer cursor when you hover on it
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:focus .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}
