<div class="page-wrapper">
	<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
	<div *ngIf="loaded && helpTextsLoaded">
		<div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
			<div fxFlex="95%">
				<h1 *ngIf="organizationId">{{organization.organizationName}}</h1>
				<h1 *ngIf="!organizationId">Ny organisation</h1>
			</div>
			<div
				*ngIf="organizationId && !editMode && showSaveBar && (hasPermissionToUpdateOrganization || hasPermissionToUpdateContact)"
				fxFlex="2%" fxLayoutAlign="center">
				<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
			</div>
			<div *ngIf="organizationId && !editMode && showSaveBar && hasPermissionToDeleteOrganization" fxFlex="3%">
				<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
					<div class="menu-container">
						<mat-icon>more_vert</mat-icon>
						<span class="menu-label">MENY</span>
					</div>
				</button>
				<mat-menu #menu="matMenu">
					<button data-cy="delete-btn" mat-menu-item (click)="deleteOrganization()">
						<mat-icon>delete</mat-icon>
						<span>Ta bort</span>
					</button>
				</mat-menu>
			</div>
			<div *ngIf="tabName == 'Användare' && !editMode && isServiceOwner" fxLayoutAlign="start center" fxFlex="3%">
				<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
					<div class="menu-container">
						<mat-icon>more_vert</mat-icon>
						<span class="menu-label">
							<div class="menu-container">MENY
								<mat-icon matSuffix *ngIf="helpTextsLoaded"
													class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_MENU}}"
													[matTooltipShowDelay]="500">info_outline</mat-icon>
							</div>
						</span>
					</div>
				</button>
				<mat-menu #menu="matMenu" class="wide-mat-menu">
					<button data-cy="exportresult-btn" mat-menu-item (click)="exportSearchResults()">
						<mat-icon color="primary">save_alt</mat-icon>
						<span>Exportera sökresultat till Excel-fil</span>
					</button>
				</mat-menu>
			</div>
		</div>
		<div fxLayout="row" class="navigation">
			<span routerLink="/organization">Organisation</span><span> > </span><span class="navigation-last">Hantera organisation</span>
		</div>

		<mat-tab-group class="tab-group" [selectedIndex]="initialTab" (selectedTabChange)="onTabSelection($event)">
			<mat-tab label="Organisation">
				<div class="tab-content">
					<div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
						<div fxLayout="column" fxFlex="50%" class="column-content border-component">
							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>ORGANISATIONSUPPGIFTER</h2>
								<mat-icon class="tooltip"
													matTooltip="{{helpTexts.values.ORGANIZATION_DATA_HEADER}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
							<div fxLayout="row" class="organization-group-title">
								<span fxFlex="70%">Organisationsgrupp *</span>
								<div fxFlex="30%">
									<mat-checkbox [(ngModel)]="organization.active" disabled>Aktiv</mat-checkbox>
								</div>
							</div>

							<div class="organization-group-container">
								<mat-radio-group [(ngModel)]="organization.organizationType"
																 [disabled]="!editMode || !!organizationId || !hasPermissionToUpdateOrganization">
									<div fxLayout="row" fxLayoutGap="10px" class="component">
										<mat-radio-button data-cy="customer-checkbox" value="CUSTOMER">Kund</mat-radio-button>
										<div *ngIf="organization.organizationType === 'SERVICE_OWNER'">
											<mat-radio-button data-cy="serviceowner-checkbox" value="SERVICE_OWNER">Tjänsteägare
											</mat-radio-button>
										</div>
									</div>

									<div fxLayout="row" class="component">
										<mat-radio-button data-cy="supplier-checkbox" value="SUPPLIER">Leverantör</mat-radio-button>
									</div>
								</mat-radio-group>

							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgname-input" autocomplete="off" matInput required autofocus
												 [formControl]="nameFormControl">
									<mat-label>Organisationsnamn</mat-label>
									<mat-error data-cy="nameerror" *ngIf="nameError">{{nameError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input autocomplete="off" *ngIf="!editMode || organizationId || !hasPermissionToUpdateOrganization"
												 matInput required
												 disabled
												 [value]="organization.country.name">
									<mat-select data-cy="orgcountry-dropdown" *ngIf="!organizationId" required
															[(ngModel)]="organization.country">
										<mat-option *ngFor="let country of countries" [value]="country">
											{{ country.name }}
										</mat-option>
									</mat-select>
									<mat-label>Land</mat-label>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgnumber-input" autocomplete="off" matInput required
												 [formControl]="organizationNumberFormControl">
									<mat-label>Organisationsnummer</mat-label>
									<mat-error data-cy="numbererror" *ngIf="numberError">{{numberError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="gln-input" autocomplete="off" matInput required [formControl]="glnFormControl">
									<mat-label>GLN</mat-label>
									<mat-error data-cy="glnnumbererror" *ngIf="glnFormControl.hasError('pattern')">
										GLN måste anges med 13 siffror
									</mat-error>
									<mat-error data-cy="glnerror" *ngIf="glnError">{{glnError}}</mat-error>
								</mat-form-field>
							</div>

							<div *ngIf="organization.organizationType === 'CUSTOMER'" fxLayout="column" class="component">
								<div>
									<p class="business-level-lable">Verksamhetsområde
										<mat-icon class="tooltip" matTooltip="{{helpTexts.values.ORGANIZATION_BUSINESSLEVEL}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</p>
								</div>
								<div>
									<div *ngFor="let level of businessLevels">
										<span class="active-level" *ngIf="level.status === 'ACTIVE'">{{level.name}}</span>
										<span class="inactive-level" *ngIf="level.status === 'INACTIVE'">{{level.name}}</span>
									</div>
								</div>

								<div *ngIf="!isSupplier">
									<p class="region-lable">Region
										<mat-icon class="tooltip" matTooltip="{{helpTexts.values.ORGANIZATION_REGION}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</p>
								</div>
								<div>
									<div *ngFor="let county of counties" class="municipality-component">
										<mat-checkbox (click)="$event.stopPropagation()"
																	(change)="$event ? countySelection.toggle(county) : null"
																	[checked]="countySelection.isSelected(county)"
																	[disabled]="!editMode || !isSuperAdmin">
											{{county.name}}
										</mat-checkbox>
									</div>
								</div>
							</div>

							<div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
								<div fxFlex="50%">
									<mat-form-field floatLabel="always">
										<input data-cy="orgvalidfrom-picker" autocomplete="off" matInput readonly
													 [matDatepicker]="pickerFrom" required
													 [formControl]="validFromFormControl">
										<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
										<mat-datepicker #pickerFrom></mat-datepicker>
										<mat-label>Giltig from</mat-label>
										<mat-error data-cy="validfromerror" *ngIf="validFromError">{{validFromError}}</mat-error>
									</mat-form-field>
								</div>

								<div fxFlex="50%">
									<mat-form-field floatLabel="always">
										<input data-cy="orgvalidto-input" autocomplete="off" matInput readonly [matDatepicker]="pickerTo"
													 [formControl]="validToFormControl">
										<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
										<mat-datepicker #pickerTo></mat-datepicker>
										<mat-label>Giltig tom</mat-label>
										<mat-error data-cy="validtoerror" *ngIf="validToError">{{validToError}}</mat-error>
									</mat-form-field>
									<button data-cy="cleardate-btn"
													*ngIf="((validToFormControl.value != null && organization.active) || !organization.active ) && isSuperAdmin && editMode"
													(click)="resetValidTo()">
										Nollställ Giltig t.o.m.
									</button>
								</div>

							</div>

							<div class="component" style="border: 2px red solid; margin: 20px;"
									 *ngIf="validToFormControl.value != null && organization.active && isSuperAdmin && editMode">
								<h2>Inaktivering av organisation</h2>
								<!--h3>I nuläget går det ej att återaktivera en inaktiverad organisation, funktionalitet för detta kommer att utvecklas</h3-->
								<p>När organisationen inaktiveras kommer nedanstående inaktiveras det angivna datumet:</p>
								<ul>
									<li>Användare</li>
									<span *ngIf="organization.organizationType == 'SUPPLIER'">
                    <li>Produkter</li>
                    <li>Artiklar</li>
                    <li>Generell prislista</li>
                      </span>
									<li>Inköpsavtal</li>
								</ul>
								<h3 *ngIf="organization.organizationType == 'SUPPLIER'">
									När inaktiveringsdatum sparats skickas mail ut omedelbart till berörda kunder.</h3>
							</div>

							<div class="component" style="border: 2px red solid; margin: 20px;"
									 *ngIf="!organization.active && isSuperAdmin && editMode">
								<h2>Återaktivering av organisation</h2>
								<p>När organisationen återaktiveras kommer nedanstående fortfarande vara inaktiverade:</p>
								<ul>
									<li>Användare</li>
									<span *ngIf="organization.organizationType == 'SUPPLIER'">
                    <li>Produkter</li>
                    <li>Artiklar</li>
                    <li>Generell prislista</li>
                  </span>
									<li>Inköpsavtal</li>
								</ul>
							</div>

						</div>

						<div fxLayout="column" fxFlex="50%" class="column-content border-component">

							<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
								<h2>ADRESS- OCH KONTAKTUPPGIFTER</h2>
								<mat-icon class="tooltip"
													matTooltip="{{helpTexts.values.ORGANIZATION_CONTACT_INFO_HEADER}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>

							<div fxLayout="row" class="component first-component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgweb-input" [hidden]="!editMode" autocomplete="off" matInput
												 [formControl]="webFormControl">
									<a *ngIf="!editMode" href="{{webFormControl.value}}" title="{{webFormControl.value}}"
										 target="_blank">{{webFormControl.value}}</a>
									<mat-label class="icon-label">Webbplats
										<mat-icon class="tooltip"
															matTooltip="{{helpTexts.values.ORGANIZATION_URL}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
										<span *ngIf="isSupplier && organization.organizationType == 'SUPPLIER' && helpTextsLoaded">
                      <img src="../../assets/1177_2.png" matTooltip="{{helpTexts.values.ELVASJUTTIOSJU}}" [matTooltipShowDelay]="500">
                    </span>
									</mat-label>
									<mat-error data-cy="weberror" *ngIf="webError">{{webError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgmail-input" autocomplete="off" matInput [formControl]="emailFormControl">
									<mat-label>E-post</mat-label>
									<mat-error data-cy="emailerror" *ngIf="emailError">{{emailError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgphone-input" autocomplete="off" matInput
												 [(ngModel)]="organization.electronicAddress.telephone"
												 [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
									<mat-label>Telefon växel</mat-label>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgfax-input" autocomplete="off" matInput
												 [(ngModel)]="organization.electronicAddress.fax"
												 [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
									<mat-label>Faxnummer</mat-label>
								</mat-form-field>
							</div>

							<div fxLayout="row" fxLayoutAlign="start center" class="component">
								<h3>Postadress</h3>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgstreetadress-input" autocomplete="off" matInput
												 [(ngModel)]="visitAddress.streetAddress"
												 [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
									<mat-label>Gatuadress eller box</mat-label>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgpostnumber-input" autocomplete="off" matInput [formControl]="visitZipFormControl">
									<mat-label>Postnummer</mat-label>
									<mat-error data-cy="visitziperror" *ngIf="visitZipError">{{visitZipError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgcity-input" autocomplete="off" matInput [(ngModel)]="visitAddress.city"
												 [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
									<mat-label>Postort</mat-label>
								</mat-form-field>
							</div>

							<div fxLayout="row" fxLayoutAlign="start center" class="component">
								<h3>Leveransadress</h3>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgdeliverystreetadress-input" autocomplete="off" matInput
												 [(ngModel)]="deliveryAddress.streetAddress"
												 [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
									<mat-label>Gatuadress</mat-label>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgdeliverypostnumber-input" autocomplete="off" matInput
												 [formControl]="deliverZipFormControl">
									<mat-label>Postnummer</mat-label>
									<mat-error data-cy="deliverziperror" *ngIf="deliverZipError">{{deliverZipError}}</mat-error>
								</mat-form-field>
							</div>

							<div fxLayout="row" class="component">
								<mat-form-field floatLabel="always">
									<input data-cy="orgdeliverycity-input" autocomplete="off" matInput [(ngModel)]="deliveryAddress.city"
												 [disabled]=" !editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
									<mat-label>Postort</mat-label>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab
				*ngIf="organizationId && organization.organizationType === 'CUSTOMER' && (hasPermissionToCreateBusinessLevel || hasPermissionToInactivateBusinessLevel)"
				label="Verksamhetsområde"
				[disabled]="editMode">
				<div class="tab-content">
					<app-businesslevel></app-businesslevel>
				</div>
			</mat-tab>
			<mat-tab *ngIf="organizationId && hasPermissionToViewUser" label="Användare" [disabled]="editMode">
				<div *ngIf="!loaded" class="content">Laddar...</div>
				<div *ngIf="loaded">
					<div class="tab-content">
						<div fxLayout="column" class="content">
							<div fxLayout="row" class="user-component">
								<h2>ANVÄNDARE FÖR {{organization.organizationName}}</h2>
							</div>
							<div fxLayout="row" class="user-component">
								<div fxFlex="75%">
									<mat-form-field>
										<input data-cy="searchuserbyorg-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
													 (ngModelChange)="onQueryChanged($event)">
										<mat-label>Sök på namn, e-post eller användarId</mat-label>
										<mat-icon matSuffix>search</mat-icon>
										<mat-icon matSuffix class="tooltip"
															matTooltip="{{helpTexts.values.USER_SEARCH}}"
															[matTooltipShowDelay]="500">info_outline
										</mat-icon>
									</mat-form-field>
								</div>
								<div fxFlex="25%">
									<span fxFlex></span>
									<button data-cy="adduser-btn" *ngIf="hasPermissionToCreateUser || hasPermissionToCreateOwnUser"
													mat-raised-button
													color="primary"
													class="button-container" routerLink="/organization/{{organizationId}}/user/handle">LÄGG TILL
										ANVÄNDARE
									</button>
								</div>
							</div>

							<div fxLayout="row" class="user-component">
								<mat-checkbox data-cy="showinactiveusers-checkbox" [(ngModel)]="showInactiveUsers"
															(change)="onShowInactiveUsersChange()">Visa även inaktiva
									användare
								</mat-checkbox>
							</div>

							<div class="user-component">
                <span>Sökresultat
                  <span *ngIf="this.filteredUsers.length !== 1">"{{tmpQuery}}" ({{this.filteredUsers.length}}
										träffar)</span>
                  <span *ngIf="this.filteredUsers.length === 1">"{{tmpQuery}}" ({{this.filteredUsers.length}}
										träff)</span>

									<!--
									<span *ngIf="users.length !== 1">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
									<span *ngIf="users.length === 1">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
									-->
                </span>
							</div>

							<div *ngIf="filteredUsers.length" fxLayout="row" class="content">
								<div fxFlex="100%">
									<div class="container mat-elevation-z1 table-md">

										<mat-table #table [dataSource]="dataSource">

											<ng-container matColumnDef="namn">
												<mat-header-cell *matHeaderCellDef fxFlex="25%"> Namn</mat-header-cell>
												<mat-cell *matCellDef="let element"
																	fxFlex="25%"> {{element.firstName}} {{element.lastName}}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="användarnamn">
												<mat-header-cell *matHeaderCellDef fxFlex="20%"> Användarnamn</mat-header-cell>
												<mat-cell *matCellDef="let element" fxFlex="20%"> {{element.username}}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="titel">
												<mat-header-cell *matHeaderCellDef fxFlex="18%"> Titel</mat-header-cell>
												<mat-cell *matCellDef="let element" fxFlex="18%"> {{element.title}}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="e-post">
												<mat-header-cell *matHeaderCellDef fxFlex="25%"> E-post</mat-header-cell>
												<mat-cell *matCellDef="let element" fxFlex="25%"> {{element.electronicAddress.email}}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="status">
												<mat-header-cell *matHeaderCellDef fxFlex="7%"> Status Användare</mat-header-cell>
												<mat-cell *matCellDef="let element" fxFlex="7%"> {{element.active | formatOrganizationStatus}}
												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="delete">
												<mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
												<mat-cell *matCellDef="let element" fxFlex="5%">
													<mat-icon
														*ngIf="(adminUserIsServiceOwner || adminOrganizationId == organizationId) && element.id != userId"
														(click)="openConfirmationDialog(organizationId,element.id)" style="color:red">delete
													</mat-icon>
												</mat-cell>
											</ng-container>


											<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
											<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeTo(row)"
															 [title]="row.username" appMatRowKeyboardEvent (enterPressed)="routeTo(row)"
															 tabindex=0></mat-row>

										</mat-table>
										<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
											<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
											<div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
											</div>
											<span *ngIf="currentPage < totalPages" class="paginator-nav"
														(click)="goToPage(currentPage + 1)">></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>

		<div *ngIf="showSaveBar && editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
				 class="savebar-container">
			<div fxFlex="50%"></div>
			<div fxFlex="50%">
				<button data-cy="save-btn"
								*ngIf="!saving && editMode && (hasPermissionToUpdateOrganization || hasPermissionToUpdateContact)"
								mat-raised-button
								color="primary" (click)="saveOrganization()">SPARA
				</button>
				<a data-cy="cancel-btn" *ngIf="!saving && organizationId" mat-button (click)="cancel()">AVBRYT</a>
				<a data-cy="cancel-btn" *ngIf="!saving && !organizationId" mat-button (click)="goBack()">AVBRYT</a>
				<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
			</div>
		</div>

	</div>
</div>
