<div class="column-content" *ngIf="this.selectedFormType">
	<div fxLayout="row" fxLayoutAlign="center center">
		<mat-card>
			<form [formGroup]="categoryPropertyForm">
				<mat-form-field>
					<input data-cy="cspname-input" required autocomplete="off" matInput [formControl]="nameFormControl">
					<mat-label>Namn</mat-label>
				</mat-form-field>

				<mat-form-field>
          <textarea data-cy="cspdescription-input" required autocomplete="off" rows="5" matInput type="text"
										[formControl]="descriptionFormControl"></textarea>
					<mat-label>Beskrivning/hjälptext</mat-label>
				</mat-form-field>

				<mat-form-field
					*ngIf="this.selectedFormType == propertyType.VALUELIST_MULTIPLE ||this.selectedFormType == propertyType.VALUELIST_SINGLE">
					<input data-cy="cspproperttype-input" [(ngModel)]="propertyItemInput" required autocomplete="off" matInput
								 type="text" formControlName="items">
					<mat-label>Lägg till list-alternativ</mat-label>
					<button data-cy="add-btn" *ngIf="propertyItemInput" matSuffix mat-mini-fab aria-label="Clear"
									(click)="addItem()">
						<mat-icon>arrow_forward</mat-icon>
					</button>
				</mat-form-field>
				<!--    <mat-chip-list >
							<mat-chip *ngFor="let propertyItem of property.values">
								{{propertyItem.value}}
							</mat-chip>
						</mat-chip-list>-->

				<mat-chip-set
					*ngIf="this.selectedFormType == propertyType.VALUELIST_MULTIPLE ||this.selectedFormType == propertyType.VALUELIST_SINGLE">
					<div *ngFor="let item of this.propertyItems">
						<mat-chip>
							{{ item }}
							<button data-cy="deletefromlist-btn" mat-icon-button (click)="deleteFromList(item)">
								<mat-icon>clear</mat-icon>
							</button>
						</mat-chip>
					</div>
				</mat-chip-set>

				<mat-card-actions>
					<button data-cy="saveproperty-btn"
									*ngIf="descriptionFormControl.value && nameFormControl.value else extButton;"
									[disabled]="!descriptionFormControl.value || !nameFormControl.value" (click)="SaveProperty()"
									mat-button style="background-color: #118582;float:right;color: white;">Spara
					</button>
					<button data-cy="clear-btn" (click)="CleanForm()" mat-button style=";float:right;"><span>Rensa</span>
					</button>

					<ng-template #extButton>
						<button [disabled]="true" mat-button style="background-color: gray;float:right;color: white;">
							<span>Spara</span>
						</button>
					</ng-template>

				</mat-card-actions>

			</form>

		</mat-card>
	</div>
</div>


<!--*ngIf="this.selectedFormType == propertyType.TEXTFIELD"-->
