
.checkbox-cell {
	overflow: visible;
}

.container {
	padding: 20px;
}

.mat-dialog-actions {
	.mat-button {
		color: cornflowerblue;
	}
}

.mat-column-checkbox {
	overflow: initial;
}

// Rows should be highlighted and have pointer cursor when you hover on it
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	// cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:focus .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	// cursor: pointer;
}
