<mat-dialog-content>


	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<mat-hint *ngIf="categoryHasProductsOrArticles" style="color:red; margin-bottom: 10px">Det finns
				produkter/artiklar kopplade till denna kategori
			</mat-hint>
			<div class="container">
				<mat-form-field>
					<input data-cy="categorycode-input" autocomplete="off" required matInput [formControl]="codeFormControl"
								 [readonly]="categoryHasProductsOrArticles">
					<mat-label>Kod</mat-label>
					<mat-error data-cy="codeerror" *ngIf="codeError">{{codeError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div class="container">
				<mat-form-field>
          <textarea data-cy="categoryname-input" autocomplete="off" rows="2" matInput required
										[formControl]="nameFormControl"></textarea>
					<mat-label>Namn</mat-label>
					<mat-error data-cy="nameerror" *ngIf="nameError">{{nameError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

	<!--minlength="2" maxlength="2"-->

	<div *ngIf="level == 3" fxLayout="row" class="content">
		<div fxFlex="100%">
			<div class="container">
				<mat-form-field>
					<!--<input minlength="4" maxlength="4" autocomplete="off" matInput required [formControl]="articleTypeFormControl">-->


					<mat-select data-cy="articletypelvl3-dropdown" [formControl]="articleTypeFormControl">
						<mat-option *ngFor="let type of articleTypes" [value]="type.full">
							{{type.full}}
						</mat-option>
						<mat-option [value]="null">
						</mat-option>
					</mat-select>
					<mat-label>Artikeltyp</mat-label>
					<mat-error data-cy="arttypeerror" *ngIf="articleTypeError">{{articleTypeError}}</mat-error>
				</mat-form-field>
				<div>
					<mat-hint style="color:red">OBS! Ändring av artikeltyp innebär en omdefiniering av samtliga artiklar med denna
						ISO-kod
					</mat-hint>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="level == 4" fxLayout="row" class="content">
		<div fxFlex="100%">
			<div class="container">
				<mat-form-field>
					<!--<input minlength="4" maxlength="4" autocomplete="off" matInput required [formControl]="articleTypeFormControl">-->


					<mat-select data-cy="articletypelvl4-dropdown" [formControl]="articleTypeFormControl" required>
						<mat-option *ngFor="let type of articleTypes" [value]="type.full">
							{{type.full}}
						</mat-option>
						<mat-option [value]="null">
						</mat-option>
					</mat-select>

					<mat-label>Artikeltyp</mat-label>
					<mat-error data-cy="arttypeerror" *ngIf="articleTypeError">{{articleTypeError}}</mat-error>
				</mat-form-field>
				<div>
					<mat-hint style="color:red">OBS! Ändring av artikeltyp innebär en omdefiniering av samtliga artiklar med denna
						ISO-kod
					</mat-hint>
				</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div class="container">
				<mat-form-field>
          <textarea data-cy="categorydescription-input" autocomplete="off" rows="5" matInput
										[formControl]="descriptionFormControl"></textarea>
					<mat-label>Beskrivning</mat-label>
					<mat-error data-cy="descrerror" *ngIf="descriptionError">{{descriptionError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

</mat-dialog-content>


<mat-dialog-actions>


	<!-- <button mat-mini-fab *ngIf="this.categoryId && !saving" [mdePopoverTriggerFor]="appPopover"
					 mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger" mat-button style="background-color: #f44336; float:right; color: white; margin-bottom:5px;margin-right:5px;"><mat-icon>delete</mat-icon></button>-->
	<span fxFlex></span>
	<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>

	<button data-cy="saveupdate-btn" *ngIf="!saving && level==3 && !hasChildren && !articleTypeFormControl.value"
					mat-button (click)="saveOrUpdateEntity()" [disabled]="!codeFormControl.value || !nameFormControl.value">
		NÄSTA
	</button>
	<button data-cy="saveupdate2-btn" *ngIf="!saving && level==3 && !hasChildren && articleTypeFormControl.value"
					mat-button (click)="saveOrUpdateEntity()" [disabled]="!codeFormControl.value || !nameFormControl.value">
		SPARA
	</button>
	<button data-cy="saveupdate3-btn" *ngIf="!saving && level==3 && hasChildren" mat-button (click)="saveOrUpdateEntity()"
					[disabled]="!codeFormControl.value || !nameFormControl.value">
		SPARA
	</button>
	<button data-cy="saveupdate4-btn" *ngIf="!saving && level==4 else extButton;" mat-button
					(click)="saveOrUpdateEntity()"
					[disabled]="!codeFormControl.value || !nameFormControl.value || !articleTypeFormControl.value">
		SPARA
	</button>

	<ng-template #extButton>
		<button data-cy="next-save-btn" *ngIf="!saving" mat-button (click)="saveOrUpdateEntity()"
						[disabled]="!codeFormControl.value || !nameFormControl.value">
			<span *ngIf="level == 1 && this.categoryId == null  || level == 2 && this.categoryId == null">NÄSTA</span>
			<span
				*ngIf="level == 4 || level == 2 && this.categoryId != null ||  level == 1 && this.categoryId != null">SPARA</span>
		</button>
	</ng-template>

	<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>

	<!--  <button mat-raised-button color="primary"
						[mdePopoverTriggerFor]="appPopover"
						mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
			<mat-icon>delete</mat-icon>
		</button>-->

	<!--  <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
			<mat-card style="max-width: 300px;">
				<mat-card-content>
					Är du säker på att du vill radera denna kategori?

				</mat-card-content>
				<mat-card-actions>
					<button (click)="DeleteCategory()" mat-button mat-dialog-close color="primary" style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">JA</button>
					<button mat-button color="default" style=" margin-bottom:5px;margin-right:5px;">NEJ</button>
				</mat-card-actions>

			</mat-card>
		</mde-popover>-->

</mat-dialog-actions>





