
.content {
	margin-top: 20px;
}

.container {
	padding: 20px;
}

.component-title{
	.tooltip{
		padding-right: 10px;
	}
}

.wide-mat-menu {
	max-width: none !important;
}

.property-interval {
	.mat-form-field {
		max-width: 50%;
		margin-right: 15px;
	}
}

.icon-label {
	pointer-events: auto;
}

.mat-row, .mat-header-row {

	position: relative;
}

.mat-header-row {

	.mat-column-anchor {
		display: none;
	}

}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
	opacity: .1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// The anchor should stretch to fill the cell.
a {
	display: block;
	height: 100%;
	width: 100%;
}

// Additional UX affordance so users know they can interact with the row.
a:hover {
	background: #CCC;
}

// Rows should be highlighted and have pointer cursor when you hover on it
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:focus .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}
