<div class="page-wrapper">

	<div fxLayout="row" class="navigation-header">
		<div fxFlex="95%" fxLayout="row" fxLayoutAlign="start center">
			<h1 style="margin-right: 5px;">Sök</h1>
			<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
								matTooltip="{{helpTexts.values.SEARCH_HEADER}}"
								[matTooltipShowDelay]="500">info_outline
			</mat-icon>
		</div>
		<div fxLayoutAlign="start center" fxFlex="3%">
			<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">
						<div class="menu-container">MENY
							<mat-icon matSuffix *ngIf="helpTextsLoaded"
												class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_MENU}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</div>
					</span>
				</div>
			</button>
			<mat-menu #menu="matMenu" class="wide-mat-menu">
				<button data-cy="exportresult-btn" mat-menu-item (click)="exportSearchResults()">
					<mat-icon color="primary">save_alt</mat-icon>
					<span>Exportera sökresultat till Excel-fil</span>
				</button>
			</mat-menu>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div class="container mat-elevation-z1">
				<mat-form-field>
					<mat-label>Sök produkter och artiklar</mat-label>
					<input data-cy="search-input" autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-icon matSuffix>search</mat-icon>
					<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.SEARCH_SEARCH_FIELD}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="productsAndArticles.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="productsAndArticles.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>

            <mat-form-field>
            <mat-select data-cy="changeoffset-dropdown" placeholder="{{limit}}" name="changeOffset" [(value)]="limit">

              <mat-option (click)="changePreferredAmountOfArticlesPerPage(25)">25 </mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(50)">50</mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(100)">100</mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(200)">200</mat-option>

            </mat-select>
            </mat-form-field>

        </span>
			</div>
			<button data-cy="clearsearch-btn" mat-button style="background-color: #118582; color: white;"
							(click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik
			</button>
		</div>
	</div>

	<div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
		<div fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>PRODUKT/ARTIKEL</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_FILTER_PRODUCTS_AND_ARTICLES}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>


					<div fxLayout="row" class="component first-component">
						<mat-checkbox data-cy="filterproduct-checkbox" [(ngModel)]="filterProducts" (change)="onFilterChange()">
							Produkter
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component">
						<mat-checkbox data-cy="filterarticle-checkbox" [(ngModel)]="filterArticles" (change)="onFilterChange()">
							Artiklar
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component article-type-component">
						<mat-checkbox data-cy="filterH-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterH"
													(change)="onFilterChange()">Huvudhjälpmedel
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component article-type-component">
						<mat-checkbox data-cy="filterT-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterT"
													(change)="onFilterChange()">Tillbehör
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component article-type-component">
						<mat-checkbox data-cy="filterR-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterR"
													(change)="onFilterChange()">Reservdel
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component article-type-component">
						<mat-checkbox data-cy="filterTJ-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterTj"
													(change)="onFilterChange()">Tjänst
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component article-type-component last-component">
						<mat-checkbox data-cy="filterI-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterI"
													(change)="onFilterChange()">Inställning
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>STATUS FÖR PRODUKT/ARTIKEL</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_FILTER_STATUS}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-checkbox data-cy="filterpublished-checkbox" [(ngModel)]="filterPublished" (change)="onFilterChange()">
							Aktiv
						</mat-checkbox>
					</div>
					<div fxLayout="row" class="component last-component">
						<mat-checkbox data-cy="filterdiscontinued-checkbox" [(ngModel)]="filterDiscontinued"
													(change)="onFilterChange()">Utgått
						</mat-checkbox>
					</div>
				</mat-expansion-panel>
			</div>

			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">

					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>LEVERANTÖR</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_FILTER_SUPPLIER}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always" class="search">
							<mat-select data-cy="supplierfilter-dropdown" [(ngModel)]="selectedSupplier"
													(ngModelChange)="onSupplierChange()">
								<mat-option [value]="-1"></mat-option>
								<mat-option *ngFor="let supplier of suppliers" [value]="supplier.id+':'+supplier.organizationName">
									<!--                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">-->
									{{ supplier.organizationName }}

								</mat-option>
							</mat-select>

							<mat-label>Leverantör
							</mat-label>
						</mat-form-field>
					</div>

				</mat-expansion-panel>
			</div>


			<div fxLayout="column" class="column-content border-component">
				<mat-expansion-panel [expanded]="true" class="expansion-content">
					<mat-expansion-panel-header class="component-title">
						<mat-panel-title>
							<div fxLayout="row" fxLayoutAlign="start center">
								<h2>KATEGORISPECIFIKA EGENSKAPER</h2>
								<mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
													matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</div>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always">
							<input data-cy="category-input" autocomplete="off" type="text" matInput readonly
										 [formControl]="categoryFormControl"
										 (click)="openCategoryDialog()">
							<button data-cy="clearcategory-btn" *ngIf="categoryFormControl.value" matSuffix mat-icon-button
											aria-label="Clear"
											(click)="clearCategory()">
								<mat-icon>close</mat-icon>
							</button>
							<mat-label>Kategori</mat-label>
							<mat-error data-cy="caterror" *ngIf="categoryError">{{categoryError}}</mat-error>
						</mat-form-field>
					</div>

					<div *ngIf="categoryProperties && categoryProperties.length" fxLayout="column">

						<div *ngFor="let property of categoryProperties; let first = first; let last = last"
								 fxLayout="column" class="component" [ngClass]="{'first-component': first, 'last-component' : last}">

							<mat-form-field *ngIf="property.type === 'TEXTFIELD'" floatLabel="always">
								<input data-cy="csptext-input" autocomplete="off" matInput type="text" [(ngModel)]="property.textValue"
											 (ngModelChange)="onCategoryPropertyChange()">
								<mat-label class="icon-label">{{property.name}}
									<mat-icon *ngIf="property.description" class="tooltip"
														matTooltip="{{property.description}}">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>

							<div *ngIf="property.type === 'DECIMAL'">
								<div class="property-interval" fxLayout="row">
									<mat-form-field fxLayoutGap="15px" floatLabel="always">
										<input data-cy="cspdecimalfrom-input" autocomplete="off" matInput type="number"
													 [(ngModel)]="property.decimalFromValue"
													 (ngModelChange)="onCategoryPropertyChange()" placeholder="Från">
										<mat-label class="icon-label">{{property.name}}
											<mat-icon *ngIf="property.description" class="tooltip"
																matTooltip="{{property.description}}">info_outline
											</mat-icon>
										</mat-label>
									</mat-form-field>
									<mat-form-field>
										<input data-cy="cspdecimalto-input" autocomplete="off" matInput type="number"
													 [(ngModel)]="property.decimalToValue"
													 (ngModelChange)="onCategoryPropertyChange()">
										<mat-label class="category-specific-placeholder">Till</mat-label>
									</mat-form-field>
								</div>
							</div>

							<div *ngIf="property.type === 'INTERVAL'">
								<div class="property-interval" fxLayout="row">
									<mat-form-field fxLayoutGap="15px" floatLabel="always">
										<input data-cy="cspintervalfrom-input" autocomplete="off" matInput type="number"
													 [(ngModel)]="property.intervalFromValue"
													 (ngModelChange)="onCategoryPropertyChange()" placeholder="Från">
										<mat-label class="icon-label">{{property.name}}
											<mat-icon *ngIf="property.description" class="tooltip"
																matTooltip="{{property.description}}">info_outline
											</mat-icon>
										</mat-label>
									</mat-form-field>
									<mat-form-field>
										<input data-cy="cspintervalto-input" autocomplete="off" matInput type="number"
													 [(ngModel)]="property.intervalToValue"
													 (ngModelChange)="onCategoryPropertyChange()">
										<mat-label class="category-specific-placeholder">Till</mat-label>
									</mat-form-field>
								</div>
							</div>

							<mat-form-field *ngIf="property.type === 'VALUELIST_SINGLE'" floatLabel="always">
								<mat-select data-cy="cspsinglelist-input" [(ngModel)]="property.singleListValue"
														(selectionChange)="onCategoryPropertyChange()">
									<mat-option *ngFor="let value of property.values" [value]="value.id">
										{{ value.value }}
									</mat-option>
								</mat-select>
								<mat-label class="icon-label">{{property.name}}
									<mat-icon *ngIf="property.description" class="tooltip"
														matTooltip="{{property.description}}">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
							<mat-form-field *ngIf="property.type === 'VALUELIST_MULTIPLE'" floatLabel="always">
								<mat-select data-cy="cspmultiplelist-input" [(ngModel)]="property.multipleListValue"
														(selectionChange)="onCategoryPropertyChange()" multiple>
									<mat-option *ngFor="let value of property.values" [value]="value.id">
										{{ value.value }}
									</mat-option>
								</mat-select>
								<mat-label class="icon-label">{{property.name}}
									<mat-icon *ngIf="property.description" class="tooltip"
														matTooltip="{{property.description}}">info_outline
									</mat-icon>
								</mat-label>
							</mat-form-field>
						</div>
					</div>
				</mat-expansion-panel>
			</div>
		</div>

		<div *ngIf="loading">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
		</div>
		<div *ngIf="productsAndArticles.length && !loading" fxFlex="100%" class="container mat-elevation-z1 table-md">
			<app-product-table [dataSource]="dataSource" matSort matSortDirection="{{sortOrder}}" matSortActive="{{sortType}}"
									(matSortChange)="sortData($any($event))">
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<a *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/organization', row.organizationId, row.type.toLowerCase(), row.id, 'handle']" [queryParams]="{search: 'true'}" [title]="row.name" ngClass="mat-mdc-row mdc-data-table__row cdk-row">
					<mat-row ></mat-row>
				</a>
			</app-product-table>
			<app-pagination [searchTotal]="searchTotal" [offset]="offset" [currentPage]="currentPage" [pages]="allPages" [goToPage]="goToPage.bind(this)" [totalPages]="totalPages"></app-pagination>
		</div>
	</div>
</div>
