<div class="page-wrapper">

	<div fxLayout="row" class="navigation-header" fxLayoutGap="20px">
		<div fxFlex="95%">
			<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
				<h1>Inläsningar</h1>
				<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
									matTooltip="Inläsningar visar status på de senaste importerna."
									[matTooltipClass]="{'long-tooltip': true}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</div>
		</div>
	</div>
	<div *ngIf="loading">
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</div>
	<div fxLayoutGap="30px" fxLayout="row" fxLayoutAlign="start center" class="content pt-2">
		<div fxLayoutGap="30px" fxFlex="75%" class="container mat-elevation-z1 table-md mt-10 importTable-style"
				 *ngIf="[dataSource].length>0">
			<div>Senaste inläsningar ({{searchTotal}} träffar)</div>
			<mat-table #table [dataSource]="dataSource" class="importTableRow-style">
				<ng-container matColumnDef="filnamn" class="importTableRow-style">
					<mat-header-cell *matHeaderCellDef fxFlex="50%" class="importTableRow-style">Filnamn</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="50%" class="importTableRow-style"><span
						class="importTableRow-style"> {{element.fileName}}</span></mat-cell>
				</ng-container>
				<ng-container matColumnDef="importerad" class="importTableRow-style">
					<mat-header-cell *matHeaderCellDef fxFlex="20%" class="importTableRow-style">Importerad</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="20%" class="importTableRow-style"><span
						class="importTableRow-style">{{element.importStartDate}}</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="inläst" class="importTableRow-style">
					<mat-header-cell *matHeaderCellDef fxFlex="20%" class="importTableRow-style">Inläst</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="20%" class="importTableRow-style"><span
						*ngIf="element.importEndDate!=null" class="importTableRow-style">{{element.importEndDate}}</span><span
						*ngIf="element.importEndDate==null" class="importTableRow-style">-</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="status" class="importTableRow-style">
					<mat-header-cell *matHeaderCellDef fxFlex="10%" class="importTableRow-style">Status</mat-header-cell>
					<mat-cell *matCellDef="let element" fxFlex="10%" class="importTableRow-style"><span
						*ngIf="element.readStatus === 0" class="importTableRow-style"><mat-progress-spinner mode="indeterminate"
																																																[diameter]="20"
																																																matTooltip="Inläsning pågår"
																																																class="importTableRow-style"></mat-progress-spinner></span>
						<span
							*ngIf="element.readStatus === 1" class="importTableRow-style"> <mat-icon
							class="material-icons color green" matTooltip="Lyckad inläsning"
							class="importTableRow-style">check</mat-icon></span><span data-cy="failerror"
																																				*ngIf="element.readStatus === 2"
																																				class="importTableRow-style"><mat-icon
							class="material-icons color red"
							matTooltip="Misslyckad inläsning, se e-mail för mer information">error</mat-icon></span></mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" class="importTableRow-style" [title]="row.fileName"></mat-row>

			</mat-table>
		</div>
	</div>

</div>

