
.mat-radio-button {
	display: inline-flex;
	margin-right: 20px;
}

.no-replacement {
	margin-top: 10px;
}

p {
	font-weight: bold;
}

.replaced-products {
	width: 40%
}

.mat-row {
	pointer-events: none;
}
