<section class="content border-component" fxLayout="column" fxLayoutGap="10px">
	<div class="component-title" style="padding: 10px;">
		<h2>{{title}}</h2>
	</div>

	<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 20px;">

		<ng-container matColumnDef="datum">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Datum</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.sendReminderOn | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="avtalsnamn">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Avtalsnamn</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.agreementName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="avtalsnummer">
			<mat-header-cell *matHeaderCellDef fxFlex="15%"> Avtalsnummer</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.agreementNumber}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="leverantörellerkundOrganisation">
			<mat-header-cell *matHeaderCellDef
											 fxFlex="15%">{{userRole == "SupplierAgreementManager" ? "Kund" : "Leverantör" }}</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%">{{item.organizationName}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="verksamhetsnivå">
			<mat-header-cell *matHeaderCellDef fxFlex="15%">Verksamhetsområde</mat-header-cell>
			<mat-cell *matCellDef="let item" fxFlex="15%"> {{item.businessLevelName}}
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeTo(row)" [title]="row.agreementName"
						 appMatRowKeyboardEvent (enterPressed)="routeTo(row)" tabindex=0></mat-row>

	</mat-table>

</section>
