<div fxLayout="row" class="component first-component">
	<h1>Skapa ny exportinställning</h1>
</div>
<mat-dialog-content>
	<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
	<div *ngIf="!loading">
		<div fxLayout="row" class="component first-component">
			<mat-checkbox data-cy="active-checkbox" [(ngModel)]="enabled">Aktiv</mat-checkbox>
		</div>
		<div fxLayout="row" class="component">
			<mat-form-field>
				<input data-cy="exportfilename-input" autocomplete="off" matInput type="text" required [(ngModel)]="filename"
							 [disabled]="data">
				<mat-label>Filnamn</mat-label>
			</mat-form-field>
		</div>

		<div fxLayout="row" class="component">
			<mat-form-field>
				<mat-select data-cy="selectcustomer-dropdown" required
										[(ngModel)]="selectedCustomer"
										(selectionChange)="onCustomerSelected()"
										[disabled]="data">
					<mat-option *ngFor="let customer of customers" [value]="customer">
						{{ customer.organizationName }}
					</mat-option>
				</mat-select>
				<mat-label>Välj kund</mat-label>
			</mat-form-field>
		</div>

		<mat-form-field *ngIf="selectedCustomer && businessLevels">
			<mat-select data-cy="selectedbusinesslevel-dropdown" [(ngModel)]="selectedBusinessLevel"
									[disabled]="data">
				<mat-option [value]="undefined"></mat-option>
				<mat-option *ngFor="let level of businessLevels" [value]="level">
					{{level.name}}
				</mat-option>
			</mat-select>
			<mat-label>Verksamhetsområde</mat-label>
		</mat-form-field>
	</div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!loading">
	<button data-cy="save-btn" *ngIf="!saving && selectedCustomer && filename" mat-button
					(click)="done()">
		SPARA
	</button>
	<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
	<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
