
<div style="margin-bottom: 10px">Redigera menyträd för visning på 1177.
</div>
<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">

  <div fxLayout="column" fxFlex="25%"
       class="border-component">
    <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
      <h2>1177-NIVÅ 1</h2>
    </div>
    <div class="column-content">
      <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelOneCategories">
        <mat-card id="{{category.id}}" class="select" (click)="onCategorySelection(category, 1)"
                  [ngClass]="{'selected': category.id == selectedLevelOne}">
          <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.name}}</span>
          </mat-card-subtitle>
        </mat-card>

      </div>
<!--      <div fxLayout="row" fxLayoutAlign="center center" (click)="OpenCreateUpdateDialog(1)">-->
<!--        <mat-card fxLayout="row" class="select">-->
<!--          <mat-icon style="color: #118582;">add_circle</mat-icon> <span style="color: #757575;"> Lägg till kategori på nivå 1</span>-->
<!--        </mat-card>-->
<!--      </div>-->
      <br>


    </div>

  </div>







  <div *ngIf="selectedCategoryOne.id" fxLayout="column" fxFlex="25%"
       class="border-component">

    <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
      <h2>1177-NIVÅ 2</h2>
    </div>
    <div class="column-content">
      <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelTwoCategories">
        <mat-card class="select" (click)="onCategorySelection(category, 2)"
                  [ngClass]="{'selected': category.id === selectedLevelTwo}">
          <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.name}}</span>
          </mat-card-subtitle>
        </mat-card>
      </div>
<!--      <div fxLayout="row" fxLayoutAlign="center center" (click)="OpenCreateUpdateDialog(2)">-->
<!--        <mat-card fxLayout="row" class="select">-->
<!--          <mat-icon style="color: #118582;">add_circle</mat-icon> <span  style="color: #757575;">Lägg till kategori på nivå 2</span>-->
<!--        </mat-card>-->
<!--      </div>-->
    </div>
  </div>

  <div *ngIf="selectedCategoryTwo.id" fxLayout="column" fxFlex="50%"
       class="border-component">

    <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
      <h2>1177-NIVÅ 3</h2>
    </div>
    <div class="column-content">
      <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelThreeCategories">
        <mat-card fxLayout="row" class="select" (click)="onCategorySelection(category, 3)"
                  [ngClass]="{'selected': category.id === selectedLevelThree}">
          <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.name}}</span>
          </mat-card-subtitle>


        </mat-card>
      </div>


    </div>
  </div>

</div>

<br>
<div  fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">


  <div fxLayout="column" fxFlex="25%"
       class="border-component"
       style="border:0px">

    <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
      <h2 *ngIf="selectedCategoryOne.name; else levelonechoosed" style="width:100%">{{selectedCategoryOne.name}}</h2>
      <ng-template #levelonechoosed>
        <h2>Nivå 1 - Välj ovan eller lägg till nedan</h2>
      </ng-template>
    </div>
    <div class="column-content">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <form [formGroup]="lvl1categoryForm">

            <div>
              <mat-form-field style="width:100%">
                <textarea  data-cy="lvl1externalcategoryname-input" autofocus autocomplete="off" rows="2" readonly matInput [(ngModel)]="selectedCategoryOne.name"  formControlName="name"></textarea>
                <mat-label>1177-visningsnamn</mat-label>
              </mat-form-field>
            </div>

            <div style="width:100%">
              <mat-form-field style="width:100%">
                <textarea data-cy="lvl1externalcategorydescription-input"  autofocus autocomplete="off" rows="5" readonly matInput type="text" [(ngModel)]="selectedCategoryOne.description"  formControlName="description"></textarea>
                <mat-label>1177-beskrivning</mat-label>
              </mat-form-field>
            </div>

            <div>

            </div>

          </form>
          <button data-cy="btn1" mat-mini-fab *ngIf="selectedCategoryOne && !levelTwoCategories"
                  (click)="confirm(1)" style="background-color: #f44336; float:left; color: white; margin-bottom:5px; margin-right:5px;">
						<mat-icon>delete</mat-icon>
					</button>

          <button data-cy="btn2" (click)="OpenCreateUpdateDialog(1)" mat-button style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
                         <span *ngIf="selectedCategoryOne.name; else changeText1">Ändra
              </span>
          </button>

          <ng-template #changeText1>
            <span>Skapa ny 1177-kategori nivå 1</span>
          </ng-template>

          <mat-card-subtitle>
          </mat-card-subtitle>

        </mat-card>

      </div>

    </div>
  </div>

  <div *ngIf="selectedCategoryOne.name" fxLayout="column" fxFlex="25%"
       class="border-component" style="border:0px">

    <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
      <h2 *ngIf="selectedCategoryTwo.name, else leveltwochoosed">{{selectedCategoryTwo.name}}</h2>
      <ng-template #leveltwochoosed>
        <h2>Nivå 2 - Välj ovan eller lägg till nedan</h2>
      </ng-template>
    </div>
    <div class="column-content">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <form [formGroup]="lvl2categoryForm">

            <div>
              <mat-form-field style="width:100%">
                <textarea  data-cy="lvl2externalcategoryname-input" autofocus autocomplete="off" rows="2" readonly matInput [(ngModel)]="selectedCategoryTwo.name"  formControlName="name"></textarea>
                <mat-label>1177-visningsnamn</mat-label>
              </mat-form-field>
            </div>


            <div style="width:100%">
              <mat-form-field style="width:100%">
                <textarea  data-cy="lvl2externalcategorydescription-input" autofocus autocomplete="off" readonly rows="5" matInput type="text" [(ngModel)]="selectedCategoryTwo.description"  formControlName="description"></textarea>
                <mat-label>1177-beskrivning</mat-label>
              </mat-form-field>
            </div>

            <div>
            </div>

          </form>
          <button data-cy="btn3" mat-mini-fab *ngIf="selectedCategoryTwo && !levelThreeCategories"
                  (click)="confirm(2)" style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;">
						<mat-icon>delete</mat-icon>
					</button>
          <button data-cy="btn4" (click)="OpenCreateUpdateDialog(2)" mat-button style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
            <span *ngIf="selectedCategoryTwo.name; else changeText2">Ändra</span>
          </button>
          <mat-card-subtitle>

          </mat-card-subtitle>
          <ng-template #changeText2>
            <span>Skapa ny 1177-kategori nivå 2</span>
          </ng-template>
        </mat-card>
      </div>
    </div>
  </div>



  <div *ngIf="selectedCategoryTwo.name" fxLayout="column" fxFlex="50%"
       class="border-component" style="border:0px">

    <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
      <h2 *ngIf="selectedCategoryThree.name; else levelthreechoosed">{{selectedCategoryThree.name}} </h2>
      <ng-template #levelthreechoosed>
        <h2>Nivå 3 - Välj ovan eller koppla nedan</h2>
      </ng-template>
    </div>
    <div class="column-content">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <form *ngIf="selectedCategoryThree.name" [formGroup]="lvl3categoryForm">

            <div>
              <mat-form-field style="width:100%">
                <textarea  data-cy="lvl3externalcategoryname-input" autofocus autocomplete="off" rows="2" readonly matInput [(ngModel)]="selectedCategoryThree.name"  formControlName="name"></textarea>
                <mat-label>1177-visningsnamn</mat-label>
              </mat-form-field>
            </div>
            <div style="width:100%">
              <mat-form-field style="width:100%">
                <textarea  data-cy="lvl3externalcategorydescription-input" autofocus autocomplete="off" rows="5" readonly matInput type="text" [(ngModel)]="selectedCategoryThree.description"  formControlName="description"></textarea>
                <mat-label>1177-beskrivning</mat-label>
              </mat-form-field>
            </div>

<!--            <div *ngIf="this.isoCategoryLoaded == true" style="width:100%">-->
<!--              <div>ISO-kod: {{selectedIsoCategory.code}}</div>-->
<!--              <div>ISO-kategorinamn: {{selectedIsoCategory.name}}</div>-->
<!--              <div>ISO-kategoribeskrivning: {{selectedIsoCategory.description}}</div>-->
<!--            </div>-->

            <div>

            </div>

          </form>
          <button data-cy="btn5" mat-mini-fab *ngIf="selectedCategoryThree.id"
                  (click)="confirm(3)" style="background-color: #f44336; float:left; color: white; margin-bottom:5px;margin-right:5px;"><mat-icon>delete</mat-icon></button>
          <button data-cy="btn6" (click)="OpenCreateUpdateDialog(3)" mat-button style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;">
            <span *ngIf="selectedCategoryThree.id; else changeText3">Ändra/flytta
              </span>
          </button>
          <ng-template #changeText3>
            <span>Koppla ny kategori till {{selectedCategoryTwo.name}}</span>

          </ng-template>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>



</div>
<div>

  <button data-cy="btn9"  mat-button style="background-color: #e0e0e0;  color: black; margin-top:10px;" (click)="CleanUpForms()" >Rensa</button>

</div>
