<div class="page-wrapper">
	<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
	<div *ngIf="loaded && helpTextsLoaded">
		<div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
			<div fxFlex="95%">
				<h1 *ngIf="userId">{{user.firstName}} {{user.lastName}}</h1>
				<h1 *ngIf="!userId">Ny användare</h1>
			</div>
			<div
				*ngIf="userId && !editMode && (hasPermissionToUpdateUser || hasPermissionToUpdateOwnUser || hasPermissionToUpdateContact)"
				fxFlex="2%" fxLayoutAlign="center">
				<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
			</div>
		</div>

		<div fxLayout="row" class="navigation">
			<span routerLink="/organization">Organisation</span><span> > </span><span
			routerLink="/organization/{{organizationId}}/handle">Hantera organisation</span><span> > </span><span
			class="navigation-last">Hantera användare</span>
		</div>

		<div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
			<div fxLayout="column" fxFlex="50%" class="column-content border-component">

				<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
					<h2>Användaruppgifter</h2>
					<mat-icon class="tooltip"
										matTooltip="{{helpTexts.values.USER_DATA_HEADER}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
				<div fxLayout="row" class="component first-component">
					<mat-checkbox [(ngModel)]="user.active" disabled>Aktiv</mat-checkbox>
				</div>

				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input autocomplete="off" matInput type="text" disabled [(ngModel)]="organization.organizationName">
						<mat-label>Organisationstillhörighet</mat-label>
					</mat-form-field>
				</div>

				<div *ngIf="businessLevels && businessLevels.length" fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<mat-select data-cy="userbusinesslevel-dropdown" [(ngModel)]="selectedBusinessLevels" multiple
												[disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser)">
							<mat-option *ngFor="let level of businessLevels" [value]="level">
								{{ level.name }}
							</mat-option>
						</mat-select>
						<mat-label class="icon-label">Begränsad till verksamhetsområde
							<mat-icon class="tooltip"
												matTooltip="{{helpTexts.values.USER_BUSINESSLEVEL}}"
												[matTooltipShowDelay]="500">info_outline
							</mat-icon>
						</mat-label>
					</mat-form-field>
				</div>

				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="username-input" autocomplete="off" matInput type="text" required autofocus
									 [formControl]="userNameFormControl">
						<mat-label>Användarnamn</mat-label>
						<mat-error data-cy="usernameerror" *ngIf="usernameError">{{usernameError}}</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="firstname-input" autocomplete="off" matInput type="text" required
									 [formControl]="firstNameFormControl">
						<mat-label>Förnamn</mat-label>
						<mat-error data-cy="firstnameerror" *ngIf="firstNameError">{{firstNameError}}</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="lastname-input" autocomplete="off" matInput type="text" required
									 [formControl]="lastNameFormControl">
						<mat-label>Efternamn</mat-label>
						<mat-error data-cy="lastnameerror" *ngIf="lastNameError">{{lastNameError}}</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout="row" class="component">
					<mat-form-field floatLabel="always">
						<input data-cy="usertitle-input" autocomplete="off" matInput type="text" [(ngModel)]="user.title"
									 [disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser)">
						<mat-label>Titel</mat-label>
					</mat-form-field>
				</div>

				<div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
					<div fxFlex="50%">
						<mat-form-field floatLabel="always">
							<input data-cy="uservalidfrom-picker" autocomplete="off" matInput [matDatepicker]="pickerFrom" required
										 [formControl]="validFromFormControl">
							<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
							<mat-datepicker #pickerFrom></mat-datepicker>
							<mat-label>Giltig from</mat-label>
							<mat-error data-cy="validfromerror" *ngIf="validFromError">{{validFromError}}</mat-error>
						</mat-form-field>
					</div>

					<div fxFlex="50%">
						<mat-form-field floatLabel="always">
							<input data-cy="uservalidto-picker" autocomplete="off" matInput [matDatepicker]="pickerTo"
										 [formControl]="validToFormControl">
							<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
							<mat-datepicker #pickerTo></mat-datepicker>
							<mat-label class="icon-label">Giltig tom
								<mat-icon class="tooltip"
													matTooltip="{{helpTexts.values.USER_VALID_TO}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</mat-label>
							<mat-error data-cy="validtoerror" *ngIf="validToError">{{validToError}}</mat-error>
						</mat-form-field>
					</div>
				</div>

			</div>

			<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
				<div fxLayout="column" class="column-content border-component">
					<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
						<h2>Kontaktuppgifter</h2>
						<mat-icon class="tooltip"
											matTooltip="{{helpTexts.values.USER_CONTACT_INFO_HEADER}}"
											[matTooltipShowDelay]="500">info_outline
						</mat-icon>
					</div>

					<div fxLayout="row" class="component first-component">
						<mat-form-field floatLabel="always">
							<input data-cy="userphone-input" autocomplete="off" matInput
										 [(ngModel)]="user.electronicAddress.telephone"
										 [disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser && !hasPermissionToUpdateContact)">
							<mat-label>Telefonnummer</mat-label>
						</mat-form-field>
					</div>

					<div fxLayout="row" class="component">
						<mat-form-field floatLabel="always">
							<input data-cy="usermobile-input" autocomplete="off" matInput [(ngModel)]="user.electronicAddress.mobile"
										 [disabled]="!editMode ||(!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser && !hasPermissionToUpdateContact)">
							<mat-label>Mobilnummer</mat-label>
						</mat-form-field>
					</div>

					<div fxLayout="row" class="component">
						<mat-form-field floatLabel="always">
							<input data-cy="useremail-input" autocomplete="off" matInput required [formControl]="emailFormControl">
							<mat-label>E-post</mat-label>
							<mat-error data-cy="emailformcontrolerror"
												 *ngIf="emailFormControl.hasError('email') && user.electronicAddress.email">
								Ange en giltig e-postadress, tack
							</mat-error>
							<mat-error data-cy="mailerror" *ngIf="emailError">{{emailError}}</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="!userId" fxLayout="row" class="component last-component">
            <span>{{helpTexts.values.PROFILE_CONSENT_GIVEN}}
            </span>
					</div>
				</div>

				<div fxLayout="column" class="column-content border-component">
					<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
						<h2>Behörighet ({{organization.organizationType | formatOrganizationType}})</h2>
						<mat-icon class="tooltip"
											matTooltip="{{helpTexts.values.USER_PERMISSIONS}}"
											[matTooltipShowDelay]="500">info_outline
						</mat-icon>
					</div>

					<div *ngIf="isSuperAdmin && !userId" class="component first-component">
						<mat-form-field floatLabel="always">
							<mat-select data-cy="userlogintype-dropdown" [(ngModel)]="user.loginType"
													[disabled]="!editMode">
								<mat-option [value]="'PASSWORD'">
									Lösenord
								</mat-option>
								<mat-option [value]="'TOKEN'">
									Automatisk
								</mat-option>
							</mat-select>
							<mat-label>Inloggningssätt</mat-label>
						</mat-form-field>
					</div>

					<div fxLayout="column" class="component first-component last-component">
						<div *ngFor="let role of roles" fxLayout="row">
							<mat-checkbox data-cy="userroles-checkbox" (click)="$event.stopPropagation()"
														(change)="$event ? onSelectionChange($event, role) : null"
														[checked]="selection.isSelected(role)"
														[disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser) || ((role.name === 'Customeradmin' || role.name === 'Supplieradmin') && !isSuperAdmin)"
							>{{role.description}}
							</mat-checkbox>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="savebar-container">
			<div fxFlex="50%"></div>
			<div fxFlex="50%">
				<button data-cy="saveuser-btn"
								*ngIf="!saving && editMode && (hasPermissionToUpdateUser || hasPermissionToUpdateOwnUser || hasPermissionToUpdateContact)"
								mat-raised-button
								color="primary" (click)="saveUser()">
					SPARA
					<mat-icon
						class="tooltip"
						matTooltip="{{helpTexts.values.USER_SAVE}}"
						[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</button>
				<a data-cy="cancel-btn" *ngIf="!saving && userId" mat-button (click)="cancel()">AVBRYT</a>
				<a data-cy="goback-btn" *ngIf="!saving && !userId" mat-button (click)="goBack()">AVBRYT</a>
				<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
			</div>
		</div>
	</div>
</div>
