<div mat-dialog-content>
	{{this.message}}
</div>
<div mat-dialog-actions>
	<span fxFlex></span>
	<button data-cy="no-btn" mat-button (click)="onNoClick()" [mat-dialog-close]="true">NEJ</button>
	<button data-cy="yes-btn" mat-button
					style="background-color: #118582; float:right; color: white; margin-bottom:5px;margin-right:5px;"
					(click)="onYesClick()" [mat-dialog-close]="true" cdkFocusInitial>JA
	</button>
</div>


