$material-icons-font-path: "/assets/fonts/icons/";
// angular.json/webpack references and copies icons from node_modules, so we need to reference the compiled location
// to make it work outside of ng build.

/* Import more styles here.
@import 'material-icons.scss';
@import 'sharp.scss';
@import 'two-tone.scss';
*/
@import "outlined.scss";
@import "filled.scss";
@import "round.scss";

$material-icons-font-size: 1.5rem !default;
$material-icons-font-display: block !default;

$pt-sans-font-path: "/assets/fonts/pt-sans";
@import "/src/assets/fonts/pt-sans";
