
.container {
	padding: 20px;
}

.table-label {
	margin-left: 20px;
}

.disconnect-btn {
	margin-top: -0.50em;
	margin-bottom: -0.50em;
}

.product-link {
	cursor: pointer;
	color: cornflowerblue;
}

.mat-row, .mat-header-row {
	position: relative;
}

.mat-column-disconnect {
	z-index: 2;
}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
	opacity: .1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

// The anchor should stretch to fill the cell.
a {
	display: block;
	height: 100%;
	width: 90%;
}

// Additional UX affordance so users know they can interact with the row.
a:hover {
	background: #CCC;
}


// Rows should be highlighted and have pointer cursor when you hover on it
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:focus .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}
