<div *ngIf="!loaded" class="content">Laddar...</div>
<div *ngIf="loaded">
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<h4>Artikeln {{article.articleName}}
				<span *ngIf="article.basedOnProduct"> baseras på produkten <span *ngIf="redirectedFromSearch"
																																				 class="product-link"
																																				 routerLink="/organization/{{organizationId}}/product/{{article.basedOnProduct.id}}/handle"
																																				 [queryParams]="{search: true}"> {{article.basedOnProduct.productName}}</span>
          <span *ngIf="!redirectedFromSearch" class=" product-link"
								routerLink="/organization/{{organizationId}}/product/{{article.basedOnProduct.id}}/handle"> {{article.basedOnProduct.productName}}</span>
        och har följande kopplingar</span>
				<span *ngIf="article.category.articleType === 'T' && !article.category.code"> är tillbehör till </span>
				<span *ngIf="article.category.articleType === 'R'"> är reservdel till </span>
				<span *ngIf="article.category.articleType === 'I'"> är inställning för </span>
				<span *ngIf="article.category.articleType === 'Tj'"> är tjänst för </span>
			</h4>
		</div>
	</div>

	<div
		*ngIf="isOwnOrganization && article.category.articleType !== 'H' && !(article.category.articleType === 'T' && article.category.code) && article.status !== 'DISCONTINUED'"
		fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayoutAlign="end center">
				<button data-cy="connectmore-btn" mat-raised-button color="primary" (click)="openConnectionDialog()">
					KOPPLA FLER
				</button>
				<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
									matTooltip="{{helpTexts.values.ARTICLE_CONNECTION_INFO}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</div>
		</div>
	</div>

	<div *ngIf="articleId" fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container mat-elevation-z1">
				<mat-form-field>
					<input data-cy="searcharticleconnection-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-label>Sök artiklar</mat-label>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div *ngIf="articleId" fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="connections.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="connections.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" class="content">
		<div fxFlex="100%" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">

			<div *ngIf="articleId" fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
				<div fxLayout="column" class="column-content border-component">
					<mat-expansion-panel [expanded]="true" class="expansion-content">
						<mat-expansion-panel-header class="component-title">
							<mat-panel-title>
								<h2>ARTIKELTYPER</h2>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div fxLayout="row" class="component first-component">
							<mat-checkbox data-cy="filterproducts-checkbox" [(ngModel)]="filterProducts" (change)="onFilterChange()">
								Produkter
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component">
							<mat-checkbox data-cy="filterarticles-checkbox" [(ngModel)]="filterArticles" (change)="onFilterChange()">
								Artiklar
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component article-type-component">
							<mat-checkbox data-cy="filterH-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterH"
														(change)="onFilterChange()">
								Huvudhjälpmedel
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component article-type-component">
							<mat-checkbox data-cy="filterT-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterT"
														(change)="onFilterChange()">Tillbehör
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component article-type-component">
							<mat-checkbox data-cy="filterR-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterR"
														(change)="onFilterChange()">Reservdel
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component article-type-component">
							<mat-checkbox data-cy="filterTJ-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterTj"
														(change)="onFilterChange()">Tjänst
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component article-type-component last-component">
							<mat-checkbox data-cy="filterI-checkbox" [disabled]="!filterArticles" [(ngModel)]="filterI"
														(change)="onFilterChange()">Inställning
							</mat-checkbox>
						</div>
					</mat-expansion-panel>
				</div>

				<div fxLayout="column" class="column-content border-component">
					<mat-expansion-panel [expanded]="true" class="expansion-content">
						<mat-expansion-panel-header class="component-title">
							<mat-panel-title>
								<h2
									*ngIf="article.category.articleType === 'T' && article.category.code || article.category.articleType === 'H'">
									STATUS FÖR ARTIKEL</h2>
								<h2
									*ngIf="(article.category.articleType !== 'T' || !article.category.code) && article.category.articleType !== 'H'">
									STATUS FÖR PRODUKT/ARTIKEL</h2>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div fxLayout="row" class="component first-component">
							<mat-checkbox data-cy="filterpublished-checkbox" [(ngModel)]="filterPublished"
														(change)="onFilterChange()">Aktiv
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component last-component">
							<mat-checkbox data-cy="filterdiscontinued-checkbox" [(ngModel)]="filterDiscontinued"
														(change)="onFilterChange()">Utgått
							</mat-checkbox>
						</div>
					</mat-expansion-panel>
				</div>
			</div>
			<div *ngIf="loading">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			<div *ngIf="!connections.length && !loading" fxFlex="100%" class="container">
				Saknas
			</div>
			<div *ngIf="connections.length && !loading" fxFlex="100%" class="container mat-elevation-z1 table-md">
				<mat-table #table [dataSource]="dataSource">

					<ng-container matColumnDef="typ">
						<mat-header-cell *matHeaderCellDef fxFlex="6%"> Typ</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="6%"><span *ngIf="element.type === 'PRODUCT'"> P</span> <span
							*ngIf="element.type === 'ARTICLE'"> {{element.articleType}}</span></mat-cell>
					</ng-container>

					<ng-container matColumnDef="benämning">
						<mat-header-cell *matHeaderCellDef fxFlex="35%"> Benämning</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="35%"> {{element.name}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="produkt/artnr">
						<mat-header-cell *matHeaderCellDef fxFlex="30%"> Produkt/artnr</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="30%"> {{element.number}}</mat-cell>
					</ng-container>

					<ng-container
						*ngIf="article.category.articleType === 'T' && article.category.code || article.category.articleType === 'H'"
						matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="14%"> Status Artikel</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="14%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>
					<ng-container
						*ngIf="(article.category.articleType !== 'T' || !article.category.code) && article.category.articleType !== 'H'"
						matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="14%"> Status Produkt/Artikel</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="14%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="kategori">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="disconnect">
						<mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="5%">
							<button class="disconnect-btn" data-cy="disconnectmenu-btn" *ngIf=" isOwnOrganization && element.deleteable"
											(click)="$event.stopPropagation();"
											mat-icon-button [matMenuTriggerFor]="disconnectionMenu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #disconnectionMenu="matMenu">
								<button data-cy="removeconnection-btn" mat-menu-item (click)="removeConnection(element)">
									<mat-icon color="warn">delete</mat-icon>
									<span>Ta bort koppling</span>
								</button>
							</mat-menu>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeTo(row)" [title]="row.name"
									 appMatRowKeyboardEvent (enterPressed)="routeTo(row)" tabindex=0></mat-row>

				</mat-table>
				<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
					<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
					<div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
					</div>
					<span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
				</div>
			</div>
		</div>
	</div>
</div>
