<section class="border-component">
	<mat-expansion-panel [expanded]="this.expanded" class="mat-expansion-panel-content">

		<mat-expansion-panel-header class="component-title">
			<mat-panel-title>
				<h2>VÄLKOMMEN TILL HJÄLPMEDELSTJÄNSTEN</h2>
			</mat-panel-title>
		</mat-expansion-panel-header>

		<section *ngIf="welcomeTextLoaded" fxLayout="row" class="component first-component">
			<div *ngIf="!welcomeTextLoaded" class="content">Laddar...</div>
			<article *ngIf="welcomeTextLoaded" style="width: 100%; height: 100%; padding-bottom: 20px; "
							 [innerHTML]="welcomeText.dynamicText | safeHTML"></article>
		</section>

	</mat-expansion-panel>
</section>
