<div fxLayout="row" class="component first-component">
	<h1> Importera prislista</h1>
</div>
<mat-dialog-content>
	<div fxLayout="column" class="component first-component last-component">
		<div fxLayout="row">
			<input data-cy="selectfile-input" autocomplete="off" hidden id="input-id" type="file"
						 accept="'xlsx'"
						 (change)="fileSelected($any($event.target).files[0])"/>
			<div class="mat-raised-button mat-button upload-button">
				<label for="input-id" class="mat-button">VÄLJ FIL</label></div>
			<span *ngIf="file && file.name"> Vald fil: {{file.name}}</span>
		</div>
		<div *ngIf="showImportText" class="component">
			<p>Inläsning påbörjad - Resultatet kommer att skickas till din e-post. Status för importen hittas under fliken
				Inläsningar.</p>
		</div>
		<div *ngIf="errors && errors.length" class="component">
			<p>Filen innehåller följande fel:</p>
			<div *ngFor="let error of errors">
				{{error.message}}
			</div>
		</div>
	</div>

</mat-dialog-content>

<mat-dialog-actions>
	<button data-cy="import-btn" *ngIf="file && !importInProgress" mat-button
					(click)="import()">
		IMPORTERA FIL
	</button>
	<button data-cy="close-btn" *ngIf="!importInProgress" mat-button mat-dialog-close>STÄNG</button>
	<mat-progress-spinner *ngIf="importInProgress" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
