
.alert-container {
	position: fixed;
	top: 0;
	width: 100%;
	margin-top: 64px;
	z-index: 999999;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: center;
	width: 100%;
	//top: 5%;
}

.alert-dismissable {
	padding-right: 35px;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.close {
	cursor: pointer;
}
