<mat-dialog-content>
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container">
				<mat-form-field>
					<input data-cy="gpnumber-input" autocomplete="off" matInput required [formControl]="numberFormControl">
					<mat-label>Prislistenummer</mat-label>
					<mat-error data-cy="numbererror" *ngIf="numberError">{{numberError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container">
				<mat-form-field>
					<input data-cy="gpvalidfrom-picker" autocomplete="off" matInput [matDatepicker]="pickerFrom" required
								 [formControl]="validFromFormControl">
					<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
					<mat-datepicker #pickerFrom></mat-datepicker>
					<mat-label>Gäller från</mat-label>
					<mat-error data-cy="validfromerror" *ngIf="validFromError">{{validFromError}}</mat-error>
				</mat-form-field>
			</div>
		</div>
	</div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<button data-cy="save-btn" *ngIf="!saving" mat-button (click)="done()"
						[disabled]="!numberFormControl.value || !validFromFormControl.value">
			SPARA
		</button>
		<button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
		<mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
	</mat-dialog-actions>
</div>
