<div *ngIf="loaded" class="login-wrapper">
	<div fxLayout="row">
		<h3>Välkommen till Hjälpmedelstjänsten!</h3>
	</div>

	<div *ngIf="isValidActivationLink">
		<div fxLayout="row">
			<h3>Skapa ditt nya lösenord</h3>
		</div>
		<div fxLayout="row">
			<span>Lösenord ska bestå av minst 10 valfria tecken</span>
		</div>

		<div fxLayout="row" class="login-component">
			<mat-form-field>
				<mat-label>Skriv in ditt nya lösenord</mat-label>
				<input data-cy="createpw-input" autocomplete="off" matInput id="password" type="password" minlength="10"
							 required [(ngModel)]="password">
			</mat-form-field>
		</div>

		<div fxLayout="row" class="login-component">
			<mat-form-field>
				<mat-label>Upprepa nytt lösenord</mat-label>
				<input data-cy="conformpw-input" autocomplete="off" (paste)="false" matInput type="password" required
							 [(ngModel)]="confirmPassword" validateEqual="password">
			</mat-form-field>
		</div>

		<div fxLayout="row" class="login-component">
			<button data-cy="changepw-btn" mat-raised-button color="primary" (click)="changePassword()">Spara nytt lösenord
			</button>
		</div>
	</div>

	<div *ngIf="!isValidActivationLink">
		<p>Aktiveringslänken är inte giltig.</p> <a href="/">Till inloggningssidan</a>
	</div>
</div>
