<div class="login-wrapper">
	<div fxLayout="row">
		<h1>Glömt lösenordet?</h1>
	</div>

	<div fxLayout="column" class="login-component">
		<div class="component first-component">
			<mat-form-field>
				<input data-cy="recoverpwname-input" autocomplete="off" matInput type="text" required autofocus
							 [(ngModel)]="username">
				<mat-label>Användarnamn</mat-label>
			</mat-form-field>
		</div>
		<div class="component last-component">
			<mat-form-field>
				<input data-cy="recoverpwmail-input" autocomplete="off" matInput type="text" required [(ngModel)]="email">
				<mat-label>E-post</mat-label>
			</mat-form-field>
		</div>

	</div>


	<div fxLayout="row" class="login-component">
		<button data-cy="resetpw-btn" [disabled]="!username || !email" mat-raised-button color="primary"
						(click)="sendRecoverLink()">Återställ
			lösenordet
		</button>
	</div>

	<div fxLayout="row" class="login-component">
		<span>Du kommer själv att få skapa ditt nya lösenord</span>
	</div>

</div>
