<div *ngIf="!loaded" class="content">Laddar...</div>
<div *ngIf="loaded">
	<div *ngIf="hasPermissionToCreatePricelistRows" fxLayout="row" class="content">
		<div fxFlex="90%">
			<div fxLayoutAlign="end center">
				<button data-cy="addtoagreement-btn" mat-raised-button color="primary" (click)="openCreatePricelistRowDialog()">
					LÄGG TILL PÅ AVTAL
				</button>
			</div>
		</div>
	</div>

	<div *ngIf="hasPermissionToViewPricelistRows || hasPermissionToViewPricelistRowsExists" fxLayout="row"
			 class="content">
		<h1>Inköpsavtal</h1>
	</div>

	<div *ngIf="(hasPermissionToViewPricelistRows || hasPermissionToViewPricelistRowsExists) && !loading" fxLayout="row"
			 class="content">
		<div fxFlex="25%" class="border-component">
			<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
				<h2>STATUS FÖR PRISLISTA</h2>
			</div>
			<div class="component first-component">
				<mat-checkbox [(ngModel)]="filterFuture" (change)="changeFilter('FUTURE')">Framtida</mat-checkbox>
			</div>
			<div class="component">
				<mat-checkbox [(ngModel)]="filterCurrent" (change)="changeFilter('CURRENT')">Aktuell</mat-checkbox>
			</div>
			<div class="component last-component">
				<mat-checkbox [(ngModel)]="filterPast" (change)="changeFilter('PAST')">Historisk</mat-checkbox>
			</div>
		</div>
	</div>

	<div *ngIf="hasPermissionToViewPricelistRows || hasPermissionToViewPricelistRowsExists" fxLayout="row"
			 fxLayout.lt-md="{{flexDirection}}" class="content">
		<div fxFlex="100%" fxLayoutGap="10px">
			<div *ngIf="loading">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			<div
				*ngIf="!hasPermissionToViewPricelistRows && hasPermissionToViewPricelistRowsExists && hasPricelistRows.isTrue && !loading"
				fxFlex="100%" class="container">
				Artikeln finns på något avtal
			</div>

			<div
				*ngIf="((hasPermissionToViewPricelistRows && (!pricelistRows || !pricelistRows.length)) || (hasPermissionToViewPricelistRowsExists && !hasPermissionToViewPricelistRows && (!pricelistRows || !pricelistRows.length))) && !loading"
				fxFlex="100%"
				class="container">
				Artikeln finns inte på något avtal med valt filter
			</div>

			<div *ngIf="hasPermissionToViewPricelistRows && pricelistRows && pricelistRows.length && !loading" fxFlex="100%"
					 class="container mat-elevation-z1 table-md">
				<mat-table #table [dataSource]="dataSource">

					<ng-container matColumnDef="avtalsnummer">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.pricelist.agreement.agreementNumber}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="avtalsnamn">
						<mat-header-cell *matHeaderCellDef fxFlex="20%"> Avtalsnamn</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="20%"> {{element.pricelist.agreement.agreementName}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="prislistenummer">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Prislistenummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.pricelist.number}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="pris">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Pris</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.price| number:'':'sv-SE'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="gäller från">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Gäller från</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status Prislista</mat-header-cell>
						<mat-cell *matCellDef="let element"
											fxFlex="10%"> {{element.pricelist.status | formatPricelistStatus}}</mat-cell>
					</ng-container>

					<div *ngIf="isSupplier">
						<ng-container matColumnDef="leverantör">
							<mat-header-cell *matHeaderCellDef fxFlex="0%"></mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="0%"></mat-cell>
						</ng-container>
						<ng-container matColumnDef="kund">
							<mat-header-cell *matHeaderCellDef fxFlex="30%"> Kund</mat-header-cell>
							<mat-cell *matCellDef="let element"
												fxFlex="30%"> {{element.pricelist.agreement.customerOrganization.organizationName}}</mat-cell>
						</ng-container>
					</div>
					<div *ngIf="isCustomer">
						<ng-container matColumnDef="leverantör">
							<mat-header-cell *matHeaderCellDef fxFlex="30%"> Leverantör</mat-header-cell>
							<mat-cell *matCellDef="let element"
												fxFlex="30%">{{element.pricelist.agreement.supplierOrganization.organizationName}}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="kund">
							<mat-header-cell *matHeaderCellDef fxFlex="0%"></mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="0%"></mat-cell>
						</ng-container>
					</div>
					<div *ngIf="!isCustomer && !isSupplier">
						<ng-container matColumnDef="leverantör">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"> Leverantör</mat-header-cell>
							<mat-cell *matCellDef="let element"
												fxFlex="15%">{{element.pricelist.agreement.supplierOrganization.organizationName}}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="kund">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"> Kund</mat-header-cell>
							<mat-cell *matCellDef="let element"
												fxFlex="15%">{{element.pricelist.agreement.customerOrganization.organizationName}}</mat-cell>
						</ng-container>
					</div>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"
									 routerLink="/organization/{{userOrganizationId}}/agreement/{{row.pricelist.agreement.id}}/pricelist/{{row.pricelist.id}}/handle"
									 [title]="row.pricelist.agreement.agreementName" appMatRowKeyboardEvent (enterPressed)="routeTo(row)"
									 tabindex=0></mat-row>
				</mat-table>
			</div>
		</div>
	</div>

	<div *ngIf="hasPermissionToViewAllGeneralPricelistPricelistRows || hasPermissionToViewGeneralPricelistPricelistRows"
			 fxLayout="row" class="content">
		<h1>Generella prislistor</h1>
	</div>

	<div *ngIf="(hasPermissionToViewPricelistRows || hasPermissionToViewPricelistRowsExists) && !loading" fxLayout="row"
			 class="content">
		<div fxFlex="25%" class="border-component">
			<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
				<h2>STATUS FÖR PRISLISTA</h2>
			</div>
			<div *ngIf="!isCustomer" class="component first-component">
				<mat-checkbox [(ngModel)]="filterFuture_GP" (change)="changeFilter('FUTURE_GP')">Framtida</mat-checkbox>
			</div>
			<div *ngIf="!isCustomer" class="component">
				<mat-checkbox [(ngModel)]="filterCurrent_GP" (change)="changeFilter('CURRENT_GP')">Aktuell</mat-checkbox>
			</div>
			<div *ngIf="isCustomer" class="component first-component">
				<mat-checkbox [(ngModel)]="filterCurrent_GP" (change)="changeFilter('CURRENT_GP')">Aktuell</mat-checkbox>
			</div>
			<div class="component last-component">
				<mat-checkbox [(ngModel)]="filterPast_GP" (change)="changeFilter('PAST_GP')">Historisk</mat-checkbox>
			</div>
		</div>
	</div>

	<div *ngIf="hasPermissionToViewAllGeneralPricelistPricelistRows || hasPermissionToViewGeneralPricelistPricelistRows"
			 fxLayout="row" fxLayout.lt-md="{{flexDirection}}" class="content">
		<div fxFlex="100%" fxLayoutGap="10px">
			<div *ngIf="loading">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>

			<div *ngIf="(!generalPricelistPricelistRows || !generalPricelistPricelistRows.length) && !loading" fxFlex="100%"
					 class="container">
				Artikeln finns inte i någon generell prislista med valt filter
			</div>

			<div *ngIf="generalPricelistPricelistRows && generalPricelistPricelistRows.length && !loading" fxFlex="100%"
					 class="container mat-elevation-z1 table-md">
				<mat-table #table [dataSource]="dataSource2">

					<ng-container matColumnDef="avtalsnummer">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Avtalsnummer</mat-header-cell>
						<mat-cell *matCellDef="let element"
											fxFlex="10%"> {{element.pricelist.generalPricelist.generalPricelistNumber}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="avtalsnamn">
						<mat-header-cell *matHeaderCellDef fxFlex="20%"> Avtalsnamn</mat-header-cell>
						<mat-cell *matCellDef="let element"
											fxFlex="20%"> {{element.pricelist.generalPricelist.generalPricelistName}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="prislistenummer">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Prislistenummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.pricelist.number}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="pris">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Pris</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.price| number:'':'sv-SE'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="gäller från">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Gäller från</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status Prislista</mat-header-cell>
						<mat-cell *matCellDef="let element"
											fxFlex="10%"> {{element.pricelist.status | formatPricelistStatus}}</mat-cell>
					</ng-container>

					<div *ngIf="isSupplier">
						<ng-container matColumnDef="kund">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"></mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="15%"></mat-cell>
						</ng-container>
						<ng-container matColumnDef="leverantör">
							<mat-header-cell *matHeaderCellDef fxFlex="15%"></mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="15%"></mat-cell>
						</ng-container>
					</div>
					<div *ngIf="!isSupplier">
						<ng-container matColumnDef="kund">
							<mat-header-cell *matHeaderCellDef fxFlex="0%"></mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="0%"></mat-cell>
						</ng-container>
						<ng-container matColumnDef="leverantör">
							<mat-header-cell *matHeaderCellDef fxFlex="30%"> Leverantör</mat-header-cell>
							<mat-cell *matCellDef="let element" fxFlex="30%">{{element.article.organizationName}}</mat-cell>
						</ng-container>
					</div>


					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"
									 routerLink="/organization/{{organizationId}}/generalpricelist/{{row.id}}/pricelist/{{row.pricelist.id}}"></mat-row>
				</mat-table>
			</div>
		</div>
	</div>
</div>
