<div class="page-wrapper" style="padding-top: 40px;">
	<div fxLayout="row" class="navigation">
		<span routerLink="/start">Startsida</span><span> > </span>
		<span routerLink="/dashboard">Dashboard</span>
	</div>
	<mat-tab-group class="tab-group" [selectedIndex]="activeTab">
		<mat-tab label="Att hantera" style="padding-top: 20px;">
			<div class="tab-content">
				<!--  Kund: pricelists med rows med status pending approval-->
				<app-dashboardtable-pricelist
					*ngIf="pricelistsWithRowsPA != null && pricelistsWithRowsPA.length != 0"
					[pricelists]="pricelistsWithRowsPA"
					title="Du har {{pricelistsWithRowsPA.length}} {{pricelistsWithRowsPA.length == 1 ? 'prislista' : 'prislistor'}} i inköpsavtal att hantera för godkännande"
					[userRole]="userRole"
					[organizationId]="organizationId"></app-dashboardtable-pricelist>

				<!--  Kund: pricelists med rows med status pending inactivation-->
				<app-dashboardtable-pricelist
					*ngIf="pricelistsWithRowsPI != null && pricelistsWithRowsPI.length != 0"
					[pricelists]="pricelistsWithRowsPI"
					title="Du har {{pricelistsWithRowsPI.length}} {{pricelistsWithRowsPI.length == 1 ? 'prislista' : 'prislistor'}} i inköpsavtal att hantera för inaktivering"
					[userRole]="userRole"
					[organizationId]="organizationId"></app-dashboardtable-pricelist>

				<!--  Kund: agreements som ska förlängas-->
				<app-dashboard-table-agreement
					*ngIf="agreementsToExtend != null"
					[agreements]="agreementsToExtend"
					title="Inköpsavtal att förlänga"
					[userRole]="userRole"
					[organizationId]="organizationId"></app-dashboard-table-agreement>

				<!--  Leverantör: Tomma prislistor på inköpsavtal-->
				<app-dashboardtable-pricelist
					*ngIf="emptyPricelists != null"
					[pricelists]="emptyPricelists"
					title="Du har {{emptyPricelists.length}} {{emptyPricelists.length == 1 ? 'tom prislista' : 'tomma prislistor'}} på inköpsavtal att hantera"
					[userRole]="userRole"
					[organizationId]="organizationId"></app-dashboardtable-pricelist>

				<!--  Leverantör pricelists på agreements som har rader som är new eller changed-->
				<app-dashboardtable-pricelist
					*ngIf="pricelistsNewOrChanged != null"
					[pricelists]="pricelistsNewOrChanged"
					title="Prislistor med rader i status Ny eller Ändrad"
					[userRole]="userRole"
					[organizationId]="organizationId"></app-dashboardtable-pricelist>

				<!--  Leverantör: prislistor där kund avböjt prislisterader-->
				<app-dashboardtable-pricelist
					*ngIf="pricelistsDeclinedRows != null"
					[pricelists]="pricelistsDeclinedRows"
					title="Du har {{pricelistsDeclinedRows.length}} {{pricelistsDeclinedRows.length == 1 ? 'prislista' : 'prislistor'}} i inköpsavtal med avböjda rader"
					[userRole]="userRole"
					[organizationId]="organizationId"></app-dashboardtable-pricelist>


				<h2 class="content"
						*ngIf="emptyPricelists == null && pricelistsNewOrChanged == null && pricelistsDeclinedRows == null && agreementsToExtend == null && pricelistsWithRowsPA == null && pricelistsWithRowsPI == null">
					Inga ärenden att att hantera</h2>


			</div>
		</mat-tab>

		<mat-tab label="Information">
			<div class="tab-content">

				<!-- Kund: Artiklar på inköpsavtal där leverantör gjort ändringar -->
				<app-dashboard-table-articles
					*ngIf="changedArticleList != null"
					[changedArticles]="changedArticleList"
					title="Du har {{changedArticleList.length}} {{changedArticleList.length == 1 ? 'ändring, gjord' : 'ändringar, gjorda'}} av leverantör, på {{changedArticleList.length == 1 ? 'artikel' : 'artiklar'}}"
					[userRole]="userRole"
					[organizationId]="organizationId">
				</app-dashboard-table-articles>

				<!-- Kund: Utgångna artiklar på utbud -->
				<app-dashboard-table-assortmentarticlesdiscontinued
					*ngIf="discontinuedArticleList != null"
					[discontinuedArticles]="discontinuedArticleList"
					title="Du har {{discontinuedArticleList.length}} {{discontinuedArticleList.length == 1 ? 'utgången artikel' : 'utgångna artiklar'}} på utbud"
					[userRole]="userRole"
					[organizationId]="organizationId">
				</app-dashboard-table-assortmentarticlesdiscontinued>

				<!--  Leverantör: Ändringar, gjorda av kund, på inköpsavtal-->
				<app-dashboardtable-changed-agreement
					*ngIf="agreementsChangedByCustomer != null"
					[agreementsChangedByCustomer]="agreementsChangedByCustomer"
					title="Du har {{agreementsChangedByCustomer.length}} {{agreementsChangedByCustomer.length == 1 ? 'ändring, gjord' : 'ändringar, gjorda'}} av kund, på inköpsavtal"
					[userRole]="userRole"
					[organizationId]="organizationId">
				</app-dashboardtable-changed-agreement>

				<!-- Leverantör: prislistor som väntar på godkännande dvs där kund INTE godkänt eller avböjt prislisterader, status Pending Approval-->
				<app-dashboardtable-pricelist
					*ngIf="pricelistsWaitingForApproval != null"
					[pricelists]="pricelistsWaitingForApproval"
					title="Du har {{pricelistsWaitingForApproval.length}} {{pricelistsWaitingForApproval.length == 1 ? 'prislista' : 'prislistor'}} i inköpsavtal som väntar på godkännande"
					[userRole]="userRole"
					[organizationId]="organizationId">
				</app-dashboardtable-pricelist>

				<!--  Leverantör: Godkända prislisterader på inköpsavtal-->
				<app-dashboardtable-approved-pricelistrow
					*ngIf="pricelistRowsApprovedByCustomer != null"
					[pricelistRowsApprovedByCustomer]="pricelistRowsApprovedByCustomer"
					title="Du har {{pricelistRowsApprovedByCustomer.length}} {{pricelistRowsApprovedByCustomer.length == 1 ? 'godkännande' : 'godkännanden'}} av prislisterader"
					[userRole]="userRole"
					[organizationId]="organizationId">
				</app-dashboardtable-approved-pricelistrow>


				<h2 class="content"
						*ngIf="agreementsChangedByCustomer == null && pricelistRowsApprovedByCustomer == null && pricelistsWaitingForApproval == null && changedArticleList == null && discontinuedArticleList == null">
					Ingen ny information att visa</h2>

			</div>

		</mat-tab>
	</mat-tab-group>


</div>
