<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
<div *ngIf="loaded && helpTextsLoaded">
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<h4>Artiklar kopplade till {{product.productName}}</h4>
		</div>
	</div>

	<div *ngIf="product.status !== 'DISCONTINUED' && isOwnOrganization" fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayoutAlign="end center" fxLayoutGap="20px">
				<div fxLayout="row">
					<button data-cy="newarticlemenu-btn" mat-raised-button
									color="primary"
									[matMenuTriggerFor]="newArticle">
						NY ARTIKEL
					</button>
					<mat-menu #newArticle="matMenu">
						<button data-cy="huvudhjalpmedel-btn" *ngIf="product.category.articleType === 'H'" mat-menu-item
										routerLink="/organization/{{organizationId}}/article/handle"
										[queryParams]="{productid: productId, articletype: 'H'}">
							<span>Huvudhjälpmedel</span>
						</button>
						<button data-cy="tiso-btn" *ngIf="product.category.articleType === 'T'" mat-menu-item
										routerLink="/organization/{{organizationId}}/article/handle"
										[queryParams]="{productid: productId, articletype: 'Tiso'}">
							<span>Generellt tillbehör med ISO-kod</span>
						</button>
						<button data-cy="tillbehor-btn" mat-menu-item
										routerLink="/organization/{{organizationId}}/article/handle"
										[queryParams]="{productid: productId, articletype: 'T'}">
							<span>Tillbehör till egna hjälpmedel</span>
						</button>
						<button data-cy="reservdel-btn" mat-menu-item
										routerLink="/organization/{{organizationId}}/article/handle"
										[queryParams]="{productid: productId, articletype: 'R'}">
							<span>Reservdel</span>
						</button>
						<button data-cy="tjanst-btn" mat-menu-item
										routerLink="/organization/{{organizationId}}/article/handle"
										[queryParams]="{productid: productId, articletype: 'Tj'}">
							<span>Tjänst</span>
						</button>
						<button data-cy="installning-btn" mat-menu-item
										routerLink="/organization/{{organizationId}}/article/handle"
										[queryParams]="{productid: productId, articletype: 'I'}">
							<span>Inställning</span>
						</button>
					</mat-menu>
				</div>
				<div>
					<mat-icon *ngIf="helpTextsLoaded" class="tooltip"
										matTooltip="{{helpTexts.values.PRODUCT_CREATE_ARTICLE}}"
										[matTooltipShowDelay]="500">info_outline
					</mat-icon>
				</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div class="container mat-elevation-z1">
				<mat-form-field>
					<input data-cy="productsearch-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-label>Sök artiklar</mat-label>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayout="column" fxFlex="50%">
				<div fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="articles.length !== 1">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="articles.length === 1">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
				</div>
			</div>

		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%" fxLayoutGap="10px">

			<div fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
				<div fxLayout="column" class="column-content border-component">
					<mat-expansion-panel [expanded]="true" class="expansion-content">
						<mat-expansion-panel-header class="component-title">
							<mat-panel-title>
								<h2>ARTIKELTYPER</h2>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div fxLayout="row" class="component first-component">
							<mat-checkbox data-cy="filterH-checkbox" [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component">
							<mat-checkbox data-cy="filterT-checkbox" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component">
							<mat-checkbox data-cy="filterR-checkbox" [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component">
							<mat-checkbox data-cy="filterTJ-checkbox" [(ngModel)]="filterTj" (change)="onFilterChange()">Tjänst
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component last-component">
							<mat-checkbox data-cy="filterI-checkbox" [(ngModel)]="filterI" (change)="onFilterChange()">Inställning
							</mat-checkbox>
						</div>
					</mat-expansion-panel>
				</div>

				<div fxLayout="column" class="column-content border-component">
					<mat-expansion-panel [expanded]="true" class="expansion-content">
						<mat-expansion-panel-header class="component-title">
							<mat-panel-title>
								<h2>STATUS FÖR ARTIKEL</h2>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div fxLayout="row" class="component first-component">
							<mat-checkbox data-cy="filterpublished-checkbox" [(ngModel)]="filterPublished"
														(change)="onFilterChange()">Aktiv
							</mat-checkbox>
						</div>
						<div fxLayout="row" class="component last-component">
							<mat-checkbox data-cy="filterdiscontinued-checkbox" [(ngModel)]="filterDiscontinued"
														(change)="onFilterChange()">Utgått
							</mat-checkbox>
						</div>
					</mat-expansion-panel>
				</div>
			</div>

			<div *ngIf="loading">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			<div *ngIf="!articles.length && !loading" fxFlex="100%" class="container">
				Saknas
			</div>
			<div *ngIf="articles.length && !loading" fxFlex="100%" class="container mat-elevation-z1">
				<mat-table #table [dataSource]="dataSource">

					<ng-container matColumnDef="typ">
						<mat-header-cell *matHeaderCellDef fxFlex="6%"> Typ</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="6%"><span> {{element.articleType}}</span></mat-cell>
					</ng-container>

					<ng-container matColumnDef="benämning">
						<mat-header-cell *matHeaderCellDef fxFlex="40%"> Benämning</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="40%"> {{element.name}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="artikelnummer">
						<mat-header-cell *matHeaderCellDef fxFlex="34%"> Artikelnummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="34%"> {{element.number}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status Artikel</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="kategori">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeTo(row)" [title]="row.name"
									 appMatRowKeyboardEvent (enterPressed)="routeTo(row)" tabindex=0></mat-row>

				</mat-table>
				<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
					<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
					<div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
					</div>
					<span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
				</div>
			</div>
		</div>
	</div>
</div>
