<div class="page-wrapper">
	<div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
		<div *ngIf="loaded" fxFlex="95%">
			<h1 *ngIf="childArticle?.articleId">{{childArticle?.article.articleName}}</h1>
			<h1 *ngIf="!childArticle?.articleId">Ny artikel</h1>
		</div>
		<div
			*ngIf="!tabIndex && childArticle?.articleId && !childArticle?.editMode && childArticle?.hasPermissionToUpdateArticle && childArticle?.article.status !== 'DISCONTINUED'"
			fxFlex="2%"
			fxLayoutAlign="center">
			<mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
		</div>
		<div
			*ngIf="!tabIndex && childArticle?.articleId && !childArticle?.editMode && childArticle?.hasPermissionToUpdateArticle"
			fxFlex="3%">
			<button data-cy="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">MENY</span>
				</div>
			</button>
			<mat-menu #menu="matMenu" class="wide-mat-menu">
				<button data-cy="copy-btn" mat-menu-item
								routerLink="/organization/{{organizationId}}/article/copy"
								[queryParams]="{copiedArticle: childArticle?.articleId}">
					<mat-icon color="primary">file_copy</mat-icon>
					<span>Kopiera artikel</span>
				</button>
				<button data-cy="changebasedon-btn"
								*ngIf="childArticle?.article.basedOnProduct && childArticle?.article.status !== 'DISCONTINUED' "
								(click)="childArticle?.openChangeBasedOnDialog()" mat-menu-item>
					<mat-icon color="primary">swap_vert</mat-icon>
					<span>Byt produkt artikeln baseras på</span>
				</button>

				<button *ngIf="isCheckingIfArticleIsRemovable" mat-menu-item disabled>
					<mat-progress-spinner [diameter]="20" mode="indeterminate"></mat-progress-spinner>
				</button>

				<button data-cy="deletearticle-btn"
								*ngIf="!hasPricelistRows.isTrue && (!haveConnectedArticles || isLeafNode) && !isCheckingIfArticleIsRemovable"
								(click)="childArticle?.openDeleteArticleDialog()" mat-menu-item>
					<mat-icon color="primary">delete</mat-icon>
					<span>Ta bort artikel</span>
				</button>


			</mat-menu>


		</div>

		<div *ngIf="tabIndex == 0 && isServiceOwner" fxFlex="3%">
			<button data-cy="so-menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">MENY</span>
				</div>
			</button>
			<mat-menu #menu="matMenu" class="wide-mat-menu">

				<button data-cy="so-deletearticle-btn" (click)="childArticle?.openSoDeleteArticleDialog()" mat-menu-item>
					<mat-icon color="warn">delete</mat-icon>
					<span>Ta bort artikel och SAMTLIGA kopplingar</span>
				</button>

			</mat-menu>


		</div>

		<!-- <div
			 *ngIf="tabIndex == 1 && childArticle.articleId && !childArticle.editMode && childArticle.hasPermissionToUpdateArticle"
			 fxFlex="3%"> -->
		<div
			*ngIf="tabIndex == 1 && childArticle?.articleId && !childArticle?.editMode"
			fxFlex="3%">
			<button data-cy="menu1" mat-icon-button [matMenuTriggerFor]="menu">
				<div class="menu-container">
					<mat-icon>more_vert</mat-icon>
					<span class="menu-label">
						<div class="menu-container">MENY
							<mat-icon matSuffix *ngIf="helpTextsLoaded"
												class="tooltip"
												matTooltip="{{helpTexts.values.SEARCH_MENU}}"
												[matTooltipShowDelay]="500">info_outline</mat-icon>
					</div>
				</span>
				</div>
			</button>

			<mat-menu #menu="matMenu" class="wide-mat-menu">
				<button data-cy="menu2" mat-menu-item (click)="exportSearchResults()">
					<mat-icon color="primary">save_alt</mat-icon>
					<span>Exportera sökresultat till Excel-fil</span>
				</button>
			</mat-menu>

		</div>
	</div>

	<div *ngIf="!redirectedFromSearch" fxLayout="row" class="navigation">
		<span routerLink="/organization/{{organizationId}}/product">Produkter och artiklar</span><span> > </span><span
		class="navigation-last">Hantera artikel</span>
	</div>

	<div *ngIf="articleId" fxLayout="row" class="content" fxLayoutAlign="start center">
		<h3>Status: {{childArticle?.article.status | formatProductStatus}}</h3>
	</div>

	<mat-tab-group class="tab-group" [selectedIndex]="childArticle?.tabIndex"
								 (selectedTabChange)="onTabSelection($event, tabIndex)">
		<mat-tab label="Artikel">
			<div class="tab-content">
				<app-handle-article></app-handle-article>
			</div>
		</mat-tab>
		<mat-tab label="Kopplingar" [disabled]="childArticle?.editMode && !!childArticle?.articleId">
			<div class="tab-content">
				<app-article-connection></app-article-connection>
			</div>
		</mat-tab>
		<mat-tab
			*ngIf="(childArticle?.articleId || childArticleConnection?.articleId) &&
       ((hasPermissionToViewGeneralPricelistPricelistRows || hasPermissionToViewAllGeneralPricelistPricelistRows) ||
       (!isSupplier && hasPermissionToViewPricelistRows) ||
        (childArticle?.isOwnOrganization && hasPermissionToViewPricelistRows) ||
        hasPermissionToViewPricelistRowsExists)"
			label="Prislistor" [disabled]="childArticle?.editMode">
			<div class="tab-content">
				<app-article-pricelist></app-article-pricelist>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
