.component{
	.tooltip{
		margin-right: 14px;
	}
}

.mat-dialog-actions {
  .mat-button {
    color: cornflowerblue;
  }
}

.url-form-field {
  margin-left: 14px;
}

.upload-button {
  background-color: #118582;
  color: white;
  margin-left: 15px;
}

.upload-button-disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  cursor: default !important;
  label {
    cursor: default;
  }
}

.save-btn[disabled] {
  color: grey;
  cursor: default !important;
}
