
<div fxLayout="row" class="component first-component">
  <div fxFlex="90%">
    <h1 *ngIf="(data.mediaType === 'image' || data.mediaType === 'mainImage')">Uppdatera bild</h1>
    <h1 *ngIf="data.mediaType === 'document'">Uppdatera dokument</h1>
  </div>
  <div fxFlex="10%" fxLayoutAlign="end center">
    <mat-icon *ngIf="helpTextsLoaded && data.mediaType === 'document'" class="tooltip"
              matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_UPDATE}}"
              [matTooltipShowDelay]="500">info_outline
    </mat-icon>
    <mat-icon *ngIf="helpTextsLoaded && (data.mediaType === 'image' || data.mediaType === 'mainImage')" class="tooltip"
              matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPDATE}}"
              [matTooltipShowDelay]="500">info_outline
    </mat-icon>
  </div>
</div>
<mat-dialog-content>
  <div fxLayout="row" class="component">
    <mat-form-field>
      <input data-cy="mediadescription-input"  autocomplete="off" matInput type="text" maxlength="255" [(ngModel)]="description">
      <mat-label *ngIf="data.mediaType === 'image' || data.mediaType === 'mainImage'" class="icon-label">
        Beskrivning
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                     matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD_DESCRIPTION}}"
                     [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-label>
      <mat-label *ngIf="data.mediaType === 'document'" class="icon-label">Beskrivning
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                     matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_UPLOAD_DESCRIPTION}}"
                     [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-label>
    </mat-form-field>
  </div>
  <div *ngIf="data.mediaType === 'document'" fxLayout="row" class="component">
    <mat-form-field>
      <mat-select data-cy="documenttypes-dropdown"  [formControl]="documentTypeControl" [(value)]="documentType">
        <mat-option *ngFor="let type of documentTypes" [value]="type.id">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <mat-label>Välj dokumenttyp</mat-label>
    </mat-form-field>
  </div>

  <div *ngIf="data.mediaType !== 'document'" fxLayout="row" class="component">
    <mat-form-field>
      <input data-cy="alternativetext-input" required autocomplete="off" matInput type="text" maxlength="255" [(ngModel)]="alternativeText">
      <mat-label *ngIf="data.mediaType === 'image' || data.mediaType === 'mainImage'" class="icon-label">Alt-text
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD_ALT}}"
                  [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        <span *ngIf="data.mediaType === 'mainImage' && helpTextsLoaded">

      <img src="../../assets/1177_2.png" matTooltip="{{helpTexts.values.ELVASJUTTIOSJU}}" [matTooltipShowDelay]="500">
    </span>
      </mat-label>
<!--          <mat-error *ngIf="!this.data.media.alternativeText">"Förklarande text på huvudbilden måste anges"</mat-error>-->
    </mat-form-field>
  </div>

    </mat-dialog-content>

<mat-dialog-actions>
  <button data-cy="save-btn" class="save-btn" mat-button
          (click)="done()" >
    SPARA
  </button>
  <button data-cy="cancel-btn" *ngIf="!uploading" (click)="cancel()" mat-button mat-dialog-close>AVBRYT</button>
  <mat-progress-spinner *ngIf="uploading" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
