
.page-wrapper {
	margin-bottom: 100px;
}

.wide-mat-menu {
	max-width: none;
}

.container {
	padding: 20px;
}

.mat-row :hover {
	cursor: default;
}

.mat-row, .mat-header-row {
	position: relative;
}

.remove-btn {
	margin-top: -0.50em;
	margin-bottom: -0.50em;
}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
	opacity: .1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// The anchor should stretch to fill the cell.
.article-link {
	display: block;
	height: 100%;
	width: 100%;
}

// Additional UX affordance so users know they can interact with the row.
.article-link:hover {
	background: #CCC;
}

.cdk-overlay-connected-position-bounding-box {
	right: 20px !important;
}

.mat-cell {
	overflow-wrap: break-word;
}

// Rows should be highlighted and have pointer cursor when you hover on it
.edit:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:focus .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted and have pointer cursor when you hover on it
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

// Rows should be highlighted when tabbed to
.mat-mdc-row:hover .mat-mdc-cell {
	background: #CCC;
	border-color: currentColor;
	cursor: pointer;
}

.container-table {
	mat-form-field {
		font-size: 12px;
		width: 100%;

		.mat-datepicker-toggle{
			margin-left: -1.25em;
			padding-right: 10px;
		}
	}

	.mat-mdc-text-field-wrapper {
		height: 50px;
		width: 125px;
	}

	.input-cell {
		margin-left: -10px;
		height: 40px !important;
	}
}
