
<mat-dialog-content>

  <mat-progress-spinner *ngIf="level == 3 && loading" mode="indeterminate"></mat-progress-spinner>

  <div *ngIf="level == 3 && !loading" class="content">

        <h3 style="padding-bottom: 10px;">När ISO-kategori är vald visas kategorins namn och beskrivning nedan. Om ändringar ej görs sparas det ursprungliga kategorinamnet och beskrivningen.
        </h3>

    <mat-form-field>

      <mat-select [formControl]="isoCategoryFormControl"  [required]="level == 3">
        <mat-option></mat-option>
        <mat-option *ngFor="let isoCategory of isoCategories" [value]="isoCategory.id" (onSelectionChange)="setIsoCategory(isoCategory, $event)">{{isoCategory.code}} {{isoCategory.name}}</mat-option>
      </mat-select>
      <mat-label>Välj ISO-kategori</mat-label>
      <mat-error data-cy="external-code-error" *ngIf="descriptionError">{{descriptionError}}</mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="selectedIsoCategory" class="content" style="max-width: 80%; border: 2px #118582FF solid; border-radius: 10px; margin-bottom: 10px;">
    <article class="content">
      <h3>{{selectedIsoCategory.code}} {{selectedIsoCategory.name}}</h3>
      <p>{{selectedIsoCategory.description}}
    </p>
    </article>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%">
      <div class="container">
        <mat-form-field>
          <textarea  data-cy="external-categoryname-input" autocomplete="off" rows="2" matInput [required]="level != 3" [formControl]="nameFormControl"></textarea>
          <mat-label>Redigera 1177-namn</mat-label>
          <mat-error data-cy="external-nameerror" *ngIf="nameError">{{nameError}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%">
      <div class="container">
        <mat-form-field>
          <textarea data-cy="external-categorydescription-input"  autocomplete="off" rows="7" matInput [formControl]="descriptionFormControl"></textarea>
          <mat-label>Redigera 1177-beskrivning</mat-label>
          <mat-error data-cy="external-descrerror" *ngIf="descriptionError">{{descriptionError}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>


</mat-dialog-content>


<mat-dialog-actions>

  <span fxFlex></span>
  <button data-cy="cancel-btn" *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>

  <button data-cy="saveupdate3-btn" *ngIf="!saving && level < 3" mat-button (click)="saveOrUpdateEntity()" [disabled]="!nameFormControl.value">
    SPARA
  </button>
  <button data-cy="saveupdate3-btn" *ngIf="!saving && level == 3" mat-button (click)="saveOrUpdateEntity()" [disabled]="!isoCategoryFormControl.value">
    SPARA
  </button>

  <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>


</mat-dialog-actions>






