<mat-dialog-content>
	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<h1>Hantera prislista</h1>
		</div>
	</div>

	<div fxLayout="row" fxLayoutGap="20px" class="content">
		<div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
			<div class="container mat-elevation-z1">
				<mat-form-field>
					<input data-cy="searchaddpricelistrow-input" autocomplete="off" matInput [(ngModel)]="tmpQuery"
								 (ngModelChange)="onQueryChanged($event)">
					<mat-label>Sök på artikelbenämning, artikeltyp eller ISO-nummer</mat-label>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</div>
			<div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
				<div fxFlex="50%" class="border-component">
					<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
						<h2>ARTIKELTYPER</h2>
					</div>
					<div class="component first-component">
						<mat-checkbox data-cy="filterH-checkbox" [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel
						</mat-checkbox>
					</div>
					<div class="component">
						<mat-checkbox data-cy="filterT-checkbox" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
						</mat-checkbox>
					</div>
					<div class="component">
						<mat-checkbox data-cy="filterR-checkbox" [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel
						</mat-checkbox>
					</div>
					<div class="component">
						<mat-checkbox data-cy="filterTJ-checkbox" [(ngModel)]="filterTJ" (change)="onFilterChange()">Tjänst
						</mat-checkbox>
					</div>
					<div class="component">
						<mat-checkbox data-cy="filterI-checkbox" [(ngModel)]="filterI" (change)="onFilterChange()">Inställning
						</mat-checkbox>
					</div>
				</div>
				<div fxFlex="50%" class="border-component">
					<div fxLayout="row" fxLayoutAlign="start center" class="component-title">
						<h2>STATUS FÖR ARTIKEL</h2>
					</div>
					<div class="component first-component">
						<mat-checkbox data-cy="filterpublished-checkbox" [(ngModel)]="filterPublished" (change)="onFilterChange()">
							Aktiv
						</mat-checkbox>
					</div>
					<div class="component">
						<mat-checkbox data-cy="filterdiscontinued-checkbox" [(ngModel)]="filterDiscontinued"
													(change)="onFilterChange()">Utgått
						</mat-checkbox>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="searchTotal !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="searchTotal === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
			</div>

		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="100%">
			<div *ngIf="loading">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			<div *ngIf="articles.length && !loading" class="container mat-elevation-z1">

				<mat-table #table [dataSource]="dataSource">

					<ng-container matColumnDef="add">
						<mat-header-cell *matHeaderCellDef fxFlex="15%">
							<button data-cy="addallrows-btn" mat-menu-item (click)="addAllRows()">
								<mat-icon color="accent">add</mat-icon>
								<mat-icon class="tooltip"
													matTooltip="{{helpTexts.values.PRICELIST_ADD_ALL}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</button>

						</mat-header-cell>

						<mat-cell *matCellDef="let element" fxFlex="15%">
							<button data-cy="addrow-btn" mat-menu-item (click)="addRow(element)">
								<mat-icon color="accent">add</mat-icon>
							</button>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="typ">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleType}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="benämning">
						<mat-header-cell *matHeaderCellDef fxFlex="45%"> Benämning</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="45%"> {{element.name}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="artikelnummer">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.number}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status Artikel</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="kategori">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

				</mat-table>
				<div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
					<span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
					<div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
									(click)="goToPage(pageNumber)">{{pageNumber}}</span>
					</div>
					<span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
				</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" class="content">
		<div fxFlex="80%">
			<div *ngIf="show && markedArticles.length" fxLayoutAlign="start">
				<span>Valda artiklar ({{markedArticles.length}})</span>
			</div>
		</div>
	</div>

	<div *ngIf="show" fxLayout="row" class="content">
		<div fxFlex="100%">
			<div *ngIf="loading2">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			<div *ngIf="markedArticles.length && !loading2" class="container mat-elevation-z1">

				<mat-table #table2 [dataSource]="dataSource2">


					<ng-container matColumnDef="remove">

						<mat-header-cell *matHeaderCellDef fxFlex="10%">
							<button data-cy="deleteallrows-btn" mat-menu-item (click)="deleteAllRows()">
								<mat-icon color="warn">remove</mat-icon>
								<mat-icon class="tooltip"
													matTooltip="{{helpTexts.values.PRICELIST_REMOVE_ALL}}"
													[matTooltipShowDelay]="500">info_outline
								</mat-icon>
							</button>

						</mat-header-cell>


						<mat-cell *matCellDef="let element" fxFlex="10%">
							<button data-cy="deleterow-btn" mat-menu-item (click)="deleteRow(element)">
								<mat-icon color="warn">remove</mat-icon>
							</button>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="typ">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleType}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="benämning">
						<mat-header-cell *matHeaderCellDef fxFlex="50%"> Benämning</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="50%"> {{element.name}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="artikelnummer">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.number}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="kategori">
						<mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
						<mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
					</ng-container>


					<mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>

				</mat-table>
				<div *ngIf="markedArticles.length > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
					<span *ngIf="currentPage2 !== 1" class="paginator-nav" (click)="goToPage2(currentPage2 - 1)"><</span>
					<div *ngFor="let pageNumber of paginatorArray2">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage2}"
									(click)="goToPage2(pageNumber)">{{pageNumber}}</span>
					</div>
					<span *ngIf="currentPage2 < totalPages2" class="paginator-nav" (click)="goToPage2(currentPage2 + 1)">></span>
				</div>
			</div>
		</div>
	</div>

</mat-dialog-content>

<!-- 2202 -->

<div fxLayout="row" fxLayoutAlign="end center">
	<mat-dialog-actions>
		<div fxLayoutAlign="start" *ngIf="!show && markedArticles.length">
			<button data-cy="showselected-btn" mat-button (click)="showSelected()">
				VISA VALDA ARTIKLAR ({{markedArticles.length}})
			</button>
		</div>
		<div fxLayoutAlign="start" *ngIf="show && markedArticles.length">
			<button data-cy="hideselected-btn" mat-button (click)="hideSelected()">
				DÖLJ VALDA ARTIKLAR ({{markedArticles.length}})
			</button>
		</div>
		<button data-cy="addchosenarticles-btn" mat-button (click)="done()" [disabled]="!markedArticles.length">
			LÄGG TILL VALDA ARTIKLAR ({{markedArticles.length}})
		</button>
		<button data-cy="cancel-btn" mat-button mat-dialog-close>AVBRYT</button>
	</mat-dialog-actions>
</div>



