<div fxLayout="row" class="component first-component">
	<div fxFlex="90%">
		<h1 *ngIf="data.mediaType !== 'video'">Ladda upp fil eller peka ut url</h1>
		<h1 *ngIf="data.mediaType === 'video'">Lägg till video</h1>
	</div>
	<div fxFlex="10%" fxLayoutAlign="end center">
		<mat-icon *ngIf="helpTextsLoaded && data.mediaType === 'document'" class="tooltip"
							matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_UPLOAD}}"
							[matTooltipShowDelay]="500">info_outline
		</mat-icon>
		<mat-icon *ngIf="helpTextsLoaded && (data.mediaType === 'image' || data.mediaType === 'mainImage')" class="tooltip"
							matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD}}"
							[matTooltipShowDelay]="500">info_outline
		</mat-icon>
	</div>
</div>
<mat-dialog-content>
	<div *ngIf="data.mediaType !== 'video'" fxLayout="column" class="component first-component">
		<mat-radio-group [(ngModel)]="method">
			<div fxLayout="row">
				<mat-radio-button [value]="'upload'">
					<input data-cy="selectfile-input" autocomplete="off" *ngIf="method === 'upload'" hidden id="input-document-id"
								 multiple type="file"
								 accept="{{data.mediaType === 'document' ? 'pdf' : 'png'}}"
								 (change)="fileSelected(getFile($event.target))"/>
					<button class="mat-raised-button mat-button upload-button" mat-raised-button color="primary"
									[ngClass]="{'upload-button-disabled': method !== 'upload'}">
						<label for="input-document-id" class="mat-button">LADDA UPP</label>
					</button>
					<span *ngIf="this.file && this.file.name"> Vald fil: {{file.name}}</span>
				</mat-radio-button>
			</div>
			<div fxLayout="row">
				<mat-radio-button [value]="'link'">
					<mat-form-field class="url-form-field">
						<input data-cy="link-input" autocomplete="off" matInput [disabled]="method !== 'link'" [(ngModel)]="url">
						<mat-label>Url</mat-label>
					</mat-form-field>
				</mat-radio-button>
			</div>
		</mat-radio-group>
	</div>

	<div *ngIf="data.mediaType === 'video'" fxLayout="row" class="component first-component">
		<mat-form-field>
			<input data-cy="url-input" autocomplete="off" matInput required [(ngModel)]="url">
			<mat-label class="icon-label">Url
				<mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
									matTooltip="{{helpTexts.values.PRODUCT_VIDEO_UPLOAD_URL}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
		</mat-form-field>
	</div>

	<div fxLayout="row" class="component">
		<mat-form-field>
			<input data-cy="description-input" autocomplete="off" matInput type="text" [(ngModel)]="description">
			<mat-label *ngIf="data.mediaType === 'image' || data.mediaType === 'mainImage'" class="icon-label">
				Beskrivning
				<mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
									matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD_DESCRIPTION}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
			<mat-label *ngIf="data.mediaType === 'video'" class="icon-label">Beskrivning
				<mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
									matTooltip="{{helpTexts.values.PRODUCT_VIDEO_UPLOAD_DESCRIPTION}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
			<mat-label *ngIf="data.mediaType === 'document'" class="icon-label">Beskrivning
				<mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
									matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_UPLOAD_DESCRIPTION}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
		</mat-form-field>
	</div>

	<div *ngIf="data.mediaType === 'document'" fxLayout="row" class="component">
		<mat-form-field>
			<mat-select data-cy="documenttypes-dropdown" [(ngModel)]="documentType">
				<mat-option *ngFor="let type of documentTypes" [value]="type.id">
					{{ type.value }}
				</mat-option>
			</mat-select>
			<mat-label>Välj dokumenttyp</mat-label>
		</mat-form-field>
	</div>

	<div *ngIf="data.mediaType !== 'document'" fxLayout="row" class="component">
		<mat-form-field>
			<input data-cy="alternativetext-input" autocomplete="off" matInput type="text" [(ngModel)]="alternativeText">
			<mat-label *ngIf="data.mediaType === 'image' || data.mediaType === 'mainImage'" class="icon-label">Alt-text
				<mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
									matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD_ALT}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
			<mat-label *ngIf="data.mediaType === 'video'" class="icon-label">Alt-text
				<mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
									matTooltip="{{helpTexts.values.PRODUCT_VIDEO_UPLOAD_ALT}}"
									[matTooltipShowDelay]="500">info_outline
				</mat-icon>
			</mat-label>
		</mat-form-field>
	</div>

</mat-dialog-content>

<mat-dialog-actions>
	<button data-cy="save-btn" *ngIf="showSaveButton()" mat-button
					(click)="done()">
		SPARA
	</button>
	<button data-cy="cancel-btn" *ngIf="!uploading" mat-button mat-dialog-close>AVBRYT</button>
	<mat-progress-spinner *ngIf="uploading" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
